<div class="main ">
    <div class="container-custom chose__mark border" data-tabs>
        <span class="h1">Подбор по марке</span>
        <div data-tabs-nav>
            <div class="chose__mark-toggle" data-tabs-nav-list="">
                <p class="tog-p current" data-tabs-nav-item="">
                    <a class="tog__p-tog__a" data-tabs-nav-toggle="">Легковые</a>
                </p>
                <p class="tog-p" data-tabs-nav-item="">
                    <a class="tog__p-tog__a" data-tabs-nav-toggle="">Грузовые</a>
                </p>
                <div class="watch-all desktop">
                    <a class="watch__all-p">Смотреть всё</a>
                    <svg class=" i-icon arrow ">
                        <use xlink:href="#arrow"/>
                    </svg>
                </div>
            </div>
        </div>
        <div data-tabs-content="">
            <div class="none current" data-tabs-content-item>
                <ul class="selected__header-link-brand ">
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue ">Audi</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Bmv</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Chevrolet</span>
                            <span class="car__item-name--blue">Citroen</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Dacia</span>
                            <span class="car__item-name--blue">Daewoo</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Audi</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue upper">Bmv</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Chevrolet</span>
                            <span class="car__item-name--blue">Citroen</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Dacia</span>
                            <span class="car__item-name--blue">Dacia</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Audi</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue upper">Bmv</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Chevrolet</span>
                            <span class="car__item-name--blue">Citroen</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Dacia</span>
                            <span class="car__item-name--blue">Dacia</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Audi</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue upper">Bmv</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Chevrolet</span>
                            <span class="car__item-name--blue">Citroen</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Dacia</span>
                            <span class="car__item-name--blue">Dacia</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Audi</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue upper">Bmv</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Chevrolet</span>
                            <span class="car__item-name--blue">Citroen</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Dacia</span>
                            <span class="car__item-name--blue">Dacia</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Audi</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue upper">Bmv</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Chevrolet</span>
                            <span class="car__item-name--blue">Citroen</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Dacia</span>
                            <span class="car__item-name--blue">Dacia</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="none " data-tabs-content-item>
                <ul class="selected__header-link-brand ">
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue ">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue upper">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue upper">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue upper">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue upper">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">A</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">B</span>
                        <div class="nameS">
                            <span class="car__item-name--blue upper">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">C</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                    <li class="car__item">
                        <span class="car__item-letter">D</span>
                        <div class="nameS">
                            <span class="car__item-name--blue">Грузовик</span>
                            <span class="car__item-name--blue">Грузовик</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="watch-all mobile margin50 container-custom">
        <a class="watch__all-p">Смотреть всё</a>
        <svg class=" i-icon arrow ">
            <use xlink:href="#arrow"/>
        </svg>
    </div>

    <div class="container-custom catalog__details">
        <span class="h1">Каталог запчастей</span>
        <%- require("../modules/component-catalog.ejs")() %>
    </div>

    <div class="dop__articles">
        <div class="container-custom ">
        <span class=" h1">
            Сопутствующие товары
        </span>
        </div>
        <div class="margin"></div>
        <%- require("../modules/component-universal-catalog.ejs")() %>
    </div>

    <section class="section-main-slider">
        <div class="container-custom">
            <%- require("../components/elements/main-slider.ejs")() %>
        </div>
    </section>

    <div class="news ">
        <div class="container-custom">
            <div class="flex no-flex-mobile">
                <span class="h1">Новости и акции</span>
                <div class="watch-all">
                    <a class="watch__all-p">Смотреть всё</a>
                    <svg class=" i-icon arrow ">
                        <use xlink:href="#arrow"/>
                    </svg>
                </div>
            </div>

            <div id="sliderNews" class="slider-news">
                <div class="swiper-container">
                    <div class=" flex-space swiper-wrapper">
                        <div class="news-container flex swiper-slide block-out">
                            <div class="block">
                                <a>
                                    <img src="./images/content/news-1.png" alt="news" class="block-img">
                                </a>
                            </div>
                            <div class="block">
                                <p class="block-date">10.05.2020</p>
                                <a class="block-span" href="">GT OIL снижает цены на масло до минимума!</a>
                                <p class="block-text">Только до 31 марта 2020 года вы можете купить 200 литровую бочку
                                    оригинального синтетического корейского масла GT Energy SN 5W-30 всего за 42 550
                                    рублей!</p>
                                <span class="block-to">до 31.03.2020</span>
                            </div>
                        </div>
                        <div class="news-container flex swiper-slide block-out">
                            <div class="block">
                                <a>
                                    <img src="./images/content/news-2.png" alt="news" class="block-img">
                                </a>
                            </div>
                            <div class="block">
                                <p class="block-date">10.05.2020</p>
                                <a class="block-span">Представляем вам уникальный товар GreenCool – Антифриз
                                    Европейского качества</a>
                                <p class="block-text">Антифриз GreenCool при существующей конкуренции со всеми
                                    российскими и
                                    европейскими марками
                                    в Республике БЕЛАРУСЬ – Бренд №1 на протяжении 3-х лет подряд.</p>
                            </div>
                        </div>
                        <div class="news-container flex swiper-slide block-out">
                            <div class="block">
                                <a>
                                    <img src="./images/content/news-2.png" alt="news" class="block-img">
                                </a>
                            </div>
                            <div class="block">
                                <p class="block-date">10.05.2020</p>
                                <a class="block-span">Страница 2 Очень очень очень очень очень длинное название
                                    статьи</a>
                                <p class="block-text">Антифриз GreenCool при существующей конкуренции со всеми
                                    российскими и
                                    европейскими марками
                                    в Республике БЕЛАРУСЬ – Бренд №1 на протяжении 3-х лет подряд.</p>
                            </div>
                        </div>
                        <div class="news-container flex swiper-slide block-out">
                            <div class="block">
                                <a>
                                    <img src="./images/content/news-2.png" alt="news" class="block-img">
                                </a>
                            </div>
                            <div class="block">
                                <p class="block-date">10.05.2020</p>
                                <a class="block-span">Страница 2 Очень очень очень очень очень длинное название
                                    статьи</a>
                                <p class="block-text">Антифриз GreenCool при существующей конкуренции со всеми
                                    российскими и
                                    европейскими марками
                                    в Республике БЕЛАРУСЬ – Бренд №1 на протяжении 3-х лет подряд.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="news-chooser">
                    <div class="btns">
                        <div class="two">
                            <button class="circle-btn swiper-button-prevv">
                                <svg class=" i-icon blue-btn reverse">
                                    <use xlink:href="#blue-btn"/>
                                </svg>
                            </button>
                            <button class="circle-btn swiper-button-nextt">
                                <svg class=" i-icon blue-btn ">
                                    <use xlink:href="#blue-btn"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">

        <div class="container-custom">
            <span class="h1 mobile left">О компании</span>

            <div class="about-top">
                <div class="flex-around">
                    <div class="top-block-left">
                        <div class="numbers orange-numbers">
                            <span class="numbers-big">
                                20 000
                            </span>
                            <p class="numbers-text">
                                Автозапчастей в наличии для автомобилей корейского производства
                            </p>
                        </div>
                        <div class="numbers blue-numbers">
                            <span class="numbers-big">
                                5 000 000
                            </span>
                            <p class="numbers-text">
                                Наименований товаров доступны под заказ в нашем интернет-магазине
                            </p>
                        </div>
                    </div>
                    <div class="top-block-right">
                        <h1 class="h1 desktop left-align">О компании</h1>
                        <span class="about-description">
                            Компания «М Партс» специализируется на оптовых продажах
                            автокомпонентов для автомобилей иностранного производства.
                            Мы являемся официальным дистрибьютором торговых марок PARTS MALL (Корея),
                            GORDON (Тайвань).
                        </span>
                    </div>
                </div>
            </div>
            <div class="about-middle">
                <img src="./images/content/biggest-boy-main.svg" alt="boy" class="about__middle-svg">
            </div>
            <div class="about-low">
                <div class="about__low-block">
                    <p class="block-small">
                        Основное направление деятельности нашей компании, это оптовая и розничная продажа
                        запасных частей для автомобилей, мотоциклов, силовой и другой техники известных мировых
                        производителей. Компания предоставляет весь спектр услуг, связанных с данным видом
                        деятельности, - это подбор запасных частей по каталогам производителей, работа под
                        заказ, отправка товара в любую точку России своими силами или при помощи транспортных
                        компаний, оказание консультативной помощи нашим покупателям и многое другое.
                    </p>
                    <p class="block-small">
                        Одной из приоритетных задач компании, стоит расширение ассортимента запасных частей
                        для автомобилей и мото-силовой техники за счет прямого сотрудничества с производителями
                        качественных запасных частей.
                    </p>
                    <p class="block-small">
                        На нашем складе всегда в наличии широкий, постоянно увеличивающийся ассортимент запасных
                        частей для автомобилей, мотоциклов и другой техники , представленной на нашем рынке.
                        У нас поддерживаются в наличии товары, как для нового, так и для старого модельных рядов.
                    </p>
                    <div class="watch-all-know">
                        <a class="watch__all-p">Узнать больше</a>
                        <svg class=" i-icon arrow ">
                            <use xlink:href="#arrow"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
