<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Каталог</a>
                -
                <a href="" class="crumbs-a">Каталог оригинальных запчастей</a>
            </p>
        </div>
    </div>

    <div class="container-custom">
        <div class="original-parts">
            <span class="h1">Каталог оригинальных запчастей</span>
            <div class="scroll">
            <div class="parts_quad" id="parts_quad">
                <div class="adv"><p class="adv-p">Раннее вы искали</p></div>
                <div class="params-car ">
                    <a href="#">
                    <img src="./images/content/car.png" alt="car">
                    </a>
                    <div class="params">
                        <a class="params-name">Hyundai Solaris седан</a>
                        <p class="params-grey">2010-2017, Бензиновый двигатель, АКК, США</p>
                    </div>
                </div>
                <button class="params-button" >Найти детали</button>
                <div class="params-x" kill-cart>
                    <svg class=" i-icon i-x ">
                        <use xlink:href="#i-x"/>
                    </svg>
                </div>
            </div>
            </div>
        </div>
        <div class="custom-find">
            <!--            <img src="./icons/lupa.svg" alt="" class="lupa">-->
            <svg class=" i-icon lupa-find ">
                <use xlink:href="#lupa"/>
            </svg>
            <input type="text" placeholder="Поиск по VIN" class="custom_find-input">
        </div>
    </div>

    <div class="parameters-auto">
        <div class="container-custom chose__mark" data-tabs>
            <span class="h3">Подобрать другое авто по параметрам</span>
            <div data-tabs-nav>
                <div class="chose__mark-toggle" data-tabs-nav-list="">
                    <p class="tog-p current" data-tabs-nav-item="">
                        <a class="tog__p-tog__a" data-tabs-nav-toggle="">Легковые</a></p>
                    <p class="tog-p" data-tabs-nav-item=""><a class="tog__p-tog__a" data-tabs-nav-toggle="">Грузовые</a>
                    </p>

                </div>
            </div>
            <div data-tabs-content="">
                <div class="none current" data-tabs-content-item>
                    <!--                    Выбрать марку01-->
                    <div class="section border">
                        <label for="check01" class="chose-mark flex-100 ">
                            <a href="" class="strong-a">01.</a>
                            <p class="strong">Выберите марку</p>
<!--                            <a href="" class="change-auto">Изменить марку авто</a>-->
                        </label>
                        <input type="checkbox" id="check01" class="choosen" checked/>
                        <div class="section-content">
                            <div class="custom-find">
                                <!--            <img src="./icons/lupa.svg" alt="" class="lupa">-->
                                <svg class=" i-icon lupa-find ">
                                    <use xlink:href="#lupa"/>
                                </svg>
                                <input type="text" placeholder="Поиск по марке авто" class="custom_find-input">
                            </div>
                            <div class="flex-space scroll  selected__catalog-link-brand">
                                <div class="cars">
                                    <div class="car__item">
                                        <span class="car__item-letter">A</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue ">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter ">B</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">C</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                            <span class="car__item-name--blue">Citroen</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">D</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Dacia</span>
                                            <span class="car__item-name--blue">Daewoo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <span class="car__item-letter">A</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">B</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">C</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                            <span class="car__item-name--blue">Citroen</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">D</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Dacia</span>
                                            <span class="car__item-name--blue">Dacia</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <span class="car__item-letter">A</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">B</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">C</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                            <span class="car__item-name--blue">Citroen</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">D</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Dacia</span>
                                            <span class="car__item-name--blue">Dacia</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <span class="car__item-letter">A</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">B</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">C</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                            <span class="car__item-name--blue">Citroen</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">D</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Dacia</span>
                                            <span class="car__item-name--blue">Dacia</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <span class="car__item-letter">A</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">B</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">C</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                            <span class="car__item-name--blue">Citroen</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">D</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Dacia</span>
                                            <span class="car__item-name--blue">Dacia</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <span class="car__item-letter">A</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">B</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">C</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                            <span class="car__item-name--blue">Citroen</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <span class="car__item-letter">D</span>
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Dacia</span>
                                            <span class="car__item-name--blue">Dacia</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--                    Выбрать модель02-->
                    <div class="section border">
                        <label for="check02" class="chose-mark flex-100 ">
                            <a href="" class="strong-a">02.</a>
                            <p class="strong">Выбрать модель</p>
<!--                            <a href="" class="change-auto">Изменить модель</a>-->
                        </label>
                        <input type="checkbox" id="check02" class="choosen"/>
                        <div class="section-content">
                            <div class="custom-find">
                                <!--            <img src="./icons/lupa.svg" alt="" class="lupa">-->
                                <svg class=" i-icon lupa-find ">
                                    <use xlink:href="#lupa"/>
                                </svg>
                                <input type="text" placeholder="Поиск по модели" class="custom_find-input">
                            </div>
                            <div class="flex-space scroll  selected__catalog-link-brand">
                                <div class="cars">
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue ">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Audi</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">Bmv</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">Chevrolet</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--                    Выбрать год выпуска03?-->
                    <div class="section border">
                        <label for="check03" class="chose-mark flex-100 ">
                            <a href="" class="strong-a">03.</a>
                            <p class="strong">Выбрать год выпуска</p>
                            <!--                            <a href="" class="change-auto">Изменить год выпуска</a>-->
                        </label>
                        <input type="checkbox" id="check03" class="choosen"/>
                        <div class="section-content">
                            <div class="custom-find">
                                <!--            <img src="./icons/lupa.svg" alt="" class="lupa">-->
                                <svg class=" i-icon lupa-find ">
                                    <use xlink:href="#lupa"/>
                                </svg>
                                <input type="text" placeholder="Поиск по году выпуска" class="custom_find-input">
                            </div>
                            <div class="flex-space scroll  selected__catalog-link-brand w-40pr">
                                <div class="cars">
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue ">2011</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">2012</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">2013</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">2014</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">2015</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">2016</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="cars">
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">2017</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue upper">2018</span>
                                        </div>
                                    </div>
                                    <div class="car__item">
                                        <div class="nameS">
                                            <span class="car__item-name--blue">2019</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--(нельзя выбрать) категорию ТС-->
                    <div class="section border">
                        <label for="" class="chose-mark-default flex-100 ">
                            <a href="" class="strong-a">04.</a>
                            <p class="strong grey">Категория ТС: Passenger</p>
                            <span class="grey-auto">Выбрано</span>
                        </label>
<!--                        <input type="checkbox" id="check03"/>-->
                    </div>
                    <!--(сервый) Рынок-->
                    <div class="section border">
                        <label for="" class="chose-mark-default flex-100 ">
                            <a href="" class="strong-a grey-color">05.</a>
                            <p class="strong grey-color">Рынок</p>
<!--                            <span href="" class="grey-auto">Выбрано</span>-->
                        </label>
                        <!--                        <input type="checkbox" id="check03"/>-->
                    </div>
                    <!--(сервый) Объём двигателя-->
                    <div class="section border">
                        <label for="" class="chose-mark-default flex-100 ">
                            <a href="" class="strong-a grey-color">06.</a>
                            <p class="strong grey-color">Рабочий объём двигателя</p>
                            <!--                            <span href="" class="grey-auto">Выбрано</span>-->
                        </label>
                        <!--                        <input type="checkbox" id="check03"/>-->
                    </div>

                    <!--                    Выбрать кузов04-->
                    <div class="section border">
                        <label for="check04" class="chose-mark flex-100 ">
                            <a href="" class="strong-a ">07.</a>
                            <p class="strong ">Выбрать кузов</p>
<!--                            <a href="" class="change-auto">Изменить модель</a>-->
                        </label>
                        <input type="checkbox" id="check04" class="choosen"/>
                        <div class="section-content">
                            <div class="scroll car-cards">
                                <div class="cart ">
                                    <img src="./images/content/carcase-1.png" alt="carcase-1">
                                    <a href="">Любой кузов</a>
                                    <div class="true">
                                        <svg class=" i-icon chosen ">
                                            <use xlink:href="#checked"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="cart">
                                    <img src="./images/content/car.png" alt="carcase-2">
                                    <a href="">Solaris седан (RB)</a>
                                    <div class="true">
                                        <svg class=" i-icon chosen ">
                                            <use xlink:href="#checked"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="cart">
                                    <img src="./images/content/car.png" alt="carcase-3">
                                    <a href="">Solaris седан (RB)</a>
                                    <div class="true">
                                        <svg class=" i-icon chosen ">
                                            <use xlink:href="#checked"/>
                                        </svg>
                                    </div>
                                </div>
                                <div class="cart">
                                    <img src="./images/content/car.png" alt="carcase-4">
                                    <a href="">Solaris седан (RB)</a>
                                    <div class="true">
                                        <svg class=" i-icon chosen ">
                                            <use xlink:href="#checked"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                    Коробка передач-->
                    <div class="section border">
                        <label for="" class="chose-mark-default flex-100 ">
                            <a href="" class="strong-a grey-color">08.</a>
                            <p class="strong grey-color">Коробка передач</p>
                            <!--                            <span href="" class="grey-auto">Выбрано</span>-->
                        </label>
                        <!--                        <input type="checkbox" id="check03"/>-->
                    </div>
                    <!--                    Топливо-->
                    <div class="section border">
                        <label for="" class="chose-mark-default flex-100 ">
                            <a href="" class="strong-a ">09.</a>
                            <p class="strong ">Топливо:   GASOLINE - UNLEADED</p>
                            <span class="grey-auto">Выбрано</span>
                        </label>
                        <!--                        <input type="checkbox" id="check03"/>-->
                    </div>
                    <!--                    Выбрать модификацию04-->
<!--                    <script> function selectLevel(obj){-->
<!--                        console.log('init');-->
<!--                        console.log(obj);-->
<!--                        if (obj.classList[2] == "level-clicked"){-->
<!--                            obj.childNodes[1].classList.remove('table-strong-clicked');-->
<!--                            obj.childNodes[13].classList.remove('checked-clicked')-->
<!--                            obj.classList.remove('level-clicked')-->
<!--                            console.log(obj.childNodes[1].classList);-->
<!--                        } else{-->
<!--                        obj.classList.add('level-clicked');-->
<!--                        var title = obj.childNodes[1].classList.add('table-strong-clicked');-->
<!--                        var last = obj.childNodes[13].classList.add('checked-clicked');-->
<!--                        }-->
<!--                        }</script>-->
<!--                    <div class="section border">-->
<!--                        <label for="check05" class="chose-mark flex-100 ">-->
<!--                            <a href="" class="strong-a">04.</a>-->
<!--                            <p class="strong">Выбрать модификацию</p>-->
<!--                        </label>-->
<!--                        <input type="checkbox" id="check05"/>-->
<!--                        <div class="section-content scroll">-->
<!--                            <div class="modif-table">-->
<!--                                <div class="table-content">-->
<!--                                    <div class="level-custom border" >-->
<!--                                        <p class="table_grey-p w-25pr">Модификация</p>-->
<!--                                        <p class="table_grey-p w-10pr">Год</p>-->
<!--                                        <p class="table_grey-p w-15pr">Модель двигателя</p>-->
<!--                                        <p class="table_grey-p w-15pr">Тип двигателя</p>-->
<!--                                        <p class="table_grey-p w-17pr">Рынок</p>-->
<!--                                        <p class="table_grey-p w-18pr">Коробка передач</p>-->
<!--                                    </div>-->
<!--                                    <div class="level border" onclick="selectLevel(this)">-->
<!--                                        <p class="table-strong w-25pr">Hyundai Solaris седан 1.6</p>-->
<!--                                        <p class="table_common-p w-10pr">2011</p>-->
<!--                                        <p class="table_common-p w-15pr">DOHC - MPI</p>-->
<!--                                        <p class="table_common-p w-15pr">Бензиновый</p>-->
<!--                                        <p class="table_common-p w-17pr">США</p>-->
<!--                                        <p class="table_common-p w-15pr">АКК</p>-->
<!--                                        <svg class=" i-icon checked ">-->
<!--                                            <use xlink:href="#checked"/>-->
<!--                                        </svg>-->
<!--                                    </div>-->
<!--                                    <div class="level border" onclick="selectLevel(this)">-->
<!--                                        <p class="table-strong w-25pr">Hyundai Solaris седан 1.6</p>-->
<!--                                        <p class="table_common-p w-10pr">2011</p>-->
<!--                                        <p class="table_common-p w-15pr">DOHC - MPI</p>-->
<!--                                        <p class="table_common-p w-15pr">Бензиновый</p>-->
<!--                                        <p class="table_common-p w-17pr">США</p>-->
<!--                                        <p class="table_common-p w-15pr">АКК</p>-->
<!--                                        <svg class=" i-icon checked ">-->
<!--                                            <use xlink:href="#checked"/>-->
<!--                                        </svg>-->
<!--                                    </div>-->
<!--                                    <div class="level border" onclick="selectLevel(this)">-->
<!--                                        <p class="table-strong w-25pr">Hyundai Solaris седан 1.6</p>-->
<!--                                        <p class="table_common-p w-10pr">2011</p>-->
<!--                                        <p class="table_common-p w-15pr">DOHC - MPI</p>-->
<!--                                        <p class="table_common-p w-15pr">Бензиновый</p>-->
<!--                                        <p class="table_common-p w-17pr">США</p>-->
<!--                                        <p class="table_common-p w-15pr">АКК</p>-->
<!--                                        <svg class=" i-icon checked ">-->
<!--                                            <use xlink:href="#checked"/>-->
<!--                                        </svg>-->
<!--                                    </div>-->
<!--                                    <div class="level border" onclick="selectLevel(this)">-->
<!--                                        <p class="table-strong w-25pr">Hyundai Solaris седан 1.6</p>-->
<!--                                        <p class="table_common-p w-10pr">2011</p>-->
<!--                                        <p class="table_common-p w-15pr">DOHC - MPI</p>-->
<!--                                        <p class="table_common-p w-15pr">Бензиновый</p>-->
<!--                                        <p class="table_common-p w-17pr">США</p>-->
<!--                                        <p class="table_common-p w-15pr">АКК</p>-->
<!--                                        <svg class=" i-icon checked ">-->
<!--                                            <use xlink:href="#checked"/>-->
<!--                                        </svg>-->
<!--                                    </div>-->
<!--                                    <div class="level border" onclick="selectLevel(this)">-->
<!--                                        <p class="table-strong w-25pr">Hyundai Solaris седан 1.6</p>-->
<!--                                        <p class="table_common-p w-10pr">2011</p>-->
<!--                                        <p class="table_common-p w-15pr">DOHC - MPI</p>-->
<!--                                        <p class="table_common-p w-15pr">Бензиновый</p>-->
<!--                                        <p class="table_common-p w-17pr">США</p>-->
<!--                                        <p class="table_common-p w-15pr">АКК</p>-->
<!--                                        <svg class=" i-icon checked ">-->
<!--                                            <use xlink:href="#checked"/>-->
<!--                                        </svg>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="catalog-btn">
                    <button class="content__phone-btn">Показать автомобили</button>
                    </div>

                </div>
                <div class="none" data-tabs-content-item>
                    <div class="flex-space selected__catalog-link-brand scroll">
                        <div class="cars">
                            <div class="car__item">
                                <span class="car__item-letter">A</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue ">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">B</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">C</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">D</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                        </div>
                        <div class="cars">
                            <div class="car__item">
                                <span class="car__item-letter">A</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">B</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">C</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">D</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                        </div>
                        <div class="cars">
                            <div class="car__item">
                                <span class="car__item-letter">A</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">B</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">C</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">D</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                        </div>
                        <div class="cars">
                            <div class="car__item">
                                <span class="car__item-letter">A</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">B</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">C</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">D</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                        </div>
                        <div class="cars">
                            <div class="car__item">
                                <span class="car__item-letter">A</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">B</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">C</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">D</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                        </div>
                        <div class="cars">
                            <div class="car__item">
                                <span class="car__item-letter">A</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">B</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">C</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                            <div class="car__item">
                                <span class="car__item-letter">D</span>
                                <div class="nameS">
                                    <span class="car__item-name--blue">Грузовик</span>
                                    <span class="car__item-name--blue">Грузовик</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container-custom">
        <div class="seo-text">
            <p class="h2">
                Каталог оригинальных запчастей
            </p>
            <p class="common-p">
                Основное направление деятельности нашей компании, это оптовая и розничная продажа запасных частей для
                автомобилей, мотоциклов, силовой и другой техники известных мировых производителей. Компания
                предоставляет весь спектр услуг, связанных с данным видом деятельности, - это подбор запасных частей по
                каталогам производителей, работа под заказ, отправка товара в любую точку России своими силами или при
                помощи транспортных компаний, оказание консультативной помощи нашим покупателям и многое другое.
                Одной из приоритетных задач компании, стоит расширение ассортимента запасных частей для автомобилей и
                мото-силовой техники за счет прямого сотрудничества с производителями качественных запасных частей.
                На нашем складе всегда в наличии широкий, постоянно увеличивающийся ассортимент запасных частей для
                автомобилей, мотоциклов и другой техники , представленной на нашем рынке. У нас поддерживаются в наличии
                товары, как для нового, так и для старого модельных рядов.
            </p>
        </div>
    </div>
</div>

