@import "../media.css";
@import "../variables.css";

.items-parts-access{
    margin-top: 24px;
}

.mosaic-unit-accessories{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 33.3%;

    border-right:1px solid #EDEDED;
    border-bottom:1px solid #EDEDED;
    background-color: white;
    cursor:pointer;
    padding: 20px 18px 20px;
    img{
        display: block;
        text-align: center;
        margin:0 auto 15px;
        height: 160px;
    }

    .grey{
        margin:8px auto 10px;
        display: block;
        /*max-width:200px;*/
        text-align: left;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B6B6B6;
    }

    &:hover{
         box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
         z-index: 2;
         border:none;
     }

    &:hover .mosaic-a{
         color:#F57E20;
     }


.mosaic-a-access{
        text-align: left;
        display: block;
        margin:0 auto;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 18px;
        color: #224089;
        &:hover{
             color:#F57E20;
         }
    }

    .line{
        text-align: left;
        display: block;
        margin:0 auto;
    }

    .grey-note{
        margin-right:5px ;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B6B6B6;
    }

    .boldd{
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
    }
}

.star{
    display: block;
    width: 20px;
    height: 20px;
    min-width: 20px;
    fill:none;
    stroke: black;
    position: relative;
    text-align: right;
    margin-left: auto;
}

.star:hover{
    stroke: #F57E20;
}

.star-checked{
    display: block;
    position: relative;
    text-align: right;
    margin-left: auto;
    width: 20px;
    height: 20px;
    min-width: 20px;
    fill:#F57E20;
    stroke: #F57E20;
}

.star-checked:hover{
    stroke: #F57E20;
    fill: none;
}


.pages{
    width: 100%;
    margin-top: 30px;
}

.pages_btn-a{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #224089;

}

.pages-numbers{
    margin:auto;
}

.pages_numbers-number{
    margin:0 18px;
    cursor: pointer;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #224089;
}

@media screen and (max-width: 1000px) {
    .items-parts-access {
        flex-flow: row wrap;
    }
}

@media screen and (max-width: 700px){
    .line{
        flex-flow: row wrap;
        display: flex!important;

        .grey-note{
            width: 100%;
        }
        .boldd{
            width: 100%;
        }
    }

    .mosaic-unit-accessories{
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .mosaic-unit-accessories{
        width: 100%;
    }
}
