@import "../media.css";
@import "../variables.css";

.api-bc{
    display: flex;
    flex-flow: column;
    background-image:  url("../images/content/api-bc.png");
    background-size: cover;
    width: 100%;
    min-width: 100%;
}

.documents-img{
    height: 85px;
    width: 85px;
    fill: transparent;
    display: block;
    margin: 50px auto 15px;
}

.documents-btn{
    margin:0 auto 50px;
}

