@import "../media.css";
@import "../variables.css";

.brand_item-main{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 30px;
    margin-bottom: 80px;
    padding-bottom: 40px;
}

.brand_item-main-bar{
    width: 49%;
}

.brand_item-content_block-link{
    margin-top: 15px;
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #224089;
}

.brand_item-content_block-img{
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
}

.advantage-date_grey{
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2em;
    color: #CDCDCD;
}

.advantage-orange{
    margin-right: 20%;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #F57E20;
}

.orange-border-l{
    border-left: 3px solid #F57E20;
    padding-left: 65px;
}

.orange-subtitle{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    color: #F57E20;
}

.advantage-common_p{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.orange_selected{
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #F57E20;
}

.advantage-bold_p{
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
}

.brand_item-main-advantage{
    margin-bottom: 30px;
}

.advantage-li{
    padding-left:30px;
}

.advantage-li p{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}

.advantage-li:before{
    display: block;
    background: center no-repeat url("../images/icons/point.png");
    padding-right: 20px; /* Расстояние от маркера до текста */
}

.brand-img{
    cursor: pointer;
    width: 48%;
    margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
    .brand_item-main-bar{
         width: 100%;
    }

    .brand_item-content_block{
        margin-top: 20px;
    }
}

@media screen and (max-width: 1000px){
    .space{
        display: none;
    }
    .space-small{
        display: none;
    }
}

