@import "../media.css";
@import "../variables.css";

.brands-blocks{
    border-top: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    display: flex;
    flex-flow: row wrap;
}

.brand-block{
    width: 25%;
    display: flex;
    flex-flow: column;
    padding:25px;
    border-left: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

.brand_block-img{
    margin: auto 0;
    padding:49px 0 58px;
    width: 100%;
}

.brand_block-a{
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #224089;
}

@media screen and (max-width: 600px){
    .brand-block {
        width: 50%;
    }

}

