@import "../media.css";
@import "../variables.css";

.breadcrumbs-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.breadcrumbs-list__item {
    margin: 0;
    padding: 0;
    font-size: 11px;
    &:before {
        content: none;
    }
    a {
        display: inline-block;
        position: relative;
        margin-right: 17px;
        color: var(--placeholder);
        &:after {
            content: '—';
            position: absolute;
            top: 0;
            right: -14px;
        }
        span {
            border-bottom: 1px solid var(--placeholder);
            transition: var(--transition);
        }
        &:hover {
            span {
                border-color: transparent;
            }
        }
    }
    span {
        color: var(--placeholder);
    }
}
