@import "../media.css";
@import "../variables.css";

.basket-items-list-table{
    /*min-width:1100px;*/

    border-collapse: collapse;
    tr{
        border-bottom: 1px solid #EDEDED;
        vertical-align: top;
    }
    td{
        /*padding-top: 16px;*/
        /*padding-bottom: 12px;*/
        /*padding-right: 15px;*/
        /*padding-left: 15px;*/
        padding: 20px 10px 12px
    }
}

.basket-items-list-table-first{
    vertical-align: inherit!important;

}

.basket-items-list-item-container {
    height: 120px;

    &-expend {
        .basket-items-list-item-descriptions,
        .basket-items-list-item-descriptions-title
        .basket-items-list-item-price {
            pointer-events: none;
            opacity: 0.3;
        }
    }

    .blue{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #224089;
    }
    .info-icons{
        margin-top: 5px;
    }
    .grey{
        margin-right: 3px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #B6B6B6;
    }
    .info-rows{
        margin-top: 8px;
        span{
            margin-bottom: 3px;
        }
    }

}

.basket-items-list-item-descriptions-inner, .basket-items-list-item-descriptions-title-inner  {
    display: flex;
}
.basket-item-block-article {
    width: 80%;
}
.basket-items-list-item-svg{
    width: 20%;
}

.basket-item-image-link {
    img{
        width: 70px;
        height: 70px;
    }
}

.basket-item-block-amount {
    margin-top: -8px;

}
.basket-item-block-comment{
    display: block;
    margin-top: -8px;
}
.red{
    color:#ED4242;
}

.message-red{
    z-index: 4;
    position: absolute;
    margin-top: -120px;
    margin-left: -230px;
    display: none;
    background-color: #FFEBEB;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    width: 500px;
    padding:20px 30px;
}

.message-red-find{
    z-index: 4;
    position: absolute;
    margin-top: -85px;
    margin-left: -230px;
    display: none;
    background-color: #FFEBEB;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    width: 500px;
    padding:20px 30px;
}

.attention-red{
    width: 20px;
    height: 20px;
    stroke: white;
    fill: #ED4242;
    &:hover{
         stroke: #ED4242;
         fill: white;
     }
}
.attention-red:hover+.message-red{
    display: block!important;
}

.attention-red:hover+.message-red-find{
    display: block!important;
}
.basket-item-price-current-text,
.basket-item-price-old-text {
    white-space: nowrap;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
}
.basket-item-actions-remove {
    svg {

    }
    &:hover {
        svg {

        }
    }
}
.basket-items-list-item-removed-block {
    a {

        svg {

        }
        &:hover {
            svg {

            }
        }
    }
}

.basket-list__item {
    margin-top: 26px;
    width: 43%;
    margin-left:auto;
    margin-right:40px;

    .sorting-select {

    }
}
.basket-checkout-section-inner {
    form {
        margin-bottom: 0;
    }
}
.basket-checkout-block-total-title {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #B6B6B6;
}
.basket-coupon-block-total-price-current {
    margin-bottom: 24px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}
.float-left{
    float:left;
}

.price_table-head-unit{
    .grey{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B6B6B6;
    }
}

/*.border-top{*/
/*    border-bottom: 1px solid red;*/
/*}*/
.basket-item-block-actions{
    margin-top: 12px;

}

.i-x-none{
    cursor: pointer;
    width: 16px;
    height: 16px;
    fill: #D1D1D1;
    stroke: #D1D1D1;
    &:hover{
        stroke: #F57E20;
     }
}

.basket-btns{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    button{
        margin-bottom:20px ;
    }
}

.white-btn-basket{
    /*margin:auto;*/
    padding:10px 0;
    display: block;
    height: 50px;
    width: 260px;
    border: 1px solid #F57E20;
    outline: none;
    cursor: pointer;
    background-color: white;
    color: #F57E20;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.white-btn-basket:hover{
    border: none;
    cursor: pointer;
    background-color: #F57E20;
    color: white;
    a{
        color: white;
    }
}

.basket-quantity{
    margin-top: 0;
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
    .basket-items-list-table{
        min-width:1100px;
 }

}

@media screen and (max-width: 700px) {
    .info-rows{
        flex-flow: row wrap;
    }
    .basket-quantity{
        margin-top: 0;
    }
    .basket-btns{
        .phone-100pr{
            width: 100%;
        }
        button{
            margin-bottom:20px ;
        }
        .content__phone-btn{
            width: 100%;
        }
        .white-btn-basket{
            width: 100%;
        }
    }
    .basket-items-list-table{
        margin-top: 16px;
        display: flex;
        tr{
            border-top: 1px solid #EDEDED;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-around;
            padding-top: 12px;
            padding-bottom: 12px;
        }
        td{
            /*padding:12px 10px ;*/
            padding:0 10px;
        }
    }
    .basket-item-price-current-text .grey-color{
        white-space: normal;
    }
    .basket-items-list-item-amount, .basket-items-list-item-price{
        margin-top: 20px;
    }

    .basket-items-list-item-price{
        width: 45%;
    }
    .basket-item-price-current{
        display: flex;

    }
    .phone-no-flex{
        display: block;
    }
    .basket-items-list-item-svg{
        margin-top: -40px;
    }
    .tbody{
        display: flex;
        flex-flow: column;
    }
    .basket-items-list-item-descriptions{
        padding: 0;
        width: 20%;
    }
    .basket-items-list-item-descriptions-title{
        width: 80%;
        margin-left: 20%;
    }
    .basket-items-list-item-from{
        width: 80%;
        .basket-items-list-item-descriptions-inner-num{
            display: flex;
            margin-top: 10px;
            .info-icons{
                margin-left: 10px;
                margin-top: 0;
            }
        }
    }
    .basket-items-list-table-first{
        display: none!important;
    }
    .basket-items-list-item-container{
        height: auto;
    }
    .basket-items-list-item-descriptions-inner{
        /*width: 50px;*/
        /*height: 50px;*/
    }
    .basket-item-block-image{
        width: 50px;
        height: 50px;
    }
    .basket-items-list-item-descriptions{
        /*width: 50px;*/
    }
    .basket-items-list-item-comment{
        width:100%;
        textarea{
            width: 100%;
        }
    }
    .basket-items-list-item-remove{
        margin-left: auto;
        margin-right: 5%;
        margin-top: -170px;
    }
    .basket-list__item {
        margin-top: 26px;
        width: 90%;
        margin-left:auto;
        margin-right:auto;
    }
    .content-head__title{
        margin-left: 5%;
    }
}

@media screen and (max-width: 800px) {
.grey + span{
    color: #224089;
    border-bottom: 1px dotted;
    height: fit-content;
}
}