@import "../media.css";
@import "../variables.css";

.contact-cards{
    border-top:1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    display: flex;
    flex-flow: wrap;
}

.contact_cards-content{
    display: flex;
    flex-flow: column;
}

.contact-card{
    display: flex;
    padding: 40px 50px;

    justify-content: space-between;
    width: 50%;
    border-left: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;

}

.map-margins-contacts{
    margin: 50px 60px;
    height: 450px;
}


@media screen and (max-width: 800px){
    .map-margins-contacts {
        margin: 30px 20px;
    }
    .contact-card{
        padding:20px 25px;
    }
}

@media screen and (max-width: 800px){
    .contact-card {
        width: 100%;
    }
}
