@import "../media.css";
@import "../variables.css";

.delivery-a-blue{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #224089;
}

.delivery_block-img{
    margin: auto;
    padding:0 10px 30px;
    max-height: 135px;
    width: 100%;
    object-fit: contain;
}

.delivery-block{
    width: 25%;
    display: flex;
    flex-flow: column;
    padding:55px 30px 30px;
    border-left: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

@media screen and (max-width: 800px){
    .delivery-block {
        width: 33.3%;
    }
}

@media screen and (max-width: 600px){
    .delivery-block {
        width: 50%;
    }
}

