@import "../media.css";
@import "../variables.css";

.find_title{
    margin-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 12px;
    border-bottom: 1px solid #EDEDED;
}

.find_details-head{
    height: 80px;

    .grey{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B6B6B6;
        margin-right: 4px;
    }

    .orange-span{
        cursor: pointer;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        /*color: #F57E20;*/
        color: #224089;
        white-space: nowrap;
    }

    &.orange{
        .orange-span{
            color: #F57E20;
        }

        .boldd{
            color: #F57E20;
        }
     }

    .find_details-info_part{
        margin-top: 2px;
        margin-left: 15px;
    }

    .head-left{
        display: flex;
    }

    .brand{
        margin-left: 15px;
    }

    .small-info{
        p{
            margin-top: 6px;
            margin-bottom: 4px;
        }
    }

    .grey-note{
        margin-right: 5px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B6B6B6;
    }

    .boldd{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: black;
    }

    .line{
        margin-bottom: 16px;
    }



}

.shadow{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.space{
    height: 150px;
    width: 100%;
}

.space-small{
    height: 150px;
    width: 100%;
}

.basket-find{
    margin-left: auto;
    margin-right: 24px;
}

.toggle-text{
    background-color: white;
    outline: none;
    border: none;

    margin: auto;
    cursor: pointer;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #F57E20;

    span{
        margin-right: 5px;
    }
}

.vector-big {
    width: 17px;
    height: 10px;
    margin-right: 15px;
    margin-top: 4px;
    fill: #F57E20;
}

.opacity-0{
    opacity: 0;
}

.opacity-03{
    opacity: 0.3;
}

.opacity-100{
    opacity: 1;
}

.change-block{
    margin-top: 30px;
    height: auto;
    min-height: 100px;
    width: 100%;
    background: #FFF0E4;

    .change_block-big{
        margin-bottom: 10px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 18px;
        color: #000000;
    }

    .change_block-small{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #F57E20;
    }

    .change-block-inner{
        /*margin: auto;*/
        padding: 30px;
        display: flex;
        flex-flow: column;
    }
}

.find_details-head-star{
    margin-left: 25%;
}

.auto{
    margin:auto;
}

.head-right{
    width: 40%;
    margin:0 0 10px auto;
    display: flex;
    justify-content: space-between;
}

.h-auto{
    height: auto!important;
}

@media screen and (max-width: 1000px) {
    .find_details-head-star{
        margin-left: 6%;
    }

    .find_details-head .brand {
        margin-left: 0;
    }

    .find_details-head{
        height: auto;
    }

    .price_table-special{
        width: 30%;
        display: flex!important;
        margin-left: auto;
        padding:10px 0;
    }


    .info_top-inner {
        flex-flow: nowrap;
    }

    .head-left{
        justify-content: space-around;
    }

}

.price_table-level_special {
    flex-flow: row wrap;
    height: 90px;
    flex-direction: column;
    border-bottom: 1px solid #EDEDED;
    padding-top:10px;

}


@media screen and (max-width: 800px){
    .unit-first{
        width: 100%!important;
    }

    .find_details-head{
        display: block!important;
    }

    .info_top-inner {
        flex-flow: row wrap;
    }

    .head-left{
        img{
            height: 50px;
        }
    }

    .find_details-head-star{
        margin-left: 0;
    }

    .baskets{
        /*margin: auto 0;*/
        .basket-find{
            margin-right: 0;
        }
    }

    .line{
        flex-flow: wrap;
    }

    .grey-note{
        width: fit-content!important;
    }

    .boldd{
        width: fit-content!important;
    }

    .brand{
        margin-bottom: 10px;
    }

    .orange-span{
        white-space: normal!important;
    }

    .head-right{
        width: 95%;
        margin:0 auto 10px;
    }

    .price_table-level_special {
        display: flex;
        flex-flow: row wrap;
        height: 180px;
        flex-direction: column;
        border-bottom: 1px solid #EDEDED;
        padding-top:10px;

    }

    .specials-sublevels{
        div{
            height: 25px;
        }
    }
}
