@import "../media.css";
@import "../variables.css";

.upper_header {
    height: 50px;
    border-bottom: 1px solid #EDEDED;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.flex-center{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
}

.header-nav__a {
    cursor: pointer;
    text-align: center;
    margin: auto;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}

.header-nav__a:hover {
    color: #F57E20;
}

ul {
    display: block;
}

li {
    text-decoration: none;
    list-style-type: none;
    margin: auto;
}

a:hover {
    color: #F57E20;
}

li::before {
    text-decoration: none;
    list-style-type: none;
    display: none;
}

li:hover .submenu {
    display: block;
}

.top {
    margin-top: -5px;
}



.apart{
    margin-top:26px;
}

.apart::before{
    height: 10px;
    display: block;
    position: absolute;
    width: 250px;
    content: '  ';
    padding:15px;
    top: -30px;
}

.header-phone__a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    outline: none;
}

.header__phone{
    margin:auto 20px;
}

.header__location {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    margin-right: 10px;
}

.header-location__p {
    /*display: contents;*/
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #224089;
    background-color: white;
}

.header-location__img {
    float: left;
    fill:#224089;
    height: 18px;
    margin: auto!important;
}

.header-location__img-registration {
    float: left;
    fill:#224089;
    height: 18px;
    margin: 0!important;
}

.header__location:hover .header-location__img{
    fill: #F57E20;
}

.header-location__img:hover+.header-location__p{
    color:#F57E20;
}

.header-location__p {
    margin: auto 4px;
}

.header__help {
    width: 250px;
}

.header-help__button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background-color: #F57E20;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.header-help__button:hover {
    background-color: #F5A020;
}

.header-help__button:active {
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.25);
}

.header-help__img {
    margin: auto 0;
}

.header-help__span {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin: auto 6px;
}

.middle__header {
    height: 70px;
}


.middle__header-items {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: 690px;
}

.item {
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    cursor: pointer;
}

.item:hover {
    color: #F57E20;
}

.header-menu__icons {
    width: 250px;
    display: flex;
}

.menu__icons {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    margin: auto;
}

.menu__icons-icon {
    cursor: pointer;
    width: 65px;
    height: 100%;
    margin: 0;
    display: flex;
    border-left: 1px solid #EDEDED;
}

.border-left-none{
    border-left: none;
}

.border-bottom-none{
    border-bottom: none;
}

.menu__icons-icon__basket {
    cursor: pointer;
    display: flex;
    border-left: 1px solid #EDEDED;
    width: 115px;
}


.basket-money {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
}

.icon {
    margin: 10px auto;
    width: 25px;
    height: 23px;
    fill:#000000;
}

.header-icon {
    margin: 10px auto;
    width: 25px;
    height: 23px;
    fill:white;
}

.icon:hover {
    color: #F57E20;
    fill: #F57E20;
}

.ellipse {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 35px;
    margin-top: 5px;
}

.ellipse-span {
    color: white;
    position: relative;
    bottom: 19px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    display: block;
}

.ellipse-img{
    width: 100%;
    height: 100%;
}

.orange-margin {
    margin-left: 30px;
    margin-top: 5px;
}

.selected__header-wrap {
    background-color: #224089;
    padding-bottom: 35px;
}

.flex-custom {
    display: flex;
    justify-content: space-between;
    width: 530px;
    padding-top: 24px;
}

.link__p {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    margin:12px 0;
}

.wrap {
    width: 95%;
    margin: auto;
}

.search {
    width: 100%;
    height: 50px;
    display: flex;
}

.search__input {
    width: 96%;
    border: none;
    outline: none;
    padding: 19px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

    -webkit-appearance: none;
}

.search__input::placeholder {
    color: #C6C6C6;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.search__button {
    width: 50px;
    border: none;
    outline: none;
    background-color: #F57E20;
    cursor: pointer;
}

.selected {
    color: #F57E20;
}


.none {
    display: none!important;
}

.car__item {
    display: flex;
    margin-bottom: 11px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
}

.car__item-letter {
    margin-right: 30px;

    color: #F57E20;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.nameS {
    width: 85px;
}

.car__item-name--blue {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /*color: #FFFFFF;*/
    color: #224089;
}

.car__item-name--blue:hover {
    color: #F57E20;
    border-bottom: 2px solid #F57E20;
    cursor: pointer;
}

.mobile {
    display: none;
}

.tab__content{
    display: none;
}

.display{
    display: block!important;
}


.current{
    color: #F57E20;
    display: block!important;
}

.current .tog__p-tog__a{
    border-bottom: 3px solid #F57E20;
    color: #F57E20;
    padding-bottom: 18px;
}

.upper{
    text-transform: uppercase;
}

.container-custom{
    max-width: 1250px ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.contents{
    display: contents;
}

/*fixed header*/
.fixed__header{
    top:0;
    background-color: #224089;
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-flow: column;
    transition: all 0.4s ease;

}

.burger{
    width: 20px;
    height: 17px;
    fill: white;
    stroke: white;
    margin:auto;
}

.burger-black{
    width: 20px;
    height: 17px;
    fill: black;
    stroke: black;
    margin:auto 8%;
}

@media screen and (max-width: 1140px) {
    .header__help {
        width: 130px;
    }

    .middle__header-items {
        width: 510px;
    }

    .mobile {
        display: none;
    }

    .tables{
        display: block;
    }


    .header__phone{
        margin: auto 10px;
    }

    .upper_header{
        padding: 0 10px;
    }

    .header-help__button{
        flex-flow: row nowrap;
    }

    .menu__icons-icon{
        width: 60px;
    }
}


@media screen and (max-width: 950px) {

    .tables{
        display: none;
    }

    .wrap {
        width: 100%;
    }

    .upper_header {
        height: 35px;
        padding:0;
    }

    .header-nav {
        display: none;
    }

    .header__location {
        width: auto;
        height: 35px;
    }

    .header-location__p {
        font-size: 11px;
    }

    .header-location__img {
        height: 18px;
        margin: auto;
    }

    .header__help {
        width: 107px;
        height: 35px;
    }

    .header-help__button {
        flex-flow: row nowrap;
        height: 35px;
    }

    .header-help__img {
        width: 22px;
        height: 22px;
    }

    .header-help__span {
        font-size: 11px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .header-phone__a {
        font-size: 12px;
        line-height: 12px;
        margin-left: 13px;
    }

    .middle__header {
        height: 50px;
    }

    .middle__header-items {
        display: none;
    }

    .basket-money {
        display: none;
    }

    .menu__icons-icon__basket {
        width: 60px;
    }


    .menu__icons-icon {
        width: 60px;
    }

    .header-menu__icons {
        width: auto;
    }




    .link__p{
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 18px;
        letter-spacing: 0.1em;
    }

    .flex{
        width: 95%;
        margin:auto;
        padding-top: 0;
    }

    .flex-normal{
        display: flex;
    }

    .search{
        margin:auto;
    }

    .flex-evenly{
        justify-content: space-between;
    }

    .flex-custom{
        width: auto;
        padding-top: 10px;
    }

    .selected__header-wrap{
        padding-bottom: 12px;
    }

    .h1{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 45px;
    }
}

@media (max-width: 400px){
    .header-location__p{
        margin: auto 5px;
    }
    .header-phone__a{
        margin-left: 0;
    }
    .desktop-mini{
        display: none;
    }
}
