@import "../media.css";
@import "../variables.css";

.logo {
    display: flex;
    width: 147px;
    min-width: 90px;
}

.logo__img {
    margin: 6% auto;
    cursor: pointer;
}

.small-logo__img {
    /*margin: 6% auto;*/
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 950px) {

    .logo {
        height: 50px;
        width: 25%;
        cursor: pointer;
    }

    .logo__img {
        width: 31px;
        height: 28px;
        margin: auto;
        cursor: pointer;

    }
}