@import "../media.css";
@import "../variables.css";
.section-main-slider {
    position: relative;
    padding-bottom: 13vw;
    background-color: #FAFAFA;
    &:after {
        content: '';
        position: absolute;
        z-index: 3;
        left: 0;
        right: 0;
        bottom: 0;
        height: 11.01vw;
        background-image: url("./images/svg/weave.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.main-slider {
    position: relative;
    @media(max-width: 900px) {
        margin: 0 -20px;
    }
    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: -46%;
        right: 8px;
        height: 530px;
        width: 400px;
        background-image: url("./images/content/good-boy.svg");
        background-repeat: no-repeat;
        @media(max-width: 900px) {
            display: none;
        }
    }
}
.main-slider__container {
    position: relative;
    z-index: 3;
    width: 75%;
    margin: initial;
    @media(max-width: 900px) {
        width: auto;
    }
}
.main-slider__link {
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
}
.main-slider__content {
    position: absolute;
    top: 0;
    left: 50px;
    padding: 40px 50px;
    @media(max-width: 650px) {
        left: 34px;
        padding: 40px 30px;
    }
}
.main-slider__title {
    margin-bottom: 25px;
    line-height: 1.35;
    font-weight: bold;
    font-size: 30px;
    color: white;
    @media(max-width: 650px) {
        font-size: 20px;
    }
    br {
        @media(max-width: 650px) {
            display: none;
        }
    }
}
.main-slider__btn {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--c-orangee);
    svg {
        width: 74px;
        height: 17px;
        margin-left: 20px;
        stroke: var(--c-orangee);
    }
    &--blue {
        color: var(--c-blue);
        svg {
            stroke: var(--c-blue);
        }
    }
}
.main-slider__note {
    position: absolute;
    left: 0;
    transform: rotate(-90deg) translate(60%, -100px);
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 14px;
    color: white;
    background-color: var( --c-orangee);
    @media(max-width: 900px) {
        transform: rotate(-90deg) translate(142px, -108px);
        height: 34px;
        line-height: 34px;
    }
}
.main-slider__picture {
    display: block;
}
.main-slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    @media(max-width: 900px) {
        display: none;
    }
    &--mobile {
        display: none;
        @media(max-width: 900px) {
            display: block;
        }
    }
}
.main-slider__nav {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 30px;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: var(--c-blue);
    transition: .2s;
    cursor: pointer;
    @media(max-width: 900px) {
        display: none;
    }
    &:hover {
        background-color: var(--c-orangee);
    }
    &--prev {
        right: 105px;
    }
    &--next {
        right: 50px;
        transform: rotate(180deg);
    }
    svg {
        width: 11px;
        height: 17px;
        stroke: white;
    }
}