@import "../media.css";

.modal {
    /*position: relative;*/
    /*display: none;*/
    /*width: 100%;*/
    /*padding: 58px 0 14px;*/
    /*background-color: var(--c-beige);*/
    /*border: 20px solid white;*/
    /*overflow: visible;*/
    background-color:rgba(34, 64, 137, 0.7);
    @media(--mobile-xs) {
        border-width: 10px;
    }
    &--subscription {
        display: block;
        padding: 50px 0 60px;
        @media(--mobile-s) {
            .modal__title {
                max-width: 270px;
                margin: 0 auto;
            }
        }
        @media(--mobile-xs) {
            padding: 34px 0 40px;
        }
        &:after {
            content: '';
            position: absolute;
            top: 30px;
            right: 30px;
            width: 45px;
            height: 50px;
            background-image: url("../images/svg/subscription.svg");
            background-size: 100%;
            @media(--mobile-xs) {
                top: 10px;
                right: 10px;
                width: 30px;
                height: 34px;
            }
        }
    }
    &--big {
        max-width: 850px;
    }
    &--small {
        max-width: 630px;
    }
    &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateY(-50%);
        height: 60px;
        width: 1px;
        background-color: var(--c-black);
        @media(--mobile-xs) {
            top: 0;
            height: 40px;
        }
    }
}
#callSuccess {
    padding: 88px 0 96px;
}
#coming,
#call,
#login {
    padding-bottom: 28px;
}
.modal__head {
    text-align: center;
}
.modal__title {
    font-family: 'Playfair Display';
    font-size: 40px;
    font-weight: normal;
    color: var(--c-black);
    @media(--mobile-xs) {
        font-size: 35px;
    }
    &--small {
        font-size: 30px;
        @media(--mobile-xs) {
            font-size: 24px;
        }
    }
}
.modal__desc {
    margin-top: 10px;
    padding: 0 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 600;
    color: var(--c-orange);
    &--small {
        font-size: 12px;
        @media(--mobile-xs) {
            font-size: 10px;
        }
    }
    &--black {
        color: var(--c-black);
    }
    a {
        margin-left: 10px;
        color: var(--c-orange);
    }
}
.modal__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 25px 0;
    @media(--mobile-xs) {
        padding-top: 20px;
    }
}
.modal__form {
    width: 100%;
    max-width: 630px;
    &--small {
        max-width: 410px;
    }
    &--big {
        max-width: 1070px;
        margin-bottom: 0;
        .form-row {
            &:not(:last-child) {
                margin-bottom: 62px;
                @media(--mobile-s) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.modal__bottom {
    width: 100%;
    max-width: 410px;
    margin: 32px auto 0;
    &--big {
        max-width: 700px;
        @media(max-width: 840px) {
            padding: 0 25px;
        }
        .checkbox__text {
            max-width: none;
            margin-top: 0;
        }
        .modal__buttons {
            max-width: 410px;
            margin: 0 auto;
        }
    }
}
.modal__checkbox {
    margin-bottom: 26px;
}
.modal__buttons {
    position: relative;
    padding-bottom: 42px;
}
.modal__note {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 12px;
    font-weight: 600;
    color: var(--c-orange);
}

#auth, #reg, #chose-town{
    padding-bottom: 0;
    cursor: initial;
}

.flex-100{
    width: 100%;
    display: flex;
}

.modal {
    position: relative;
    display: none;
    width: 100%;
    /*background-color: var(--c-beige);*/
    overflow: hidden;
    padding: 0;
    border:none;
    /*background-color: rgba(34, 64, 137, 0.7);*/

}

.modal:before{
    display: none;
}

.modal-left {
    width: 48%;
    height: 100%;
    /*background-color: rgba(34, 64, 137, 0.7);*/
}

.modal-right {
    width: 52%;
    height: 100%;
    background: white;
    border-bottom: 2px solid var(--c-orangee);
    overflow-y: auto;
}

.modal-all {
    width: 100%;
    height: 100%;
    background: white;
    border-bottom: 2px solid var(--c-orangee);
    overflow-y: auto;
    z-index: 2;
}

.authorization-h1{
    display: block;
    margin-bottom: 26px;
    /*padding-bottom: 30px;*/
    color: #000000;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}

.authorization-h3{
    display: block;
    margin-bottom: 14px;
    color: #000000;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
}

.modal__right-tabs{
    padding:50px 60px;
    max-width: 700px;
}

.modal__right-tabs-town{
    padding:250px 60px;
    max-width: 680px;
}

.h100 {
    height: 100%;
}

.modal__right-content{
    margin-top:50px;
}

.modal__right-small{
    margin-top:30px;
}

.content__phone-input{
    height: 50px;
    width: 260px;
    background: #F2F2F2;
    padding:16px 19px;
    margin-right: 0;
    /*margin-right: 36px;*/
    /*margin-bottom: 10px;*/
    outline: none;
    border: none;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.content__phone-input::placeholder{
    color:#C6C6C6;
}

.content__phone-input-white{
    border: 1px solid #F3F3F3;
    box-sizing: border-box;
    height: 50px;
    width: 263px;
    padding:16px 19px;
    /*margin-bottom: 10px;*/

    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

/*.necessarily::after{*/
/*     content:"*";*/
/*     color: red;*/

/*    width: 36px;*/
/*    height: 31px;*/
/*    z-index: 40;*/
/*    border: 10px solid red;*/
/*    display: block;*/
/* }*/

.content__phone-input-white::placeholder{
    color:#C6C6C6;
}
.content__phone-input-white:focus{
    outline: none;
    box-shadow: none;
}

.content__email-input{
    height: 50px;
    width: 100%;
    background: #F2F2F2;
    padding:16px 19px;
    /*margin-bottom: 10px;*/
    /*margin-right: 30px;*/
    outline: none;
    border: none;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #9c9c9c;
}

.content__email-input::placeholder{
    color:#C6C6C6;
}

.content__phone-btn{
    height: 50px;
    width: 260px;
    background: #F57E20;
    outline: none;
    border: none;
    cursor: pointer;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}

.content__phone-btn:hover {
    background-color: #F5A020;
}

.content__phone-btn:active {
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.25);
}


.modal__universal-input{
    height: 50px;
    background: #F2F2F2;
    padding:16px 19px;
    outline: none;
    border: none;
    /*margin-bottom: 4px;*/
    width: 100%;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #9c9c9c;
}

.modal__universal-input::placeholder{
    color:#C6C6C6;
}

.company__info-med{
    /*display: flex;*/
    margin-bottom: 37px;
}

.company__info-height{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.label-comp{
    display: flex;
    flex-flow: row wrap;
    /*width: 360px;*/
}

.w-160{
    width: 160px;
}

.w-365{
    width: 365px;
}

.w-360{
    width: 360px;
}

.w-320{
    width: 320px;
}

.w-260{
    width: 260px;
}

.f-65{
    flex:0 0 65%
}

.f-30{
    flex: 0 0 30%;
}

.f-48{
    flex: 0 0 48%;
}

.margin-b-20{
    margin-bottom: 20px;
}

.margin-b-15{
    margin-bottom: 15px;
}

.margin-l-m-320{
    margin-left: -318px;
}

.margin-l-m-200{
    margin-left: -250px;
}

.margin-b-100{
    margin-bottom: 100px;
}

.margin-b-50{
    margin-bottom: 50px;
}

.margin-b-40{
    margin-bottom: 40px;
}

.margin-b-10{
    margin-bottom: 10px!important;
}

.margin-l-auto{
    margin-left: auto;
    margin-right: 0;
}

.margin-r-auto{
    margin-right: auto;
    margin-left: 0;
}

.margin-l-30{
    margin-left: 30px;
}

.margin-l-5{
    margin-left: 5px;
}

.margin-l-16{
    margin-left: 16px!important;
}

.margin-l-63{
    margin-left: 63px;
}

.margin-l-50{
    margin-left: 50px;
}

.margin-r-5{
    margin-right: 5px;
}

.margin-r-50{
    margin-right: 50px;
}

.margin-r-10{
    margin-right: 10px;
}

.margin-r-30{
    margin-right: 30px;
}

.margin-t-30{
    margin-top: 30px;
}

.disp-block{
    display: block;
}

.checkbox{
    margin-bottom: 10px;
    margin-top: 10px;
}

.checkers{
    margin-bottom: 30px;
    margin-top: 16px;
}

.black{
    color:black;
}

.normal{
    font-weight:normal;
}

.orange{
    color:#F57E20 !important;
    fill: #F57E20!important;
}

.border-orange{
    /*display: block;*/
    border-bottom: 1px solid #F57E20;
}

.fit-content{
    width: fit-content;
}

.forget{
    margin-bottom: 24px;
}

.inline{
    display: inline;
}

.forget__pass{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #224089;
}

.forget__pass-grey{
    margin: 2px 14px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #C6C6C6;
}

.search__input-town{
    background: #F2F2F2;
    width: 100%;
    border: none;
    outline: none;
    padding: 19px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.towns{
    margin-top: 46px;
}

.town{
    width: 35px;
    height: 35px;
    fill: white;
}

.towns-item{
    display: flex;
    margin-bottom: 8px;
}

.towns__item-p-small{
    cursor: pointer;
    margin:auto 20px;
    color: #224089;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
}

.towns__item-p-big{
    cursor: pointer;
    margin:auto 20px;
    color: #F57E20;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}

.invalid{
    border-bottom: 2px solid #ED4242;
    color:#ED4242;
}

.mobile-logo{
    margin:15px 5px 50px 5px;
}

.menu_phone{
    margin-bottom: 10px;
    width: 200px;
}

.menu-phone_a{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    outline: none;
}

.mobile-low{
    border-top: 1px solid #EDEDED;
    padding-top:30px;
    margin-top:37px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background-color: white;
    z-index: 3;
}

.mobile_help{
    width: 360px;
    margin:0 auto;
    height: 50px;
}

.mobile-help__button{

}


.mobile-help__button {
    cursor: pointer;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background-color: #F57E20;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.mobile-help__button:hover {
    background-color: #F5A020;
}

.mobile-help__button:active {
    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.25);
}

.menu_location{
    margin-bottom: 25px;
    width: 175px;
}

.menu-location__p{
    margin-left: 10px;
    padding-bottom: 6px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #224089;
}

.menu-help__img{
    width: 35px;
    height: 35px;
    margin-top: 6px;
}

.mobile-help__span{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    margin:auto 6px;
}

.mobile-title{
    display: flex;
    margin-bottom: 16px;
    /*margin-top:10px;*/
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.mobile-element{
    display: block;
    margin-bottom: 8px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #224089;
}

.mobile-toggles{
    margin-bottom: 20px;
}

.footer-elems{
    margin-top:30px;
}

#mobile-menu-toggle:checked + .toggle {
    display: block;
}

#mobile-menu-toggle1:checked + .toggle {
    display: block;
}
#mobile-menu-toggle2:checked + .toggle {
    display: block;
}

#comp:checked + .toggle{
    display: block;
}

.checker:checked + .toggle{
    display: block;
}



/*custom checkbox*/
/* The container */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: 16px;
    line-height: 18px;
}

/* Hide the browser's default radio button */
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
    background-color: #F57E20;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}
/*end custom checkbox*/

.modal-radio-left{
    margin-right: 20%;
}

.wrap{
    flex-flow: row wrap;
}

.label-margin{
    margin-bottom: 29px;
}

.m-0{
    margin:0;
}



.common-p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

@media screen and (max-width: 1000px){
    .modal-left{
        display: none;
    }
    .modal-right{
        width: 100%;
    }
    .modal__right-tabs{
        margin:auto;
    }
    /*.modal-right-tabs{}*/
    .modal__right-tabs-town{
        padding:50px 60px;
    }
}
@media screen and (max-width: 500px){
    .modal__right-tabs{
        padding:50px 20px;
    }

    .content__phone-btn{
        width: 100%;
    }

    .content__email-input{
        width: 100%;
        margin-right: 0;
    }

    .tog-p{
        font-size: 14px;
        line-height: 16px;
        margin-right: 15px;
    }

    .mobile_help{
        width: 100%;
    }

    .menu_phone{
        width: auto;
    }

    .menu_location{
        width: auto;
    }

    .modal__right-tabs-town{
        padding:50px 20px;
    }
}

.basket-modal{
    .fancybox-content{
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    }

    .cart-title{
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 40px;
        color: #000000;
    }

    .common{
        margin-top: 2px;
        margin-bottom: 22px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }

}

.small-grey{
    margin-top: 4px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #B6B6B6;
}

.orange-basket{
    width: 50px;
    height: 50px;
    fill: #F57E20;
    margin-left: 20px;
    cursor: pointer;
}

.orange-basket:hover{
    fill:#F5A020;
}

.common-input{
    height: 50px;
    width: 160px;
    background: #EDEDED;
    border: none;
    outline: none;
    padding: 0 20px;
}

.common-input-number{
    /*position: relative;*/
    /*display: inline-block;*/
    /*opacity: 1;*/
    height: 50px;
    width: 160px;
    background: #EDEDED;
    border: none;
    outline: none;
    padding: 0 20px;
}




.common-textarea-table{
    height: 100px;
    width: 160px;
    background: #EDEDED;
    border: none;
    outline: none;
    padding: 10px 10px;
    resize: none;

    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /*color: #B6B6B6;*/
}

.common-textarea{
    height: 100px;
    width: 385px;
    background: #EDEDED;
    border: none;
    outline: none;
    padding: 20px 20px;

    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    /*color: #B6B6B6;*/
}

.common-textarea::placeholder{
    color: #B6B6B6;
}

.cart-modal{
    display: none;
}

#cart{
    left: 28%;
}

.vector-filter-mobile {
    width: 12px;
    height: 8px;
    margin-top: auto;
    margin-left: 8px;
    margin-bottom: auto;
    fill: #224089;
}

.vector-filter-modal {
    width: 10px;
    height: 6px;
    margin: auto 10px;
    /*margin-right: 15px;*/
    /*margin-top: 4px;*/
    /*fill: #F57E20;*/
    fill: #224089;
}
