@import "../media.css";
@import "../variables.css";

.numbers-block{
    width: 50%;
    margin-right: 0;
    margin-left: auto;
}

.slider-news_brands-inner{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    border-bottom: 1px solid #EDEDED;
}

.block-out-brands{
    width: 50%;
    display: flex;
}

.block-news{
    width: 50%;
    margin-right: 15px;
    margin-left: 15px;
}

@media screen and (max-width: 1000px){

    .block-news{
        width: 100%;
        margin-bottom: 15px;
    }

    .block-out-brands{
        flex-flow: row wrap;

    }

    .numbers-block{
        width: 100%;
    }
}


@media screen and (max-width: 600px) {


    .slider-news_brands {
        width: 100%;
        height: fit-content;
    }

    .block-out-brands{
        width: 100%;
    }

    .slider-news_brands-inner{
        border-bottom: none;
    }
}


