@import "../media.css";
@import "../variables.css";


.content-table{
    width: 75%;
}

.registration-comment-hover{
    width: 20px;
    height: 20px;
    fill:#224089;
    margin-top: 5px;
    cursor: pointer;

&-grey{
     margin-top: 5px;
     opacity: 0.3;
 }
}

@media screen and (max-width: 1000px) {

    .registration-comment-hover{
        display: none;
        &-grey{
            display: none;
         }
    }
    .content-table{
        width: 100%;
    }
}
