@import "../variables.css";
@import "../media.css";

.parts_quad{
    min-width: 800px;
    margin-top:18px;
    width: 100%;
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.adv{
    width: 50px;
    height: 100%;
    color: white;
    background-color: #F57E20;
}

.adv-p{
    position: relative;
    right: 14px;
    top: 12px;
    text-align: center;
    width: 100px;
    height: 50px;
    transform: rotate(-90deg);

    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.params{
    margin: auto 0;
}

.params-name{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #224089;
    margin:2px;
}

.params-grey{
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #C4C4C4;
    margin:2px;
}

.params-button{
    border: 1px solid #F57E20;
    box-sizing: border-box;
    width: 160px;
    height: 40px;
    background-color: white;
    color: #F57E20;
    outline: none;
    cursor: pointer;
    margin:auto 30px auto 20px;
}

.params-button:hover{
    background-color: #F5A020;
    border: none;
    color: white;
}

.params-x{
    margin: auto 15px;
    cursor: pointer;
}

.i-x{
    width: 16px;
    height: 16px;
}

.params-car{
    display: flex;
    margin-right: auto;
    margin-left: 15px;
}

.custom_find-input{
    background: #F2F2F2;
    width: 550px;
    height: 50px;
    outline: none;
    border: none;

    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
}
.custom_find-input::placeholder{
    color: #C6C6C6;

}

.lupa-find{
    width: 23px;
    height: 23px;
    fill:#F57E20;
    stroke: #F57E20;
    position: absolute;
    margin-top:13px;
    margin-left: 20px;
    cursor: pointer;
}

.custom-find{
    margin-top:10px;
}

.original-parts{
    margin-bottom: 30px;
}

.chose-mark{
    margin-top:20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.chose-mark-default{
    margin-top:20px;
    padding-bottom: 20px;
}

.selected__catalog-link-brand{
    margin-top: 10px;
    /*overflow: scroll;*/
}

.car-cards{
    margin-top:20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.cart{
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
    width:260px;
    height:150px;

    a{
        margin-left: 30px;
        width: 180px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #224089;
    }

    img{
        margin:0 auto;
        width: 220px;
        height: 100px;
    }
}

.selected-cart{
    background: #FFFFFF!important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #F57E20;
}

.cart:hover{
    background: #FFFFFF!important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #F57E20;
}

.table-content{
    display: flex;
    flex-direction: column;
}

.level{
    display: flex;
    /*margin-top: -1px;*/
    justify-content: space-around;
    padding:0 6px;

   .table_common-p, .table-strong{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.level-custom{
    display: flex;
    justify-content: space-around;
    padding:0 6px;

    .table_grey-p{
        margin-bottom: 10px;
        margin-top:20px;
    }
}


.level:hover {
    /*border-top: 1px solid white;*/
    /*margin-top: -1px;*/
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    /*border-bottom: none;*/
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.level:hover .table-strong{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #F57E20;
}

.modif-table{
    min-width: 900px;
}

.table_grey-p{
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #B6B6B6;
}

.table_common-p{
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.table-strong{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.checked{
    margin:auto 0;
    position: relative;
    width: 35px;
    height: 15px;
    fill: white;
}

.level:hover .checked{
    fill:#F57E20!important;
}

.cart:hover .true{
    display: block;
}

.checked-clicked{
    fill:#F57E20!important;
}

.table-strong-clicked{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #F57E20;
}

.level-clicked{
    border-top: 1px solid white;
    margin-top: -1px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    cursor: pointer;
}

.section-content{
    display: none;
}

.choosen:checked + .section-content{
    display: block;
}

/*#chose-mark:checked + .section-content{*/
/*    display: block;*/
/*}*/

/*#check02:checked + .section-content{*/
/*    display: block;*/
/*}*/

/*#check03:checked + .section-content{*/
/*    display: block;*/
/*}*/

/*#check04:checked + .section-content{*/
/*    display: block;*/
/*}*/

/*#check05:checked + .section-content{*/
/*    display: block;*/
/*}*/

@media screen and (max-width: 900px) {
    .scroll{
        overflow: scroll;
    }

    .scroll-x{
        overflow-x: scroll;
    }
}

.chosen{
    width: 20px;
    height: 15px;
}

.true{
    display: none;
    text-align: right;
    position: relative;
    bottom: 110px;
    right: 20px;
}

.change-auto{
    margin-left: 10px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #224089;
}

.grey-auto{
    margin-left: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #B6B6B6;
}

.grey-color{
    color:#C4C4C4;
}

.catalog-btn {
    margin-top: 40px;
}

.modif-table-found{
    min-width: 900px;
    margin-bottom: 20px;
}

.found-cars{
    margin-top: 60px;
    margin-bottom: 250px;
}

@media screen and (max-width: 500px) {
    .params-car{
        a{
            img{display: none;}
        }
    }

    .parts_quad{
        min-width: auto;
    }
}
