@import "../variables.css";
@import "../media.css";

.num404{
    margin: 70px auto 30px;
    max-width: 480px;
    height: 171px;
    width: 100%;
    fill: transparent;
    text-align: center;
}

.bc404{
    position: relative;
    width: 100%;
}

.block-404{
    position: relative;
    width: auto;
    height: 450px;
    background:center url("../images/content/bc404.png");
    display: flex;
    flex-flow: column;
    margin-bottom: 125px;
}

.blue-404{
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    color: #224089;
    margin-bottom: 30px;
}

.link-404{
    display: block;
    width: 260px;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .block-404{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px){

}

