@import "../variables.css";
@import "../media.css";

.town-delivery{
    width: 90%;
}

.delivery-big-black{
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
}

.select-town{
    margin-top: 46px;
    margin-bottom: 40px;
    display: flex;
    flex-flow: column wrap;
    height: 140px;
}

.blue-link{
    margin:8px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #224089;
}

.map-town{
    margin-bottom: 20px;
    height: 450px;
}

@media screen and (max-width: 900px){
    .town-delivery{
        width: 100%;
    }
}

