@import "../variables.css";
@import "../media.css";

.write-us{
    background-color: #224089;
    padding:100px 60px 90px;
}

.write_us-inner{
    display: flex;

}

.write_us-level{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.write_us-small{
    width: 22%;
}

.write_us-big{
    width: 76%;
}

.big-orange{
    font-weight: bold;
    font-size: 30px;
    line-height: 33px;
    color: #F57E20;
}

.common-white{
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.normal-white{
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    color: #FFFFFF;
}

.common-textarea-white{
    height: 150px;
    width: 96.5%;
    background: #FFFFFF;
    border: none;
    outline: none;
    padding: 20px 20px;

    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

.write_us-checkbox{
    width: 63%;
    margin:auto 0;
}

.common-textarea-white::placeholder{
    color: #B6B6B6;
}

.write_us-level-elem{
    width: 30%;
}

@media screen and (max-width: 800px){
    .write-us{
        padding:25px 15px 22px;
    }
    .write_us-inner{
        flex-flow:column;

    }
    .write_us-small{
        width: 100%;
    }
    .write_us-big{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .write_us-level{
        flex-flow:wrap;
    }

    .write_us-level-elem{
        width: 96.5%;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

