<% const data = {
    'title': 'О компании',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/about-company.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
