<% const data = {
    'title': 'Страница бренда ',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/brand-presentation.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
