<% const data = {
    'title': 'Страница товара бренда',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/brand-item.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
