<% const data = {
    'title': 'Бренды',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/brands.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
