<% const data = {
    'title': 'Список страниц верстки',
    'flowContainerClass' : ''
} %>

<div class="container">
    <h1>Список страниц верстки</h1>

    <ul>
        <li>
            <a href="main.html">Главная</a>
<!--            18/24.09-->
        </li>
        <li>
            <a href="general-catalog.html">Общий каталог</a>
        </li>
<!--            13.10-->
        <li>
            <a href="original-catalog.html">Оригинальный каталог</a>
<!--            14/15.10-->
        <li>
            <a href="universal-catalog.html">Универстальный каталог</a>
        </li>
        <li>
            <a href="selected-ts-category.html">Каталог оригиналов выбраного ТС - категории</a>
<!--            16.10-->
        </li>
        <li>
            <a href="selected-ts-nodes.html">Каталог оригиналов выбраного ТС - узлы</a>
            <!--            16.10-->
        </li>
        <li>
            <a href="card-ts.html">Карточка выбранного узла ТС</a>
        </li>
        <li>
            <a href="found-auto.html">Найденые автомобили</a>
        </li>
        <li>
            <a href="product.html">Товар</a>
        </li>
        <li>
            <a href="accessories.html">Поиск аксессуаров</a>
        </li>
        <li>
            <a href="find-details.html">Поиск делатей</a>
        </li>
        <li>
            <a href="find-details-end.html">Результаты поиска</a>
        </li>
        <li>
            <a href="bx-basket.html">Корзина</a>
        </li>
        <li>
            <a href="registration-order.html">Регистрация заказа</a>
        </li>
        <li>
            <a href="slider.html">Слайдер</a>
        </li>
        <li>
            Модальные окна
            <ul>
<!--              24/25/12-->
                <li>
                    <!-- data-modal-open - для открытия модального окна-->
                    <a href="#auth" data-modal-open>Авторизация</a>
                </li>
                <li>
                    <a href="#sms" data-modal-open>SMS</a>
                </li>
                <li>
                    <a href="#reg" data-modal-open>Регистрация</a>
                </li>
                <li>
                    <a href="#call1" data-modal-open>Референс</a>
                </li>
                <li>
                    <a href="#chose-town" data-modal-open>Смена города</a>
                </li>
                <li>
                    <a href="#recovery-pass" data-modal-open>Восстановление пароля</a>
                </li>
                <li>
                    <a href="#check-mail" data-modal-open>Проверьте email</a>
                </li>
                <li>
                    <a href="#fast-order" data-modal-open>Быстрый заказ</a>
                </li>
            </ul>
        </li>
        <li>
            Вспомогательные страницы
            <ul>
                <li>
                    <a href="news-promotions.html">Новости и акции</a>
                </li>
                <li>
                    <a href="brand-item.html">Страница продукта бренда</a>
                </li>
                <li>
                    <a href="brands.html">Бренды</a>
                </li>
                <li>
                    <a href="brand-presentation.html">Страница бренда</a>
                </li>
                <li>
                    <a href="page404.html">Страница 404</a>
                </li>
                <li>
                    <a href="contacts.html">Контакты</a>
                </li>
                <li>
                    <a href="about-company.html">О компании</a>
                </li>
                <li>
                    <a href="provider.html">Поставщикам</a>
                </li>
                <li>
                    <a href="api.html">Api</a>
                </li>
                <li>
                    <a href="pay-main.html">Оплата</a>
                </li>
                <li>
                    <a href="pay-delivery.html">Курьерская доставка</a>
                </li>
                <li>
                    <a href="pay-take.html">Пункт выдачи</a>
                </li>
                <li>
                    <a href="pay-transport.html">Транспортные компании</a>
                </li>
                <li>
                    <a href="town-delivery.html">Доставка в другие города</a>
                </li>
                <li>
                    <a href="text-page.html">Текстовая страница</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<%- require("../layouts/modals.ejs")() %>
