<% const data = {
    'title': 'Главная',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../section/main.ejs")() %>
<%- require("../layouts/footer.ejs")() %>
