<% const data = {
    'title': 'Новости и акции',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/news-promotions.ejs")() %>

<!--<h1>Генеральный каталог страница</h1>-->
<%- require("../layouts/footer.ejs")() %>
