<% const data = {
    'title': 'Каталог выбраного ТС - узлы',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>
<%- require("../layouts/selected-ts-nodes.ejs")() %>

<!--<h1>Генеральный каталог страница</h1>-->
<%- require("../layouts/footer.ejs")() %>
