<div class="bx-filter" data-move="bx-filter">
    <div class="bx-filter-wrapper">
        <div class="bx-filter bx-blue" data-bx-filter>
            <div class="bx-filter-section container-fluid">

                <form name="_form" action="/test/?SECTION_ID=5" method="get" class="smartfilter">

                    <input type="hidden" name="SECTION_ID" id="SECTION_ID" value="5">
                    <input type="hidden" name="clear_cache" id="clear_cache" value="Y">

                    <div class="bx-filter-parameters-box-row">
                        <div class="bx-filter-parameters-box" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <div class="bx-filter-parameters-box-title"></div>

                            <!--                        <div class="bx-filter-block" data-role="bx_filter_block">-->
                            <!--                            <div class="bx-filter-parameters-box-container">-->
                            <!--                                <div class="checkbox">-->
                            <!--                                    <label class="checkbox__label">-->
                            <!--                                        <input class="checkbox__input" type="checkbox">-->
                            <!--                                        <div class="checkbox__emulator">-->
                            <!--                                            <svg class="i-icon">-->
                            <!--                                                <use xlink:href="#icon-checked"></use>-->
                            <!--                                            </svg>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="checkbox__text">-->
                            <!--                                            <span>Хит</span>-->
                            <!--                                        </div>-->
                            <!--                                    </label>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="bx-filter-parameters-box-container">-->
                            <!--                                <div class="checkbox">-->
                            <!--                                    <label class="checkbox__label">-->
                            <!--                                        <input class="checkbox__input" type="checkbox">-->
                            <!--                                        <div class="checkbox__emulator">-->
                            <!--                                            <svg class="i-icon">-->
                            <!--                                                <use xlink:href="#icon-checked"></use>-->
                            <!--                                            </svg>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="checkbox__text">-->
                            <!--                                            <span>Новинка</span>-->
                            <!--                                        </div>-->
                            <!--                                    </label>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="bx-filter-parameters-box-container">-->
                            <!--                                <div class="checkbox">-->
                            <!--                                    <label class="checkbox__label">-->
                            <!--                                        <input class="checkbox__input" type="checkbox">-->
                            <!--                                        <div class="checkbox__emulator">-->
                            <!--                                            <svg class="i-icon">-->
                            <!--                                                <use xlink:href="#icon-checked"></use>-->
                            <!--                                            </svg>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="checkbox__text">-->
                            <!--                                            <span>Только в наличии</span>-->
                            <!--                                        </div>-->
                            <!--                                    </label>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="bx-filter-parameters-box-container">-->
                            <!--                                <div class="checkbox">-->
                            <!--                                    <label class="checkbox__label">-->
                            <!--                                        <input class="checkbox__input" type="checkbox">-->
                            <!--                                        <div class="checkbox__emulator">-->
                            <!--                                            <svg class="i-icon">-->
                            <!--                                                <use xlink:href="#icon-checked"></use>-->
                            <!--                                            </svg>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="checkbox__text">-->
                            <!--                                            <span>Только со скидкой</span>-->
                            <!--                                        </div>-->
                            <!--                                    </label>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                        </div>

                        <div class="bx-filter-parameters-box" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <label for="toggle-catalog1" class="bx-filter-parameters-box-title flex-space"
                                   data-reverse-toggle>
                                <span class="">Цена, руб.</span>
                                <svg class="i-icon vector-filter">
                                    <use xlink:href="#vector"></use>
                                </svg>
                            </label>
                            <input type="checkbox" id="toggle-catalog1" class="toggle-catalog"/>
                            <div class="bx-filter-block" data-role="bx_filter_block" >
                                <div class="bx-filter-parameters-box-container bx-filter-parameters-box-container--flex">
                                    <div class="bx-filter-parameters-box-container-block bx-left">
                                        <div class="bx-filter-input-container">
                                            <input class="min-price input" type="text" name="arrFilter_P1_MIN"
                                                   id="arrFilter_P1_MIN" value="" size="5"
                                                   onkeyup="smartFilter.keyup(this)">
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container-block bx-right">
                                        <div class="bx-filter-input-container">
                                            <input class="max-price input" type="text" name="arrFilter_P1_MAX"
                                                   id="arrFilter_P1_MAX" value="" size="5"
                                                   onkeyup="smartFilter.keyup(this)">
                                        </div>
                                    </div>

                                    <div class="bx-ui-slider-track-container">
                                        <div class="bx-ui-slider-track"
                                             id="drag_track_c4ca4238a0b923820dcc509a6f75849b">
                                            <div class="bx-ui-slider-part p1"><span>92</span></div>
                                            <div class="bx-ui-slider-part p2"><span>10&nbsp;824</span></div>
                                            <div class="bx-ui-slider-part p3"><span>21&nbsp;556</span></div>
                                            <div class="bx-ui-slider-part p4"><span>32&nbsp;288</span></div>
                                            <div class="bx-ui-slider-part p5"><span>43&nbsp;020</span></div>

                                            <div class="bx-ui-slider-pricebar-vd" style="left: 0;right: 0;"
                                                 id="colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b"></div>
                                            <div class="bx-ui-slider-pricebar-vn" style="left: 0%; right: 0%;"
                                                 id="colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b"></div>
                                            <div class="bx-ui-slider-pricebar-v" style="left: 0%; right: 0%;"
                                                 id="colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b"></div>
                                            <div class="bx-ui-slider-range"
                                                 id="drag_tracker_c4ca4238a0b923820dcc509a6f75849b"
                                                 style="left: 0%; right: 0%;">
                                                <a class="bx-ui-slider-handle left" style="left:0;"
                                                   href="javascript:void(0)"
                                                   id="left_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
                                                <a class="bx-ui-slider-handle right" style="right:0;"
                                                   href="javascript:void(0)"
                                                   id="right_slider_c4ca4238a0b923820dcc509a6f75849b"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--                    <script type="text/javascript">-->
                        <!--                        BX.ready(function(){-->
                        <!--                            window['trackBarc4ca4238a0b923820dcc509a6f75849b'] = new BX.Iblock.SmartFilter({'leftSlider':'left_slider_c4ca4238a0b923820dcc509a6f75849b','rightSlider':'right_slider_c4ca4238a0b923820dcc509a6f75849b','tracker':'drag_tracker_c4ca4238a0b923820dcc509a6f75849b','trackerWrap':'drag_track_c4ca4238a0b923820dcc509a6f75849b','minInputId':'arrFilter_P1_MIN','maxInputId':'arrFilter_P1_MAX','minPrice':'92','maxPrice':'43020','curMinPrice':'','curMaxPrice':'','fltMinPrice':'92','fltMaxPrice':'43020','precision':'','colorUnavailableActive':'colorUnavailableActive_c4ca4238a0b923820dcc509a6f75849b','colorAvailableActive':'colorAvailableActive_c4ca4238a0b923820dcc509a6f75849b','colorAvailableInactive':'colorAvailableInactive_c4ca4238a0b923820dcc509a6f75849b'});-->
                        <!--                        });-->
                        <!--                    </script>-->

                        <div class="bx-filter-parameters-box" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <label for="toggle-catalog2" class="bx-filter-parameters-box-title flex-space"
                                   data-reverse-toggle>
                                <span>Сезон</span>
                                <svg class="i-icon vector-filter">
                                    <use xlink:href="#vector"></use>
                                </svg>
                            </label>
                            <input type="checkbox" id="toggle-catalog2" class="toggle-catalog"/>
                            <div class="bx-filter-block " data-role="bx_filter_block" >
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Всё</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Зима</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="bx-filter-parameters-box-container">
                                    <div class="checkbox">
                                        <label class="checkbox__label">
                                            <input class="checkbox__input" type="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class="i-icon">
                                                    <use xlink:href="#icon-checked"></use>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text">
                                                <span>Лето</span>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                    Совсем новый модуль(select) РАЗМЕР-->
                        <div class="bx-filter-parameters-box" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <label for="toggle-catalog3" class="bx-filter-parameters-box-title flex-space"
                                   data-reverse-toggle>
                                <span>Размер</span>
                                <svg class="i-icon vector-filter">
                                    <use xlink:href="#vector"></use>
                                </svg>
                            </label>
                            <input type="checkbox" id="toggle-catalog3" class="toggle-catalog"/>
                            <div class="bx-filter-block" data-role="bx_filter_block" >
<!--                                <div class="bx-filter-parameters-box-container bx-filter-parameters-box-container&#45;&#45;flex">-->
<!--                                    <div class="bx-filter-parameters-box-container-block bx-left">-->
<!--                                        <div class="bx-filter-input-container">-->
<!--                                            <select class="min-price input" name="arrFilter_P1_MIN" id=""-->
<!--                                                    onkeyup="smartFilter.keyup(this)">-->
<!--                                                <option>4</option>-->
<!--                                                <option selected>5</option>-->
<!--                                                <option>6</option>-->
<!--                                                <option>7</option>-->
<!--                                                <option>8</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="bx-filter-parameters-box-container-block bx-right">-->
<!--                                        <div class="bx-filter-input-container">-->
<!--                                            <select class="min-price input" name="arrFilter_P1_MIN" id=""-->
<!--                                                    onkeyup="smartFilter.keyup(this)">-->
<!--                                                <option>4</option>-->
<!--                                                <option>5</option>-->
<!--                                                <option>6</option>-->
<!--                                                <option selected>7</option>-->
<!--                                                <option>8</option>-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->

<!--                                </div>-->
<!--                                Код для бэка этого селекта можно спросить у Марго, он применялся на просдтаре-->
                                <div class="flex-space">
                                    <div class="select-custom margin-b-20" data-select="">
                                        <label class="select-custom__label">
                                            <input type="text" hidden="" data-select-input="">
                                            <div class="select-custom__button select-custom__option select-custom__button--black" data-select-button="">
                                                <span></span>
                                            </div>
                                            <div class="select-custom__dropdown" data-select-dropdown="" style="">
                                                <div class="select-custom__option is-current" data-value="1" data-select-option="">
                                                    <span>1</span>
                                                </div>
                                                <div class="select-custom__option" data-value="2" data-select-option="">
                                                    <span>2</span>
                                                </div>
                                                <div class="select-custom__option" data-value="3" data-select-option="">
                                                    <span>3</span>
                                                </div>
                                                <div class="select-custom__option" data-value="4" data-select-option="">
                                                    <span>4</span>
                                                </div>
                                                <div class="select-custom__option" data-value="5" data-select-option="">
                                                    <span>5</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                        <span class="line-after">/</span>
                                    <div class="select-custom " data-select="">
                                        <label class="select-custom__label">
                                            <input type="text" hidden="" data-select-input="">
                                            <div class="select-custom__button select-custom__option select-custom__button--black" data-select-button="">
                                                <span></span>
                                            </div>
                                            <div class="select-custom__dropdown" data-select-dropdown="" style="">
                                                <div class="select-custom__option is-current" data-value="1" data-select-option="">
                                                    <span>1</span>
                                                </div>
                                                <div class="select-custom__option" data-value="2" data-select-option="">
                                                    <span>2</span>
                                                </div>
                                                <div class="select-custom__option" data-value="3" data-select-option="">
                                                    <span>3</span>
                                                </div>
                                                <div class="select-custom__option" data-value="4" data-select-option="">
                                                    <span>4</span>
                                                </div>
                                                <div class="select-custom__option" data-value="5" data-select-option="">
                                                    <span>5</span>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="">
                                <div class="select-custom " data-select="">
                                    <label class="select-custom__label">
                                        <input type="text" hidden="" data-select-input="">
                                        <div class="select-custom__button select-custom__option select-custom__button--black" data-select-button="">
                                            <span>R</span>
                                        </div>
                                        <div class="select-custom__dropdown" data-select-dropdown="" style="">
                                            <div class="select-custom__option is-current" data-value="1" data-select-option="">
                                                <span>R</span>
                                            </div>
                                            <div class="select-custom__option" data-value="2" data-select-option="">
                                                <span>2</span>
                                            </div>
                                            <div class="select-custom__option" data-value="3" data-select-option="">
                                                <span>3</span>
                                            </div>
                                            <div class="select-custom__option" data-value="4" data-select-option="">
                                                <span>4</span>
                                            </div>
                                            <div class="select-custom__option" data-value="5" data-select-option="">
                                                <span>5</span>
                                            </div>
                                        </div>
                                    </label>
                                </div>
                                </div>
                            </div>

                        </div>
                        <div class="bx-filter-parameters-box" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <label for="toggle-catalog4" class="bx-filter-parameters-box-title flex-space"
                                   data-reverse-toggle>
                                <span>Шины</span>
                                <svg class="i-icon vector-filter ">
                                    <use xlink:href="#vector"></use>
                                </svg>
                            </label>
                            <input type="checkbox" id="toggle-catalog4" class="toggle-catalog ">
                            <div class="bx-filter-block " data-role="bx_filter_block" >
                                <div class="bx-filter-block__row">
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Да</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Нет</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bx-filter-parameters-box" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <label for="toggle-catalog6" class="bx-filter-parameters-box-title flex-space"
                                   data-reverse-toggle>
                                <span>Производитель</span>
                                <svg class="i-icon vector-filter ">
                                    <use xlink:href="#vector"></use>
                                </svg>
                            </label>
                            <input type="checkbox" class="toggle-catalog" id="toggle-catalog6">
                            <div class="bx-filter-block " data-role="bx_filter_block " >
                                <div class="bx-filter-block__row">
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 1</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 2</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 3</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 4</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 5</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 6</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 7</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 8</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 9</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 10</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bx-filter-block__row" data-bx-filter-row>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 11</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 12</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 13</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bx-filter-block-toggle">
                                    <a href="#" class="bx-filter-block-toggle__link" data-bx-filter-row-toggle>Показать
                                        все</a>
                                </div>
                            </div>
                        </div>

                        <div class="bx-filter-parameters-box" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <label for="toggle-catalog7" class="bx-filter-parameters-box-title flex-space"
                                   data-reverse-toggle>
                                <span>Максимальный индекс скорости</span>
                                <svg class="i-icon vector-filter ">
                                    <use xlink:href="#vector"></use>
                                </svg>
                            </label>
                            <input type="checkbox" class="toggle-catalog" id="toggle-catalog7">
                            <div class="bx-filter-block " data-role="bx_filter_block " >
                                <div class="bx-filter-block__row">
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Какой то индекс 1</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Какой то индекс 2</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bx-filter-block__row" data-bx-filter-row>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 11</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 12</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 13</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bx-filter-parameters-box" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <label for="toggle-catalog8" class="bx-filter-parameters-box-title flex-space"
                                   data-reverse-toggle>
                                <span>Максимальный индекс нагрузки</span>
                                <svg class="i-icon vector-filter ">
                                    <use xlink:href="#vector"></use>
                                </svg>
                            </label>
                            <input type="checkbox" class="toggle-catalog" id="toggle-catalog8">
                            <div class="bx-filter-block " data-role="bx_filter_block " >
                                <div class="bx-filter-block__row">
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Какой то индекс 1</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Какой то индекс 2</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bx-filter-block__row" data-bx-filter-row>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 11</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 12</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 13</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bx-filter-parameters-box" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <label for="toggle-catalog9" class="bx-filter-parameters-box-title flex-space"
                                   data-reverse-toggle>
                                <span>Ось</span>
                                <svg class="i-icon vector-filter ">
                                    <use xlink:href="#vector"></use>
                                </svg>
                            </label>
                            <input type="checkbox" class="toggle-catalog" id="toggle-catalog9">
                            <div class="bx-filter-block " data-role="bx_filter_block " >
                                <div class="bx-filter-block__row">
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Ось 1 типа</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Ось 2 типа</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bx-filter-block__row" data-bx-filter-row>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 11</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 12</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 13</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="bx-filter-parameters-box" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <label for="toggle-catalog10" class="bx-filter-parameters-box-title flex-space"
                                   data-reverse-toggle>
                                <span>Тип авто</span>
                                <svg class="i-icon vector-filter ">
                                    <use xlink:href="#vector"></use>
                                </svg>
                            </label>
                            <input type="checkbox" class="toggle-catalog" id="toggle-catalog10">
                            <div class="bx-filter-block " data-role="bx_filter_block " >
                                <div class="bx-filter-block__row">
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Тип 1</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Тип 2</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="bx-filter-block__row" data-bx-filter-row>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 11</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 12</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bx-filter-parameters-box-container">
                                        <div class="checkbox">
                                            <label class="checkbox__label">
                                                <input class="checkbox__input" type="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class="i-icon">
                                                        <use xlink:href="#icon-checked"></use>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span>Производитель 13</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="bx-filter-parameters-box border-bottom-none" data-bx-filter-box>
                            <span class="bx-filter-container-modef"></span>
                            <label for="toggle-catalog11" class="bx-filter-parameters-box-title flex-space blue">
                                <span>Сбросить</span>
<!--                                <svg class="i-icon vector-filter ">-->
<!--                                    <use xlink:href="#vector"></use>-->
<!--                                </svg>-->
                            </label>
<!--                            <input type="checkbox" class="toggle-catalog" id="toggle-catalog10">-->
<!--                            <div class="bx-filter-block margin-t-m-10" data-role="bx_filter_block " >-->
<!--                                <div class="bx-filter-block__row">-->
<!--                                    <div class="bx-filter-parameters-box-container">-->
<!--                                        <div class="checkbox">-->
<!--                                            <label class="checkbox__label">-->
<!--                                                <input class="checkbox__input" type="checkbox">-->
<!--                                                <div class="checkbox__emulator">-->
<!--                                                    <svg class="i-icon">-->
<!--                                                        <use xlink:href="#icon-checked"></use>-->
<!--                                                    </svg>-->
<!--                                                </div>-->
<!--                                                <div class="checkbox__text">-->
<!--                                                    <span>Тип 1</span>-->
<!--                                                </div>-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="bx-filter-parameters-box-container">-->
<!--                                        <div class="checkbox">-->
<!--                                            <label class="checkbox__label">-->
<!--                                                <input class="checkbox__input" type="checkbox">-->
<!--                                                <div class="checkbox__emulator">-->
<!--                                                    <svg class="i-icon">-->
<!--                                                        <use xlink:href="#icon-checked"></use>-->
<!--                                                    </svg>-->
<!--                                                </div>-->
<!--                                                <div class="checkbox__text">-->
<!--                                                    <span>Тип 2</span>-->
<!--                                                </div>-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="bx-filter-block__row" data-bx-filter-row>-->
<!--                                    <div class="bx-filter-parameters-box-container">-->
<!--                                        <div class="checkbox">-->
<!--                                            <label class="checkbox__label">-->
<!--                                                <input class="checkbox__input" type="checkbox">-->
<!--                                                <div class="checkbox__emulator">-->
<!--                                                    <svg class="i-icon">-->
<!--                                                        <use xlink:href="#icon-checked"></use>-->
<!--                                                    </svg>-->
<!--                                                </div>-->
<!--                                                <div class="checkbox__text">-->
<!--                                                    <span>Производитель 11</span>-->
<!--                                                </div>-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="bx-filter-parameters-box-container">-->
<!--                                        <div class="checkbox">-->
<!--                                            <label class="checkbox__label">-->
<!--                                                <input class="checkbox__input" type="checkbox">-->
<!--                                                <div class="checkbox__emulator">-->
<!--                                                    <svg class="i-icon">-->
<!--                                                        <use xlink:href="#icon-checked"></use>-->
<!--                                                    </svg>-->
<!--                                                </div>-->
<!--                                                <div class="checkbox__text">-->
<!--                                                    <span>Производитель 12</span>-->
<!--                                                </div>-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="bx-filter-parameters-box-container">-->
<!--                                        <div class="checkbox">-->
<!--                                            <label class="checkbox__label">-->
<!--                                                <input class="checkbox__input" type="checkbox">-->
<!--                                                <div class="checkbox__emulator">-->
<!--                                                    <svg class="i-icon">-->
<!--                                                        <use xlink:href="#icon-checked"></use>-->
<!--                                                    </svg>-->
<!--                                                </div>-->
<!--                                                <div class="checkbox__text">-->
<!--                                                    <span>Производитель 13</span>-->
<!--                                                </div>-->
<!--                                            </label>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
                        </div>



                    </div>

                    <!--                <div class="bx-filter-button-box">-->
                    <!--                    <div class="bx-filter-block">-->
                    <!--                        <div class="bx-filter-parameters-box-container">-->
                    <!--                            <button class="btn btn-themes" type="button" id="set_filter" name="set_filter">Показать товары</button>-->
                    <!--                            <button class="bx-filter-reset" type="submit" id="del_filter" name="del_filter">-->
                    <!--                                <i class="bx-filter-reset__icon">-->
                    <!--                                    <svg class="i-icon">-->
                    <!--                                        <use xlink:href="#icon-reset"></use>-->
                    <!--                                    </svg>-->
                    <!--                                </i>-->
                    <!--                                <span>Сбросить все</span>-->
                    <!--                            </button>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                </div>-->

                </form>
            </div>
        </div>

        <!--    <script type="text/javascript">-->
        <!--        var smartFilter = new JCSmartFilter('/test/?SECTION_ID=5', 'VERTICAL', []);-->
        <!--    </script>-->

    </div>
</div>
