<div class="catalogs">
    <div class="catalog-item ">
        <img src="./images/content/catalog-1.png" alt="Оригинальный каталог" class="item-img">
        <a class="catalog-title">Оригинальный каталог</a>
        <a class="catalog-a">
            <svg class=" i-icon item-svg ">
                <use xlink:href="#orange-btn"/>
            </svg>
        </a>
    </div>
    <div class="catalog-item ">
        <img src="./images/content/catalog-2.png" alt="Каталог заменителей" class="item-img">
        <a class="catalog-title">Каталог заменителей</a>
        <a class="catalog-a">
            <svg class=" i-icon item-svg ">
                <use xlink:href="#orange-btn"/>
            </svg>
        </a>
    </div>
    <div class="catalog-item ">
        <img src="./images/content/catalog-3.png" alt="Каталог акксесуаров" class="item-img">
        <a class="catalog-title">Каталог акксесуаров</a>
        <a class="catalog-a">
            <svg class=" i-icon item-svg ">
                <use xlink:href="#orange-btn"/>
            </svg>
        </a>
    </div>
    <div class="catalog-item">
        <img src="./images/content/catalog-4.png" alt="Универсальный каталог" class="item-img">
        <a class="catalog-title">Универсальный каталог</a>
        <a class="catalog-a">
            <svg class=" i-icon item-svg ">
                <use xlink:href="#orange-btn"/>
            </svg>
        </a>
    </div>
</div>
