<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Каталог</a>
                -
                <a href="" class="crumbs-a">Каталог оригинальных запчастей</a>
                -
                <a href="" class="crumbs-a">Оригинальные запчасти для Hyundai Solaris седан 1.6</a>
            </p>
        </div>
    </div>
    <div class="container-custom catalog-details " >
        <span class="h1">Акксесуары для Hyundai</span>
        <div>
            <div >
                <!--                Узлыыы!!!!-->
                <div class="flex-100 items-parts-access">
                    <div class="details_left-menu">
                        <div class="menu-item" data-change-arrow>
                            <label class="left-menu_toggle-title" for="left-toggle">
                                <svg class=" i-icon vector">
                                    <use xlink:href="#vector-reverse"/>
                                </svg>
                                <a class="my-link">Детали для ТО</a>
                            </label>
                            <!--            <label for="menu-toggle">Toggle menu</label>-->
                            <input type="checkbox" id="left-toggle" class="left-toggle-inp"/>
                            <div class="left-toggle">
                                <a class="left-element">Что то интересное</a>
                                <a class="left-element">Ещё что то интересное</a>
                                <a class="left-element">А тут что то очень интересное</a>
                                <a class="left-element ">Тут не интересно</a>
                            </div>
                        </div>
                        <div class="menu-item" data-change-arrow="">
                            <label class="left-menu_toggle-title" for="left-toggle1">
                                <svg class=" i-icon vector ">
                                    <use xlink:href="#vector-reverse"/>
                                </svg>
                                <a class="my-link">Двигатель</a>
                            </label>
                            <!--            <label for="menu-toggle">Toggle menu</label>-->
                            <input type="checkbox" id="left-toggle1" class="left-toggle-inp"/>
                            <div class="left-toggle">
                                <a class="left-element">Что то интересное</a>
                                <a class="left-element ">Тут не интересно</a>
                            </div>
                        </div>
                        <div class="menu-item" data-change-arrow>
                            <label class="left-menu_toggle-title" for="left-toggle2">
                                <svg class=" i-icon vector ">
                                    <use xlink:href="#vector-reverse"/>
                                </svg>
                                <a class="my-link">Топливная система</a>
                            </label>
                            <!--            <label for="menu-toggle">Toggle menu</label>-->
                            <input type="checkbox" id="left-toggle2" class="left-toggle-inp"/>
                            <div class="left-toggle">
                                <a class="left-element">Что то интересное</a>
                                <a class="left-element">Ещё что то интересное</a>
                                <a class="left-element">А тут что то очень интересное</a>
                                <a class="left-element ">Тут не интересно</a>
                            </div>
                        </div>
                        <div class="menu-item" data-change-arrow>
                            <label class="left-menu_toggle-title" for="left-toggle3">
                                <svg class=" i-icon vector ">
                                    <use xlink:href="#vector-reverse"/>
                                </svg>
                                <a class="my-link">Сисстема охлеждения</a>
                            </label>
                            <!--            <label for="menu-toggle">Toggle menu</label>-->
                            <input type="checkbox" id="left-toggle3" class="left-toggle-inp"/>
                            <div class="left-toggle">
                                <a class="left-element ">Тут не интересно</a>
                            </div>
                        </div>
                    </div>


                    <div class="details_content">
                        <!--                        основная часть-->
                        <div class="custom-find-access">
                            <!--            <img src="./icons/lupa.svg" alt="" class="lupa">-->
                            <svg class=" i-icon lupa-find ">
                                <use xlink:href="#lupa"/>
                            </svg>
                            <input type="text" placeholder="Быстрый поиск по коду" class="custom_find-input-ts">
                        </div>

                        <div class="detail">
                            <div class="mosaic articles">
                                <div class="mosaic-unit-accessories">
                                        <svg class="i-icon star" data-star>
                                            <use xlink:href="#star"/>
                                        </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>
                                <div class="mosaic-unit-accessories">
                                    <svg class="i-icon star" data-star>
                                        <use xlink:href="#star"/>
                                    </svg>
                                    <img src="./images/content/article-3.png" alt="article-3">
                                    <span class="grey">Артикул 123456</span>
                                    <a href="" class="mosaic-a-access">Название аксессуара для Hyndai Solaris Sedan 1,6</a>
                                    <span class="grey">Green Cool</span>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. цена: </span>
                                        <span class="boldd">30 дней / 500 000 руб.</span>
                                    </div>
                                    <div class="line flex-100">
                                        <span class="grey-note">Мин. срок: </span>
                                        <span class="boldd">1 день / 750 руб.</span>
                                    </div>
                                </div>

                            </div>
                            <div class="pages ">
                                <%- require('./numeration.ejs')() %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container-custom">
        <div class="seo-text">
            <p class="h2">
                Каталог аксессуаров
            </p>
            <p class="common-p">
                Основное направление деятельности нашей компании, это оптовая и розничная продажа запасных частей для
                автомобилей, мотоциклов, силовой и другой техники известных мировых производителей. Компания
                предоставляет весь спектр услуг, связанных с данным видом деятельности, - это подбор запасных частей по
                каталогам производителей, работа под заказ, отправка товара в любую точку России своими силами или при
                помощи транспортных компаний, оказание консультативной помощи нашим покупателям и многое другое.
            </p>
            <p class="common-p">
                Одной из приоритетных задач компании, стоит расширение ассортимента запасных частей для автомобилей и
                мото-силовой техники за счет прямого сотрудничества с производителями качественных запасных частей.
            </p>
            <p class="common-p">
                На нашем складе всегда в наличии широкий, постоянно увеличивающийся ассортимент запасных частей для
                автомобилей, мотоциклов и другой техники , представленной на нашем рынке. У нас поддерживаются в наличии
                товары, как для нового, так и для старого модельных рядов.
            </p>
        </div>
    </div>
</div>

