<div class="api-advantages">
    <div class="api_advantages-inner">
        <div class="api_advantages-inner-img">
            <svg class=" i-icon api-img">
                <use xlink:href="#api-1"/>
            </svg>
        </div>
        <div class="api_advantages-inner-text">
            <span class="blue-p-bold">
                Получать в реальном времени информацию о текущих ценах и остатках
            </span>
        </div>
    </div>

    <div class="api_advantages-inner">
        <div class="api_advantages-inner-img">
            <svg class=" i-icon api-img">
                <use xlink:href="#api-2"/>
            </svg>
        </div>
        <div class="api_advantages-inner-text">
            <span class="blue-p-bold">
                Создание заказа и резервирование товара в любой момент времени
            </span>
        </div>
    </div>

    <div class="api_advantages-inner">
        <div class="api_advantages-inner-img">
            <svg class=" i-icon api-img">
                <use xlink:href="#api-3"/>
            </svg>
        </div>
        <div class="api_advantages-inner-text">
            <span class="blue-p-bold">
                Онлайн информация по состоянию заказов
            </span>
        </div>
    </div>

    <div class="api_advantages-inner">
        <div class="api_advantages-inner-img">
            <svg class=" i-icon api-img">
                <use xlink:href="#api-4"/>
            </svg>
        </div>
        <div class="api_advantages-inner-text">
            <span class="blue-p-bold">
                Готовая интеграция с сервисами «ABCP» и «ТрэйдСофт»
            </span>
        </div>
    </div>
</div>