<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Бренды</a>
                -
                <a href="" class="crumbs-a">Fortech</a>
            </p>
        </div>
    </div>
    <div class="container-custom catalog-details " >
        <span class="h1">Fortech</span>
    </div>
    <div class="container-custom">
        <div class="brand_item-main">
            <div class="brand_item-main-bar ">
                <div class="brand_item-main-advantage">
                    <div class="flex-100 wrap flex-space margin-b-20">
                        <span class="advantage-date_grey">СТРАНА ПРОИЗВОДИТЕЛЬ: </span>
                        <span class="advantage-orange black">Южная корея</span>
                    </div>
                    <p class="orange-subtitle orange-border-l">
                        В настоящее время Fortech Industries Inc. является производителем и поставщиком
                        широкого ассортимента автомобильных фильтров, колодок и сцеплений под торговой маркой
                        FORTECH как на внутренний рынок, так и на рынки Европы, Южной Америки и Юго-Восточной Азии.
                    </p>
                    <p class="advantage-common_p">
                        В настоящее время Fortech Industries Inc. является производителем и поставщиком широкого
                        ассортимента автомобильных фильтров, колодок и сцеплений под торговой маркой FORTECH как
                        на внутренний рынок, так и на рынки Европы, Южной Америки и Юго-Восточной Азии. В 2010 году
                        было открыто новое перспективное направление по производству автомобильной оптики.
                    </p>
                    <p class="advantage-common_p">
                        Fortech Indusctries Inc. производит продукцию для автомобилей Hyundai, KIA, Daewoo, Toyota,
                        Nissan, Mitsubishi, Mazda, Chevrolet, FORD, Renault, OPEL, как для легковых автомобилей,
                        так и на коммерческий транспорт. Особое внимание уделяется продукции для автомобилей
                        и ГАЗ, поставляемой на Российский рынок. Завод имеет международный сертификат
                        ISO/TS 16949.
                    </p>
                    <p class="advantage-common_p">
                            ISO/TS 16949:2002 (ИСО/ТУ 16949:2002)
                        — это международный отраслевой стандарт, разработанный для автомобильной
                        промышленности на основе стандартов ISO 9000 и американский стандарт QS — 9000,
                        устанавливающий требования к системам качества поставщиков.
                    </p>
                </div>
                <div class="brand_item-main-advantage">
                    <span class="h2">
                        Преимущества бренда h2
                    </span>
                    <ul class="advantage-ul">
                        <li class="advantage-li">
                            <p>
                            В настоящее время Fortech Industries Inc. является производителем и
                            поставщиком широкого ассортимента автомобильных фильтров, колодок и
                            сцеплений под торговой маркой FORTECH как на внутренний рынок, так и
                            на рынки Европы, Южной Америки и Юго-Восточной Азии.
                            </p>
                        </li>
                        <li class="advantage-li">
                            <p>
                            В 2010 году было открыто новое перспективное направление по
                            производству автомобильной оптики.
                            </p>
                        </li>
                        <li class="advantage-li">
                            <p>Fortech Indusctries Inc. производит продукцию для
                                автомобилей Hyundai, KIA, Daewoo, Toyota, Nissan,
                                Mitsubishi, Mazda, Chevrolet, FORD, Renault, OPEL,
                                как для легковых автомобилей, так и на коммерческий
                                транспорт.
                            </p>
                        </li>
                        <li class="advantage-li">
                            <p>
                                Особое внимание уделяется продукции для автомобилей ВАЗ и ГАЗ, поставляемой на
                                Российский рынок. Завод имеет международный сертификат качества ISO/TS 16949.
                            </p>
                        </li>
                        <li class="advantage-li">
                            <p>
                                ISO/TS 16949:2002 (ИСО/ТУ 16949:2002) — это международный отраслевой стандарт,
                                разработанный для автомобильной промышленности на основе стандартов ISO 9000
                                и американский стандарт QS — 9000, устанавливающий требования к системам
                                качества поставщиков.
                            </p>
                        </li>
                    </ul>
                    <div class="margin-t-m-10">
                        <div class="watch-all-know">
                            <svg class=" i-icon arrow-left rotated">
                                <use xlink:href="#arrow"/>
                            </svg>
                            <a class="watch__all-p">Назад к списку</a>
                        </div>
                    </div>
                </div>


            </div>
            <div class="brand_item-main-bar">
                <div class="brand_item-content_block">
                    <img src="./images/content/news-big-4.png" alt="news" class="brand_item-content_block-img">
                </div>
            </div>
        </div>
    </div>

    <div class="space"></div>
</div>

