<div class="brands-blocks">
    <div class="brand-block">
        <img src="./images/content/brands-img-1.png" alt="" class="brand_block-img">
        <a href="" class="brand_block-a">Fortech</a>
    </div>
    <div class="brand-block">
        <img src="./images/content/brands-img-2.png" alt="" class="brand_block-img">
        <a href="" class="brand_block-a">Luxe</a>
    </div>
    <div class="brand-block">
        <img src="./images/content/brands-img-3.png" alt="" class="brand_block-img">
        <a href="" class="brand_block-a">Nac</a>
    </div>
    <div class="brand-block">
        <img src="./images/content/brands-img-4.png" alt="" class="brand_block-img">
        <a href="" class="brand_block-a">Fortech</a>
    </div>
<!--    brands-img- -->
</div>