<div class="main">
    <div class="container-custom ">
<!--        <div class="found-title">-->
<!--            <span class="h2">Указанный артикул найден в каталогах:</span>-->
<!--        </div>-->
    </div>
    <%- require("../components/bx/bx-basket.ejs")() %>

</div>
<div class="space">

</div>