<div class="registration-delivery ">
    <span class="h4">Способ доставки</span>
    <div class="registration_delivery-radio margin-t-15" data-tabs>
        <div class="radios" data-tabs-nav>
            <div class=" flex-100" data-tabs-nav-list>
                <div class="register-radio border-top display" data-tabs-nav-item>
                    <label class="container-radio modal-radio" data-tabs-nav-toggle-special>Доставка
                        курьером
                        <input type="radio" name="radio-delivery">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="register-radio border-top " data-tabs-nav-item>
                    <label class="container-radio modal-radio" data-tabs-nav-toggle-special>Транспортной
                        компанией
                        <input type="radio" name="radio-delivery">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="register-radio border-top display" data-tabs-nav-item>
                    <label class="container-radio modal-radio" data-tabs-nav-toggle-special>Самовывоз
                        <input type="radio" name="radio-delivery" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div data-tabs-content>
            <div class="registration_delivery-container none " data-tabs-content-item>
                <span class="bold">Выберите адрес доставки</span>
                <div class="radios-vertical">
                    <div class=" flex-columns margin-t-10">
                        <div class="register-radio w-100pr">
                            <label class="container-radio ">г. Москва, ул. название улицы, 12, корп 2, стр
                                5. офис 555
                                <input type="radio" name="pay">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="register-radio w-100pr">
                            <label class="container-radio ">г. Екатеринбург, ул. Учителей, 22, кв. 33
                                <input type="radio" name="pay">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="register-radio w-100pr">
                            <label class="container-radio ">Добавить новый адрес
                                <input type="radio" checked="checked" name="pay">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="registration-level-small">
                        <label for="name-fast_order" class=" label-delivery-first">
                            <input type="text" autocomplete="off" id=""
                                   class="content__phone-input w-100pr"
                                   placeholder="Улица"
                                   data-input-required="">
                            <svg class=" i-icon star-after">
                                <use xlink:href="#star-red"/>
                            </svg>
                        </label>

                        <label for="phone-fast_order" class="label-delivery-common">
                            <input type="text" autocomplete="off" id=""
                                   class="content__phone-input w-100pr"
                                   placeholder="Дом"
                                   data-input-required="">
                            <svg class=" i-icon star-after">
                                <use xlink:href="#star-red"/>
                            </svg>
                        </label>

                        <label for="phone-fast_order" class="label-delivery-common">
                            <input type="text" autocomplete="off" id=""
                                   class="content__phone-input w-100pr"
                                   placeholder="Квартира"
                                   data-input-required="">
                            <svg class=" i-icon star-after">
                                <use xlink:href="#star-red"/>
                            </svg>
                        </label>
                </div>
            </div>
            <div class="registration_delivery-container none " data-tabs-content-item>
                <p class="common margin-t-0">Бесплатная доставка только до терминала ТК в г. Москва</p>
                <p class="common">Оплата за услуги ТК оплачивается клиентом дополнительно</p>
                <p class="common margin-b-0">Стоимость зависит от выбранной ТК и условий транспортировки</p>
            </div>
            <div class="registration_delivery-container-small none display" data-tabs-content-item>
                <div class="map-wrapper">
                    <%- require('./main-map.ejs')() %>
                </div>

            </div>
        </div>
    </div>
</div>
