<div class="brands-blocks">
    <div class="delivery-block">
        <img src="./images/content/delivery-img-1.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>

    <div class="delivery-block">
        <img src="./images/content/delivery-img-2.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>

    <div class="delivery-block">
        <img src="./images/content/delivery-img-3.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>

    <div class="delivery-block">
        <img src="./images/content/delivery-img-4.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>
<!--    row-->

    <div class="delivery-block">
        <img src="./images/content/delivery-img-5.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>

    <div class="delivery-block">
        <img src="./images/content/delivery-img-6.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>

    <div class="delivery-block">
        <img src="./images/content/delivery-img-7.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>

    <div class="delivery-block">
        <img src="./images/content/delivery-img-8.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>
<!--    row-->

    <div class="delivery-block">
        <img src="./images/content/delivery-img-9.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>

    <div class="delivery-block">
        <img src="./images/content/delivery-img-10.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>

    <div class="delivery-block">
        <img src="./images/content/delivery-img-11.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>

    <div class="delivery-block">
        <img src="./images/content/delivery-img-12.png" alt="" class="delivery_block-img">
        <div class="flex-columns">
            <a href="" class="delivery-a-blue">Уточнить условия</a>
            <a href="" class="delivery-a-blue">Отследить груз</a>
        </div>
    </div>

</div>