<div class="main">
    <div class="container-custom ">
        <div class="found-title">
            <span class="h1">Указанный артикул найден в каталогах:</span>
        </div>
        <div class="found-table ">
            <div class="found_table-head">
                <div class="found-row">
                    <span class="grey">Бренд</span>
                </div>
                <div class="found-row">
                    <span class="grey">Название</span>
                </div>
                <div class="found-row">
                    <span class="grey">Предложений</span>
                </div>
                <div class="found-row">
                    <span class="grey">Замены</span>
                </div>
                <div class="found-row">
                    <span class="grey"></span>
                </div>
            </div>
            <div class="found_table-body scroll">
                <div class="found-level">
                    <div class="found-row">
                        <span class="blue bold">
                            KYB
                        </span>
                    </div>
                    <div class="found-row">
                        <span class="common">
                            Ароматизатор
                        </span>
                    </div>
                    <div class="found-row">
                        <span class="common blue">
                            41 предложение
                        </span>
                    </div>
                    <div class="found-row">
                        <span class="common blue">
                            1 460 предложений
                        </span>
                    </div>
                    <div class="found-btn">
                        <button class="white-btn">
                            Выбрать
                        </button>
                    </div>
                </div>
<!--                lvl-->
                <div class="found-level">
                    <div class="found-row">
                        <span class="blue bold">
                            Record France
                        </span>
                    </div>
                    <div class="found-row">
                        <span class="common">
                            Ароматизатор
                        </span>
                    </div>
                    <div class="found-row">
                        <span class="blue">
                            41 предложение
                        </span>
                    </div>
                    <div class="found-row">
                        <span class="blue">
                            1 460 предложений
                        </span>
                    </div>
                    <div class="found-btn">
                        <button class="white-btn">
                            Выбрать
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space">

</div>