<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://api-maps.yandex.ru/2.1/?apikey=61536017-f4a7-4aaf-a708-fa73ef88c02d&amp;lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<div class="flow-container <%= flowContainerClass && flowContainerClass %>">
    <div class="content">
        <header class="header ">
            <!--            <div class="main-header">header</div>-->
            <div class="upper_header">
                <div class="container flex-evenly">
                    <ul class="flex header-nav">
                        <li class="upper-header__li"><a class="header-nav__a">О компании</a>
                            <ul class="submenu top">
                                <li class="submenu__item">
                                    <a>О компании</a>
                                </li>
                                <li class="submenu__item">
                                    <a>Контакты</a>
                                </li>
                                <li class="submenu__item">
                                    <a>Доставка и оплата</a>
                                </li>
                                <li class="submenu__item">
                                    <a>Api</a>
                                </li>
                                <li class="submenu__item">
                                    <a>Поставщикам</a>
                                </li>
                                <li class="submenu__item">
                                    <a>Оптовым покупателям</a>
                                </li>
                                <li class="submenu__item">
                                    <a>Новости</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="header-nav__a">Оплата и доставка</a></li>
                        <li><a class="header-nav__a">Как купить</a></li>
                        <li><a class="header-nav__a">Новости</a></li>
                        <li><a class="header-nav__a">Контакты</a></li>
                    </ul>
                    <div class="header__phone">
                        <a class="header-phone__a" href="tel:+78124674347">+7 (812) 467-43-47</a>
                    </div>
                    <div class="header__location">
                        <!--                        <img src="./images/icons/icon-location.svg" alt="icon" class="header-location__img">-->
                        <svg class=" i-icon header-location__img ">
                            <use xlink:href="#icon-location"/>
                        </svg>
                        <a class="header-location__p" data-fancybox data-animation-duration="700"
                           data-src="#chose-town">Санкт-Петербург</a>
                    </div>
                    <div class="header__help">
                        <button class="header-help__button" data-fancybox data-animation-duration="700" data-src="#all">
                            <img src="./images/icons/face.png" alt="face" class="header-help__img">
                            <!--                            <svg class="header-help__img i-icon">-->
                            <!--                                <use xlink:href="#face"/>-->
                            <!--                            </svg>-->
                            <span class="header-help__span desktop">Помощь менеджера</span>
                            <span class="header-help__span mobile">Помощь</span>

                        </button>
                    </div>
                </div>
            </div>

            <div class="middle__header ">
                <div class="container flex-evenly">
                    <span class="logo">
<!--                        <img href="#mobile-menu" data-modal-open src="./images/icons/burger-menu.png" alt=""-->
                        <!--                             class="logo__img burger mobile">-->
                        <a href="" class="burger-black mobile">
                            <svg class=" i-icon w-100pr h-100pr">
                                <use xlink:href="#burger"/>
                            </svg>
                        </a>
                        <a href="/" class="logo__img desktop tables">
                            <img src="./images/icons/logo.png" alt="" class="">
                        </a>
                        <a href="/" class="logo__img mobile">
                            <img src="./images/icons/phone-logo.png" alt="" >
                        </a>
                    </span>
                    <ul class="middle__header-items">
                        <li><p class="item">Каталоги</p>
                            <ul class="submenu apart">
                                <li class="submenu__item"><a>Оригинальный каталог</a></li>
                                <li class="submenu__item"><a>Каталог заменителей</a></li>
                                <li class="submenu__item"><a>Каталог аксессуаров</a></li>
                                <li class="submenu__item"><a>Универсальный каталог</a></li>
                            </ul>
                        </li>
                        <li><p class="item">Масла и автохимия</li>
                        <li><p class="item">Шины и диски</p></li>
                        <li><p class="item">Автоэлектрика</p></li>
                    </ul>
                    <div class="header-menu__icons">
                        <div class="menu__icons">
                            <div class="menu__icons-icon">
                                <a data-fancybox data-animation-duration="700" data-src="#auth" class="contents">
                                    <svg class="icon i-icon">
                                        <use xlink:href="#icon-user"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="menu__icons-icon">

                                <svg class="icon i-icon">
                                    <use xlink:href="#star-header"/>
                                </svg>

                                <div class="ellipse">
                                    <svg class=" i-icon ellipse-img">
                                        <use xlink:href="#elipse-blue"/>
                                    </svg>
                                    <span class="ellipse-span">0</span>
                                </div>
                            </div>
                            <a href="#cart" data-animation-duration="700" data-simple class="contents">

                                <div class="menu__icons-icon__basket">
                                    <svg class=" i-icon icon">
                                        <use xlink:href="#icon-basket"/>
                                    </svg>
                                    <!--                                <img src="./images/icons/test.png" class="icon">-->
                                    <p class="basket-money">150 000 руб.</p>
                                    <div class="ellipse orange-margin">
                                        <svg class=" i-icon ellipse-img">
                                            <use xlink:href="#elipse-orange"/>
                                        </svg>
                                        <span class="ellipse-span ">29</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="selected__header">
                <div class="selected__header-wrap p150" data-tabs>
                    <nav class="container-custom" data-tabs-nav>
                        <ul class="flex-custom" data-tabs-nav-list="">
                            <li class="link__p current" data-tabs-nav-item=""><a data-tabs-nav-toggle>По артиклу</a>
                            </li>
                            <li class="link__p" data-tabs-nav-item=""><a data-tabs-nav-toggle>По VIN</a></li>
                            <li class="link__p " data-tabs-nav-item=""><a data-tabs-nav-toggle>По марке</a></li>
                            <li class="link__p desktop" data-tabs-nav-item=""><a data-tabs-nav-toggle>По универсальному
                                    каталогу</a></li>
                            <li class="link__p mobile" data-tabs-nav-item=""><a data-tabs-nav-toggle>По каталогу</a>
                            </li>
                        </ul>
                    </nav>

                    <div class="container-custom" data-tabs-content="">
                        <div class=" tab__content current" data-tabs-content-item>
                            <div class="search">
                                <input type="search" class="search__input" placeholder="Введите артикул товара">
                                <button class="search__button">
                                    <svg class=" i-icon lupa ">
                                        <use xlink:href="#lupa"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class=" tab__content " data-tabs-content-item>
                            <div class="search">
                                <input type="search" class="search__input" placeholder="Введите VIN номер автомобиля">
                                <button class="search__button">
                                    <svg class=" i-icon lupa ">
                                        <use xlink:href="#lupa"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class=" tab__content " data-tabs-content-item>
                            <%- require("../components/elements/brands.ejs")() %>
                        </div>
                        <div class=" tab__content " data-tabs-content-item>
                            <div class="search">
                                <input type="search" class="search__input" placeholder="Введите название товара">
                                <button class="search__button">
                                    <svg class=" i-icon lupa ">
                                        <use xlink:href="#lupa"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class=" tab__content " data-tabs-content-item>
                            <div class="search">
                                <input type="search" class="search__input" placeholder="Введите название товара">
                                <button class="search__button">
                                    <!--                                    <img src="./images/icons/lupa.svg" alt="search">-->
                                    <svg class=" i-icon lupa ">
                                        <use xlink:href="#lupa"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fixed__header none" data-fixed-head>
                <div class="container flex-evenly w-100pr">
                    <a class="logo">
                        <img src="./images/icons/logo-small.png" alt="" class="small-logo__img ">
                        <svg class=" i-icon burger">
                            <use xlink:href="#burger"/>
                        </svg>
                        <!--                        <img href="#mobile-menu" data-modal-open src="./images/icons/burger-menu.png" alt="burger"-->
                        <!--                             class="burger">-->
                        <!--                        <img src="./images/icons/logo.png" alt="" class="logo__img desktop tables">-->
                    </a>
                    <div class="search">
                        <input type="search" class="search__input" placeholder="Введите артикул товара или vin">
                        <button class="search__button">
                            <svg class=" i-icon lupa ">
                                <use xlink:href="#lupa"/>
                            </svg>
                        </button>
                    </div>
                    <div class="header-menu__icons">
                        <div class="menu__icons">
                            <div class="menu__icons-icon border-left-none">
                                <a data-fancybox data-animation-duration="700" data-src="#auth"
                                   class="contents menu__icons-icon">
                                    <svg class="header-icon i-icon">
                                        <use xlink:href="#icon-user"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="menu__icons-icon">
                                <svg class="header-icon i-icon">
                                    <use xlink:href="#star-header"/>
                                </svg>

                                <div class="ellipse">
                                    <svg class=" i-icon ellipse-img">
                                        <use xlink:href="#elipse-orange"/>
                                    </svg>
                                    <span class="ellipse-span">0</span>
                                </div>
                            </div>
                            <a href="#cart" data-animation-duration="700" data-simple class="contents">
                                <div class="menu__icons-icon">
                                    <svg class=" i-icon header-icon">
                                        <use xlink:href="#icon-basket"/>
                                    </svg>
                                    <!--                                <img src="./images/icons/test.png" class="icon">-->
                                    <div class="ellipse orange-margin">
                                        <svg class=" i-icon ellipse-img">
                                            <use xlink:href="#elipse-orange"/>
                                        </svg>
                                        <span class="ellipse-span ">29</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
