<div class="detail">
    <div class="detail-head flex-100 flex-space border">
    </div>
    <div class="detail-body border flex-100">
        <div class="innovation_body-left">
            <div class="details-img ">
                <img src="./images/content/details.png" alt="details" class="">
                <div class="selected-line opacity-0" id="block-1" block-selected-id>
                    <div class="selected_line-hover_card">
                        <div class="level-info">Герметик</div>
                    </div>
                    <div class="selected_line-block_image hover-line">
                        09200
                    </div>
                </div>
                <div class="selected-line opacity-0" id="block-2" block-selected-id>
                    <div class="selected_line-hover_card">
                        <div class="level-info">Топливный насос</div>
                    </div>
                    <div class="selected_line-block_image hover-line">
                        09127A
                    </div>
                </div>

            </div>
            <div class="no-btns">
                <a class="no-btn">
                    <svg class=" i-icon  minus-btn">
                        <use xlink:href="#minus-btn"/>
                    </svg>
                </a>
                <a class="no-btn margin-l-5">
                    <svg class=" i-icon  minus-btn">
                        <use xlink:href="#plus-btn"/>
                    </svg>
                </a>
                <a class="no-btn margin-l-30" href="#increase" data-simple>
                    <svg class=" i-icon  minus-btn">
                        <use xlink:href="#aument"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="innovation_body-right">
            <div class="flex">
                <div class="border-left-desktop">
                </div>
                <div class="innovation-right-table">
                    <div class="table-level border ">
                        <div class="level-grey w-25pr hidden"><p>OEM</p></div>
                        <div class="level-grey w-60pr hidden"><p>Название детали</p></div>
                        <div class="level-grey w-25pr answer margin-r-10 hidden"></div>
                    </div>
                    <div class="table-block-scroll">
                        <div class="table-level border" id="level-1" data-selected-id>
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>
                            <div class="level-answer w-25pr answer margin-r-10 ">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border" id="level-2" data-selected-id>
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09127A</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border">
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border">
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border">
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border">
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border">
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border">
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border">
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border">
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border">
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                        <div class="table-level border">
                            <div class="w-30pr flex-normal">
                                <p class="level-number-bold">09200</p>
                                <img src="./images/content/small-item.png" alt="details" class="small-item">
                            </div>
                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                            <div class="level-answer w-25pr answer margin-r-10">
                                <svg class=" i-icon  answer">
                                    <use xlink:href="#answer"/>
                                </svg>
                            </div>
                            <div class="hover-card">
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                    <div class="level-info w-65pr">09149R000</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                    <div class="level-info w-65pr">
                                        Кузов: s4 sedan - 4DR 5P АКП:
                                        (5) manual t/m - 5 spedd 2WD
                                    </div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                    <div class="level-info w-65pr">1</div>
                                </div>
                                <div class="flex-100">
                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="watch-all-know">
                <svg class=" i-icon arrow-left rotated">
                    <use xlink:href="#arrow"/>
                </svg>
                <a class="watch__all-p">Назад в каталог</a>
            </div>
        </div>
    </div>
</div>


<div id="increase" class="modal">
    <div class="increase-main">
        <div class="increase_main-modal">
            <div class="increase_main-modal-into">
                <div class="details-img ">
                    <img src="./images/content/details.png" alt="details" class="">
                    <div class="selected-line opacity-0" block-selected-id id="block-1">
                        <div class="selected_line-hover_card">
                            <div class="level-info">Герметик</div>
                        </div>
                        <div class="selected_line-block_image hover-line">
                            09200
                        </div>
                    </div>
                    <div class="selected-line opacity-0" block-selected-id id="block-2">
                        <div class="selected_line-hover_card">
                            <div class="level-info">Топливный насос</div>
                        </div>
                        <div class="selected_line-block_image hover-line">
                            09127A
                        </div>
                    </div>
                </div>
                    <span class="increase_main-modal_span">31-310: Топливная система</span>
                    <button class="cruz" data-fancybox-close>
                        <svg class=" i-icon  i-x">
                            <use xlink:href="#i-x"/>
                        </svg>
                    </button>
            </div>
        </div>
    </div>
</div>
