<div class="logistica">
    <div class="logistic-left_block">
        <svg class=" i-icon logistic-body">
            <use xlink:href="#logistic-body"/>
        </svg>
    </div>
    <div class="logistic-right_block">
        <span class="h2">Логистика</span>
        <div class="flex-100 margin-t-20 ">
            <svg class=" i-icon logistica-svg">
                <use xlink:href="#logistic-1"/>
            </svg>
            <div class="flex-columns margin-l-16 margin-auto w-80pr">
                <span class="logistic-blue-bold">Складская площадь </span>
                <span class="big-orange">2 500</span>
            </div>
        </div>
        <div class="flex-100 margin-t-20">
            <svg class=" i-icon logistica-svg">
                <use xlink:href="#logistic-2"/>
            </svg>
            <p class="logistic-blue-bold">Доставка своим транспортом </p>
        </div>
        <div class="flex-100 margin-t-20">
            <svg class=" i-icon logistica-svg">
                <use xlink:href="#logistic-3"/>
            </svg>
            <p class="logistic-blue-bold">Собственная WMS система</p>
        </div>
    </div>
</div>