<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Новости и акции</a>
            </p>
        </div>
    </div>
    <div class="container-custom catalog-details " >
        <span class="h1">Новости и акции</span>
    </div>

    <div class="container-custom">
        <%- require('./news-block.ejs')() %>
        <%- require('./news-block.ejs')() %>
        <%- require('./news-block.ejs')() %>
        <%- require('./news-block.ejs')() %>
        <%- require('./news-block.ejs')() %>

        <div class="numbers-block pages">
            <%- require('./numeration.ejs')() %>
        </div>
    </div>

    <%- require('./subscription.ejs')() %>

    <div class="container-custom">
    </div>

</div>

