<div class=" flex-100 flex-space">
    <div class="pages-btn">
        <a href="" class="pages_btn-a ">
            <svg class=" i-icon blue-btn reverse">
                <use xlink:href="#blue-btn"/>
            </svg>
        </a>
    </div>
    <div class="pages-numbers">
        <a class="pages_numbers-number selected">1</a>
        <a class="pages_numbers-number">2</a>
        <a class="pages_numbers-number desktop-mini">3</a>
        <a class="pages_numbers-number desktop">4</a>
        <a class="pages_numbers-number desktop">5</a>
        <a class="pages_numbers-number">. . .</a>
        <a class="pages_numbers-number">24</a>
    </div>
    <div class="pages-btn">
        <a href="" class="pages_btn-a">
            <svg class=" i-icon blue-btn ">
                <use xlink:href="#blue-btn"/>
            </svg>
        </a>
    </div>
</div>
