<div class="registration-content">
    <span class="h4">Состав заказа</span>
    <div class="content-table">
        <div id="basket-root" class="bx-basket bx-blue bx-step-opacity" style="opacity: 1;">
            <div class="row">
                <div class="col-xs-12">
                    <div class="basket-items-list-wrapper basket-items-list-wrapper-height-fixed basket-items-list-wrapper-light"
                         id="basket-items-list-wrapper">
                        <div class="basket-items-list-container" id="basket-items-list-container"
                             style="min-height: 169px;">
                            <div class="basket-items-list-overlay" id="basket-items-list-overlay"
                                 style="display: none;"></div>
                            <div class="basket-items-list" id="basket-item-list" style="min-height: 169px;">
                                <div class="basket-search-not-found" id="basket-item-list-empty-result"
                                     style="display: none;">
                                    <div class="basket-search-not-found-icon"></div>
                                    <div class="basket-search-not-found-text">
                                        По данному запросу товаров не найдено
                                    </div>
                                </div>
                                <div class="scroll-x">
                                    <table class="basket-items-list-table" id="basket-item-table">
                                        <tbody class="tbody">
                                        <tr class="basket-items-list-table-first">
                                            <td class="price_table-head-unit w-10pr ">
                                                <p class="grey">Фото</p>
                                            </td>
                                            <td class="price_table-head-unit w-10pr ">
                                                <p class="grey">Поставщик</p>
                                            </td>
                                            <td class="price_table-head-unit w-30pr">
                                                <p class="grey">Товар</p>
                                            </td>
                                            <td class="price_table-head-unit w-14pr  ">
                                                <p class="grey ">Дата доставки</p>
                                            </td>
                                            <td class="price_table-head-unit w-10pr ">
                                                <p class="grey float-left">Спрос</p>
                                                <svg class=" i-icon answer-grey ">
                                                    <use xlink:href="#answer-grey"/>
                                                </svg>
                                                <div class="hover-card-registration">
                                                    <span class="level-info">Это товар сейчас в корзине у этого количества покупателей</span>
                                                </div>
                                            </td>
                                            <td class="price_table-head-unit w-7pr">
                                                <p class="grey">Количество</p>
                                            </td>
                                            <td class="price_table-head-unit w-10pr ">
                                                <p class="grey">Стоимость</p>
                                            </td>

                                        </tr>
                                        <tr class="basket-items-list-item-container" id="basket-item-7"
                                            data-entity="basket-item" data-id="7">
                                            <td class="basket-items-list-item-descriptions">
                                                <div class="basket-items-list-item-descriptions-inner"
                                                     id="basket-item-height-aligner-7">
                                                    <div class="basket-item-block-image">
                                                        <a href="#" class="basket-item-image-link">
                                                            <img src="./images/content/light.png"
                                                                 alt="light">
                                                        </a>
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-from">
                                                <div class="basket-items-list-item-descriptions-inner-num"
                                                     id="basket-item-height-aligner-7">
                                                    <span class="blue">969108 Н</span>
                                                    <div class="info-icons">
                                                        <img src="./images/icons/product-circle-1.png"
                                                             alt="circle"
                                                             class="product-circle">
                                                        <img src="./images/icons/product-circle-2.png"
                                                             alt="circle"
                                                             class="product-circle">
                                                        <img src="./images/icons/product-circle-3.png"
                                                             alt="circle"
                                                             class="product-circle">
                                                    </div>
                                                    <div class="hover-card-basket">
                                                        <div class="flex">
                                                            <div class="left-circle">
                                                                <svg class=" i-icon big-circle">
                                                                    <use xlink:href="#big-90"/>
                                                                </svg>
                                                                <div class="circle-into">
                                                                    <p class="big-green">90%</p>
                                                                    <span class="common">Надёжность</span>
                                                                </div>
                                                                <div class="left-circle_bottom flex">
                                                                    <svg class=" i-icon shield">
                                                                        <use xlink:href="#shield"/>
                                                                    </svg>
                                                                    <span class="shield-text">Без контрафакта</span>
                                                                </div>
                                                            </div>
                                                            <div class="right-info">
                                                                <span class="h3">969108 Н</span>
                                                                <div class="flex modal-unit">
                                                                    <div class="icoon">
                                                                        <svg class=" i-icon time-modal">
                                                                            <use xlink:href="#time-modal"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right_info-data">
                                                                        <p class="grey">Дата обновления
                                                                            прайс-листа</p>
                                                                        <p class="common">07.09.2020</p>
                                                                    </div>
                                                                </div>
                                                                <div class="flex modal-unit">
                                                                    <div class="icoon">
                                                                        <svg class=" i-icon time-modal">
                                                                            <use xlink:href="#time-modal"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right_info-data">
                                                                        <p class="grey">Расписание доставки
                                                                            заказов</p>
                                                                        <div>
                                                                            <p class="common">Пн - Пт:
                                                                                17:30</p>
                                                                            <p class="common">Сб., Вс. -
                                                                                выходной</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="flex modal-unit">
                                                                    <div class="icoon">
                                                                        <svg class=" i-icon time-modal">
                                                                            <use xlink:href="#back"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right_info-data">
                                                                        <p class="grey">Возврат</p>
                                                                        <p class="common">Есть</p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="basket-items-list-item-descriptions-title-inner">
                                                    <div class="basket-items-list-item-article">
                                                        <span class="delivery-common  blue-color">Название детали GС7010, 5 кг (красн.) BASF</span>
                                                        <div class="info-rows flex-100">
                                                            <div class="flex-100">
                                                                <span class="grey">Артикул:</span>
                                                                <span class="">792255</span>
                                                            </div>
                                                            <div class="flex-100">
                                                                <span class="grey">Бренд:</span>
                                                                <span class="blue-color">Green Cool</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="basket-item-block-price">
                                                    <div class="basket-item-price-current">
                                        <span class="grey phone">
                                            Дата доставки:
                                        </span>
                                                        <span class="basket-item-price-current-text">
                                                12.05.2020
                                            </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="basket-item-block-price">
                                                    <div class="basket-item-price-current">
                                        <span class="grey phone">
                                            Спрос:
                                        </span>
                                                        <span class="basket-item-price-current-text">
                                                13
                                            </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="flex-100"
                                                     data-entity="basket-item-quantity-block">
                                                    <span class="grey phone">
                                            Количество:
                                        </span>
                                                    <span class="common basket-quantity">100 шт</span>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-price">
                                                <div class="basket-item-block-price">
                                                    <div class="basket-item-price-current phone-no-flex">
                                                        <span class="basket-item-price-current-text grey-color bold"
                                                              id="basket-item-sum-price-7">
                                                            1 999 990 руб.
                                                        </span>
                                                        <br class="phone">
                                                        <span class="basket-item-price-current-text"
                                                              id="basket-item-one-price-7">
                                                            19 990 руб/шт
                                                        </span>
                                                    </div>
                                                    <div class="registration-comment-hover">
                                                        <svg class=" i-icon ">
                                                            <use xlink:href="#comment"/>
                                                        </svg>
                                                        <div class="hover-card-product-attention">
                                                            <span class="level-info">Небольшой текст комментария к заказанному товару</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="basket-items-list-item-container" id="basket-item-8"
                                            data-entity="basket-item" data-id="8">
                                            <td class="basket-items-list-item-descriptions">
                                                <div class="basket-items-list-item-descriptions-inner"
                                                     id="basket-item-height-aligner-8">
                                                    <div class="basket-item-block-image">
                                                        <a href="#" class="basket-item-image-link">
                                                            <img src="./images/content/light.png"
                                                                 alt="light">
                                                        </a>
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-from">
                                                <div class="basket-items-list-item-descriptions-inner-num"
                                                     id="basket-item-height-aligner-8">
                                                    <span class="blue">969108 Н</span>
                                                    <div class="info-icons">
                                                        <img src="./images/icons/product-circle-1.png"
                                                             alt="circle"
                                                             class="product-circle">
                                                        <img src="./images/icons/product-circle-2.png"
                                                             alt="circle"
                                                             class="product-circle">
                                                        <img src="./images/icons/product-circle-3.png"
                                                             alt="circle"
                                                             class="product-circle">
                                                    </div>
                                                    <div class="hover-card-basket">
                                                        <div class="flex">
                                                            <div class="left-circle">
                                                                <svg class=" i-icon big-circle">
                                                                    <use xlink:href="#big-90"/>
                                                                </svg>
                                                                <div class="circle-into">
                                                                    <p class="big-green">90%</p>
                                                                    <span class="common">Надёжность</span>
                                                                </div>
                                                                <div class="left-circle_bottom flex">
                                                                    <svg class=" i-icon shield">
                                                                        <use xlink:href="#shield"/>
                                                                    </svg>
                                                                    <span class="shield-text">Без контрафакта</span>
                                                                </div>
                                                            </div>
                                                            <div class="right-info">
                                                                <span class="h3">969108 Н</span>
                                                                <div class="flex modal-unit">
                                                                    <div class="icoon">
                                                                        <svg class=" i-icon time-modal">
                                                                            <use xlink:href="#time-modal"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right_info-data">
                                                                        <p class="grey">Дата обновления
                                                                            прайс-листа</p>
                                                                        <p class="common">07.09.2020</p>
                                                                    </div>
                                                                </div>
                                                                <div class="flex modal-unit">
                                                                    <div class="icoon">
                                                                        <svg class=" i-icon time-modal">
                                                                            <use xlink:href="#time-modal"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right_info-data">
                                                                        <p class="grey">Расписание доставки
                                                                            заказов</p>
                                                                        <div>
                                                                            <p class="common">Пн - Пт:
                                                                                17:30</p>
                                                                            <p class="common">Сб., Вс. -
                                                                                выходной</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="flex modal-unit">
                                                                    <div class="icoon">
                                                                        <svg class=" i-icon time-modal">
                                                                            <use xlink:href="#back"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right_info-data">
                                                                        <p class="grey">Возврат</p>
                                                                        <p class="common">Есть</p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="basket-items-list-item-descriptions-title-inner">
                                                    <div class="basket-items-list-item-article">
                                                        <span class="delivery-common  blue-color">Название детали GС7010, 5 кг (красн.) BASF</span>
                                                        <div class="info-rows flex-100">
                                                            <div class="flex-100">
                                                                <span class="grey">Артикул:</span>
                                                                <span class="">792255</span>
                                                            </div>
                                                            <div class="flex-100">
                                                                <span class="grey">Бренд:</span>
                                                                <span class="blue-color">Green Cool</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="basket-item-block-price">
                                                    <div class="basket-item-price-current">
                                        <span class="grey phone">
                                            Дата доставки:
                                        </span>
                                                        <span class="basket-item-price-current-text">
                                                12.05.2020
                                            </span>

                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="basket-item-block-price">
                                                    <div class="basket-item-price-current">
                                        <span class="grey phone">
                                            Спрос:
                                        </span>
                                                        <span class="basket-item-price-current-text">
                                                13
                                            </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="flex-100"
                                                     data-entity="basket-item-quantity-block">
                                                    <span class="grey phone">
                                            Количество:
                                        </span>
                                                    <span class="common basket-quantity">100 шт</span>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-price">
                                                <div class="basket-item-block-price">
                                                    <div class="basket-item-price-current phone-no-flex">
                                            <span class="basket-item-price-current-text grey-color bold"
                                                  id="basket-item-sum-price-8">
                                                1 999 990 руб.
                                            </span>
                                                        <br class="phone">
                                                        <span class="basket-item-price-current-text"
                                                              id="basket-item-one-price-8">
                                                19 990 руб/шт
                                            </span>
                                                    </div>
                                                    <div class="registration-comment-hover-grey">
                                                        <svg class=" i-icon ">
                                                            <use xlink:href="#comment"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr class="basket-items-list-item-container" id="basket-item-9"
                                            data-entity="basket-item" data-id="9">
                                            <td class="basket-items-list-item-descriptions">
                                                <div class="basket-items-list-item-descriptions-inner"
                                                     id="basket-item-height-aligner-9">
                                                    <div class="basket-item-block-image">
                                                        <a href="#" class="basket-item-image-link">
                                                            <img src="./images/content/light.png"
                                                                 alt="light">
                                                        </a>
                                                    </div>

                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-from">
                                                <div class="basket-items-list-item-descriptions-inner-num"
                                                     id="basket-item-height-aligner-9">
                                                    <span class="blue">969108 Н</span>
                                                    <div class="info-icons">
                                                        <img src="./images/icons/product-circle-1.png"
                                                             alt="circle"
                                                             class="product-circle">
                                                        <img src="./images/icons/product-circle-2.png"
                                                             alt="circle"
                                                             class="product-circle">
                                                        <img src="./images/icons/product-circle-3.png"
                                                             alt="circle"
                                                             class="product-circle">
                                                    </div>
                                                    <div class="hover-card-basket">
                                                        <div class="flex">
                                                            <div class="left-circle">
                                                                <svg class=" i-icon big-circle">
                                                                    <use xlink:href="#big-90"/>
                                                                </svg>
                                                                <div class="circle-into">
                                                                    <p class="big-green">90%</p>
                                                                    <span class="common">Надёжность</span>
                                                                </div>
                                                                <div class="left-circle_bottom flex">
                                                                    <svg class=" i-icon shield">
                                                                        <use xlink:href="#shield"/>
                                                                    </svg>
                                                                    <span class="shield-text">Без контрафакта</span>
                                                                </div>
                                                            </div>
                                                            <div class="right-info">
                                                                <span class="h3">969108 Н</span>
                                                                <div class="flex modal-unit">
                                                                    <div class="icoon">
                                                                        <svg class=" i-icon time-modal">
                                                                            <use xlink:href="#time-modal"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right_info-data">
                                                                        <p class="grey">Дата обновления
                                                                            прайс-листа</p>
                                                                        <p class="common">07.09.2020</p>
                                                                    </div>
                                                                </div>
                                                                <div class="flex modal-unit">
                                                                    <div class="icoon">
                                                                        <svg class=" i-icon time-modal">
                                                                            <use xlink:href="#time-modal"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right_info-data">
                                                                        <p class="grey">Расписание доставки
                                                                            заказов</p>
                                                                        <div>
                                                                            <p class="common">Пн - Пт:
                                                                                17:30</p>
                                                                            <p class="common">Сб., Вс. -
                                                                                выходной</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="flex modal-unit">
                                                                    <div class="icoon">
                                                                        <svg class=" i-icon time-modal">
                                                                            <use xlink:href="#back"/>
                                                                        </svg>
                                                                    </div>
                                                                    <div class="right_info-data">
                                                                        <p class="grey">Возврат</p>
                                                                        <p class="common">Есть</p>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="basket-items-list-item-descriptions-title-inner">
                                                    <div class="basket-items-list-item-article">
                                                        <span class="delivery-common  blue-color">Название детали GС7010, 5 кг (красн.) BASF</span>
                                                        <div class="info-rows flex-100">
                                                            <div class="flex-100">
                                                                <span class="grey">Артикул:</span>
                                                                <span class="">792255</span>
                                                            </div>
                                                            <div class="flex-100">
                                                                <span class="grey">Бренд:</span>
                                                                <span class="blue-color">Green Cool</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="basket-item-block-price">
                                                    <div class="basket-item-price-current">
                                                        <span class="grey phone">
                                                            Дата доставки:
                                                        </span>
                                                        <span class="basket-item-price-current-text">
                                                            12.05.2020
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="basket-item-block-price">
                                                    <div class="basket-item-price-current">
                                        <span class="grey phone">
                                            Спрос:
                                        </span>
                                                        <span class="basket-item-price-current-text">
                                                13
                                            </span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-descriptions-title">
                                                <div class="flex-100"
                                                     data-entity="basket-item-quantity-block">
                                                    <span class="grey phone">
                                            Количество:
                                        </span>
                                                    <span class="common basket-quantity">100 шт</span>
                                                </div>
                                            </td>
                                            <td class="basket-items-list-item-price">
                                                <div class="basket-item-block-price">
                                                    <div class="basket-item-price-current phone-no-flex">
                                                        <span class="basket-item-price-current-text grey-color bold"
                                                              id="basket-item-sum-price-9">
                                                            1 999 990 руб.
                                                        </span>
                                                        <br class="phone">
                                                        <span class="basket-item-price-current-text"
                                                              id="basket-item-one-price-9">
                                                            19 990 руб/шт
                                                        </span>
                                                    </div>
                                                    <div class="registration-comment-hover-grey">
                                                        <svg class=" i-icon ">
                                                            <use xlink:href="#comment"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>