<div class="container-custom ">
<!--    <img src="./images/content/bc404.png" alt="404" class="bc404">-->
    <div class="block-404">
        <svg class=" i-icon num404">
            <use xlink:href="#num404"/>
        </svg>
        <span class="blue-404">
            Страница не существует или была удалена
        </span>
        <a href="" class="link-404"><button class="content__phone-btn">На главную</button></a>
    </div>
</div>

<!--<div class="space"></div>-->