<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Доставка и оплата</a>
            </p>
        </div>
    </div>
    <div class="container-custom">
        <div class="menu-flex">
            <div class="menu_flex-item_first">
                <span class="h1">Доставка и оплата</span>
            </div>
            <div class="menu_flex-item_second margin-t-20">
                <%- require('./info-menu.ejs')() %>
            </div>
        </div>

        <div class="pay_main">
            <div class="pay-tab-unit">
                <%- require('./pay-list.ejs')() %>
            </div>
            <div class="pay-delivery">
            <%- require('./delivery-table.ejs')() %>
            </div>

        </div>
    </div>


    <div class="container-custom">
    </div>


    <div class="space-small"></div>
</div>

