<div>
    <div class="menu-item">
        <label class="left-menu_toggle-title" for="lab1">
            <a class="my-link" id="lab1">Оплата</a>
        </label>
    </div>
    <div class="menu-item">
        <label class="left-menu_toggle-title" for="lab1">
            <a class="my-link" id="lab2">Курьерская доставка</a>
        </label>
    </div>
    <div class="menu-item">
        <label class="left-menu_toggle-title" for="lab1">
            <a class="my-link" id="lab3">Пункты выдачи</a>
        </label>
    </div>
    <div class="menu-item">
        <label class="left-menu_toggle-title" for="lab1">
            <a class="my-link" id="lab4">Транспортные компании</a>
        </label>
    </div>
    <div class="menu-item">
        <label class="left-menu_toggle-title" for="lab1">
            <a class="my-link" id="lab5">Доставка в другие города</a>
        </label>
    </div>
</div>
