<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Каталог</a>
                -
                <a href="" class="crumbs-a">Универсальный каталог</a>
                -
                <a href="" class="crumbs-a">Шины летние</a>
                -
                <a href="" class="crumbs-a">CARBOXYLATE LONG LIFE Антифриз концентрат</a>
            </p>
        </div>
    </div>

    <!-- Initialize Swiper -->

    <div class="container-custom catalog__details">
        <span class="h1">CARBOXYLATE LONG LIFE Антифриз концентрат</span>
        <div class="product-eyes flex-100">
            <div class="info-top flex-100 phone-big">
                <div class="info_top-prod-inner">
                    <div class="article-prod flex">
                        <p class="grey">Артикул:</p>
                        <p class="strong-small">792255</p>
                    </div>
                    <div class="brand flex">
                        <p class="grey">Бренд:</p>
                        <p class="blue">GreenCool</p>
                    </div>
                    <svg class="i-icon star" data-star>
                        <use xlink:href="#star"/>
                    </svg>
                </div>

            </div>
            <div id="sliderCard" class="product-slider">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-10.jpg" alt="" class="w-100pr cover">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-6.jpg" alt="" class="w-100pr cover">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-9.jpg" alt="" class="w-100pr cover">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-8.jpg" alt="" class="w-100pr cover">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-7.jpg" alt="" class="w-100pr cover">
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="btns-chooser">
                        <div class="btns__chooser-btn">
                            <div class="two">
                                <button class="circle-btn swiper-button-prevvv">
                                    <svg class=" i-icon blue-btn reverse">
                                        <use xlink:href="#blue-btn"/>
                                    </svg>
                                </button>
                                <button class="circle-btn swiper-button-nexttt">
                                    <svg class=" i-icon blue-btn ">
                                        <use xlink:href="#blue-btn"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-10.jpg" alt="" class="w-100pr cover">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-6.jpg" alt="" class="w-100pr cover">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-9.jpg" alt="" class="w-100pr cover">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-8.jpg" alt="" class="w-100pr cover">
                        </div>
                        <div class="swiper-slide">
                            <img src="https://swiperjs.com/demos/images/nature-7.jpg" alt="" class="w-100pr cover">
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-fast_info desktop">
                <div class="info-top flex-100">
                    <div class="info_top-prod-inner">
                        <div class="article-prod flex">
                            <p class="grey">Артикул:</p>
                            <p class="strong-small">792255</p>
                        </div>
                        <div class="brand flex">
                            <p class="grey">Бренд:</p>
                            <p class="blue">GreenCool</p>
                        </div>
                        <svg class="i-icon star" data-star>
                            <use xlink:href="#star"/>
                        </svg>
                    </div>
                </div>
                <div class="info-level">
                    <div class="info-inner">
                        <svg class=" i-icon money">
                            <use xlink:href="#money"/>
                        </svg>
                        <p class="price-time">Мин. цена: </p>
                        <p class="big_money">3 дня / 500руб.</p>
                        <p class="serial">969108 Н</p>
                        <div class="info-icons ">
                            <!--                     <svg class=" i-icon product-circle">-->
                            <!--                        <use xlink:href="#product-circle-1"/>-->
                            <!--                     </svg>-->
                            <img src="./images/icons/product-circle-1.png" alt="circle" class="product-circle">
                            <img src="./images/icons/product-circle-2.png" alt="circle" class="product-circle">
                            <img src="./images/icons/product-circle-3.png" alt="circle" class="product-circle">
                        </div>
                        <div class="hover-card-product-info">
                            <div class="flex">
                                <div class="left-circle">
                                    <svg class=" i-icon big-circle">
                                        <use xlink:href="#big-90"/>
                                    </svg>
                                    <div class="circle-into">
                                        <p class="big-green">90%</p>
                                        <span class="common">Надёжность</span>
                                    </div>
                                    <div class="left-circle_bottom flex">
                                        <svg class=" i-icon shield">
                                            <use xlink:href="#shield"/>
                                        </svg>
                                        <span class="shield-text">Без контрафакта</span>
                                    </div>
                                </div>
                                <div class="right-info">
                                    <span class="h3">969108 Н</span>
                                    <div class="flex modal-unit">
                                        <div class="icoon">
                                            <svg class=" i-icon time-modal">
                                                <use xlink:href="#time-modal"/>
                                            </svg>
                                        </div>
                                        <div class="right_info-data">
                                            <p class="grey">Дата обновления прайс-листа</p>
                                            <p class="common">07.09.2020</p>
                                        </div>
                                    </div>
                                    <div class="flex modal-unit">
                                        <div class="icoon">
                                            <svg class=" i-icon time-modal">
                                                <use xlink:href="#time-modal"/>
                                            </svg>
                                        </div>
                                        <div class="right_info-data">
                                            <p class="grey">Расписание доставки заказов</p>
                                            <div>
                                                <p class="common">Пн - Пт: 17:30</p>
                                                <p class="common">Сб., Вс. - выходной</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex modal-unit">
                                        <div class="icoon">
                                            <svg class=" i-icon time-modal">
                                                <use xlink:href="#back"/>
                                            </svg>
                                        </div>
                                        <div class="right_info-data">
                                            <p class="grey">Возврат</p>
                                            <p class="common">Есть</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="basket">
                            <a href="#cart" data-animation-duration="700" data-simple class="contents">
                            <svg class=" i-icon icon-basket">
                                <use xlink:href="#icon-basket"/>
                            </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="info-level">
                    <div class="info-inner">
                        <svg class=" i-icon time">
                            <use xlink:href="#time"/>
                        </svg>
                        <p class="price-time">Мин. срок: </p>
                        <p class="big_money">20 дня / 700 500руб.</p>
                        <p class="serial">969108 Н</p>
                        <div class="info-icons">
                            <!--                     <svg class=" i-icon product-circle">-->
                            <!--                        <use xlink:href="#product-circle-1"/>-->
                            <!--                     </svg>-->
                            <img src="./images/icons/product-circle-1.png" alt="circle" class="product-circle">
                            <img src="./images/icons/product-circle-2.png" alt="circle" class="product-circle">
                            <img src="./images/icons/product-circle-3.png" alt="circle" class="product-circle">
                        </div>
                        <div class="hover-card-product-info">
                            <div class="flex">
                                <div class="left-circle">
                                    <svg class=" i-icon big-circle">
                                        <use xlink:href="#big-90"/>
                                    </svg>
                                    <div class="circle-into">
                                        <p class="big-green">90%</p>
                                        <span class="common">Надёжность</span>
                                    </div>
                                    <div class="left-circle_bottom flex">
                                        <svg class=" i-icon shield">
                                            <use xlink:href="#shield"/>
                                        </svg>
                                        <span class="shield-text">Без контрафакта</span>
                                    </div>
                                </div>
                                <div class="right-info">
                                    <span class="h3">969108 Н</span>
                                    <div class="flex modal-unit">
                                        <div class="icoon">
                                            <svg class=" i-icon time-modal">
                                                <use xlink:href="#time-modal"/>
                                            </svg>
                                        </div>
                                        <div class="right_info-data">
                                            <p class="grey">Дата обновления прайс-листа</p>
                                            <p class="common">07.09.2020</p>
                                        </div>
                                    </div>
                                    <div class="flex modal-unit">
                                        <div class="icoon">
                                            <svg class=" i-icon time-modal">
                                                <use xlink:href="#time-modal"/>
                                            </svg>
                                        </div>
                                        <div class="right_info-data">
                                            <p class="grey">Расписание доставки заказов</p>
                                            <div>
                                                <p class="common">Пн - Пт: 17:30</p>
                                                <p class="common">Сб., Вс. - выходной</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex modal-unit">
                                        <div class="icoon">
                                            <svg class=" i-icon time-modal">
                                                <use xlink:href="#back"/>
                                            </svg>
                                        </div>
                                        <div class="right_info-data">
                                            <p class="grey">Возврат</p>
                                            <p class="common">Есть</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="basket">
                            <a href="#cart" data-animation-duration="700" data-simple class="contents">
                            <svg class=" i-icon icon-basket">
                                <use xlink:href="#icon-basket"/>
                            </svg>
                            </a>
                        </div>
                    </div>
                </div>
<!--                <div class="back-to-catalog flex watch-all-know">-->
<!--                    <svg class=" i-icon arrow rotated">-->
<!--                        <use xlink:href="#arrow"/>-->
<!--                    </svg>-->
<!--                    <p class="watch__all-p">Назад в каталог</p>-->
<!--                </div>-->
                <div class="watch-all-know back-to-catalog">
                    <svg class=" i-icon arrow-left rotated">
                        <use xlink:href="#arrow"/>
                    </svg>
                    <a class="watch__all-p">Назад в каталог</a>
                </div>

            </div>
        </div>
    </div>

    <div class="container-custom">
        <div class="tabs" data-tabs>
            <div data-tabs-nav>
                <ul class="chose__mark-toggle" data-tabs-nav-list="">
                    <li class="tog-p " data-tabs-nav-item="">
                        <a class="tog__p-tog__a" data-tabs-nav-toggle="">Описание</a>
                    </li>
                    <li class="tog-p current" data-tabs-nav-item="">
                        <a class="tog__p-tog__a" data-tabs-nav-toggle="">Цены и сроки</a>
                    </li>
                    <li class="tog-p " data-tabs-nav-item="">
                        <a class="tog__p-tog__a" data-tabs-nav-toggle="">Применимость</a>
                    </li>
                    <li class="tog-p" data-tabs-nav-item="">
                        <a class="tog__p-tog__a" data-tabs-nav-toggle="">Доставка и оплата</a>
                    </li>

                </ul>
            </div>
            <div data-tabs-content="">
<!--                Описание-->
                <div class="none " data-tabs-content-item>
                    <div class="tab-first flex">
                        <div class="left">
                            <div class="rows">
                                <div class="row-info">
                                    <p class="grey">Бренд: </p>
                                    <p class="common">GreenVool</p>
                                </div>
                                <div class="row-info">
                                    <p class="grey">Материал: </p>
                                    <p class="common">Материал</p>
                                </div>
                                <div class="row-info">
                                    <p class="grey">Страна: </p>
                                    <p class="common">Россия</p>
                                </div>
                                <div class="row-info">
                                    <p class="grey">Транспорт: </p>
                                    <p class="common">Легковой</p>
                                </div>
                                <div class="row-info">
                                    <p class="grey">Цвет: </p>
                                    <p class="common">Чёрный</p>
                                </div>
                                <div class="row-info">
                                    <p class="grey">Вес, г: </p>
                                    <p class="common">2,79 г</p>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <p class="right-p">
                                В настоящее время Fortech Industries Inc. является производителем и поставщиком широкого
                                ассортимента автомобильных фильтров, колодок и сцеплений под торговой маркой FORTECH как
                                на внутренний рынок, так и на рынки Европы, Южной Америки и Юго-Восточной Азии. В 2010
                                году было открыто новое перспективное направление по производству автомобильной оптики.
                                В настоящее время Fortech Industries Inc. является производителем и поставщиком широкого
                                ассортимента автомобильных фильтров, колодок и сцеплений под торговой маркой FORTECH как
                                на внутренний рынок, так и на рынки Европы, Южной Америки и Юго-Восточной Азии.
                            </p>
                            <p class="right-p">
                                В 2010 году было открыто новое перспективное направление по производству автомобильной
                                оптики. В настоящее время Fortech Industries Inc. является производителем и поставщиком
                                широкого ассортимента автомобильных фильтров, колодок и сцеплений под торговой маркой
                                FORTECH как на внутренний рынок, так и на рынки Европы, Южной Америки и Юго-Восточной
                                Азии. В 2010 году было открыто новое перспективное направление по производству
                                автомобильной оптики. В настоящее время Fortech Industries Inc. является производителем
                                и поставщиком широкого ассортимента автомобильных фильтров, колодок и сцеплений под
                                торговой маркой FORTECH как на внутренний рынок, так и на рынки Европы, Южной Америки и
                                Юго-Восточной Азии. В 2010 году было открыто новое перспективное направление по
                                производству автомобильной оптики.В настоящее время Fortech Industries Inc. является
                                производителем и поставщиком широкого ассортимента автомобильных фильтров, колодок и
                                сцеплений под торговой маркой FORTECH как на внутренний рынок, так и на рынки Европы,
                                Южной Америки и Юго-Восточной Азии. В 2010 году было открыто новое перспективное
                                направление по производству автомобильной оптики.
                            </p>
                        </div>
                    </div>
                </div>
<!--                Цены и сроки-->
                <div class="none current" data-tabs-content-item>
                    <div class="delivery_price-table">
                        <div class="price_table-head flex flex-space desktop">
                            <div class="price_table-head-unit w-12pr">
                                <p class="grey">Поставщик</p>
                            </div>
                            <div class="price_table-head-unit w-11pr">
                                <p class="grey">Дата доставки</p>
                            </div>
                            <div class="price_table-head-unit w-7pr">
                                <p class="grey">Кратность</p>
                                <svg class=" i-icon answer-grey">
                                    <use xlink:href="#answer-grey"/>
                                </svg>
                                <div class="hover-card-product">
                                    <span class="level-info">Вы можете добавить в корзину только кратное количество товаров</span>
                                </div>
                            </div>
                            <div class="price_table-head-unit w-7pr">
                                <p class="grey">Наличие</p>
                                <svg class=" i-icon answer-grey">
                                    <use xlink:href="#answer-grey"/>
                                </svg>
                                <div class="hover-card-product">
                                    <span class="level-info">Доступное количество товаров для заказа</span>
                                </div>
                            </div>
                            <div class="price_table-head-unit w-7pr">
                                <p class="grey">Спрос</p>
                                <svg class=" i-icon answer-grey">
                                    <use xlink:href="#answer-grey"/>
                                </svg>
                                <div class="hover-card-product">
                                    <span class="level-info">Это количество покупателей, у которых данный товар сейчас в корзине</span>
                                </div>
                            </div>
                            <div class="price_table-head-unit w-7pr">
                                <p class="grey">Цена</p>
                                <svg class=" i-icon answer-grey">
                                    <use xlink:href="#answer-grey"/>
                                </svg>
                                <div class="hover-card-product">
                                        <span class="level-info">Стоимость за единицу товара</span>
                                </div>

                            </div>
                            <div class="price_table-head-unit w-7pr">
                            </div>
                        </div>
                        <div class="price_table-body">
                            <div class="price_table-level special">
                                <div class="price_table-level-unit w-12pr">
                                    <p class="bold green w-65px">M-партс</p>
                                    <div class="info-icons">
                                        <img src="./images/icons/product-circle-1.png" alt="circle" class="product-circle">
                                        <img src="./images/icons/product-circle-2.png" alt="circle" class="product-circle">
                                        <img src="./images/icons/product-circle-3.png" alt="circle" class="product-circle">
                                    </div>
                                    <div class="hover-card-product-info ">
                                        <div class="flex">
                                            <div class="left-circle">
                                                <svg class=" i-icon big-circle">
                                                    <use xlink:href="#big-90"/>
                                                </svg>
                                                <div class="circle-into circle-product">
                                                    <p class="big-green">90%</p>
                                                    <span class="common">Надёжность</span>
                                                </div>
                                                <div class="left-circle_bottom flex">
                                                    <svg class=" i-icon shield">
                                                        <use xlink:href="#shield"/>
                                                    </svg>
                                                    <span class="shield-text">Без контрафакта</span>
                                                </div>
                                            </div>
                                            <div class="right-info">
                                                <span class="h3">969108 Н</span>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#time-modal"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Дата обновления прайс-листа</p>
                                                        <p class="common">07.09.2020</p>
                                                    </div>
                                                </div>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#time-modal"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Расписание доставки заказов</p>
                                                        <div>
                                                            <p class="common">Пн - Пт: 17:30</p>
                                                            <p class="common">Сб., Вс. - выходной</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#back"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Возврат</p>
                                                        <p class="common">Есть</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="price_table-level-unit w-11pr">
                                    <p class="grey-phone">Доставка: </p>
                                    <p class="green-light">Завтра с 11:00</p>
                                    <svg class=" i-icon answer-grey">
                                        <use xlink:href="#attention-grey"/>
                                    </svg>
                                    <div class="hover-card-product-attention">
                                        <div class="flex">
                                            <span class="level-info">Товар будет готов к отгрузке: </span>
                                            <span class="bold level-info-product">в 11:00 15.07.20</span>
                                        </div>
                                        <div class="flex">
                                            <span class="level-info">По адресу: </span>
                                            <span class="bold level-info-product">108814, Москва, пос. Сосенское, д. Николо-Хованское</span>
                                        </div>
                                        <div class="flex">
                                            <span class="level-info">Время до заказа: </span>
                                            <span class="bold level-info-product">00:37</span>
                                        </div>
                                    </div>

                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Кратность: </p>
                                    <p class="common">2</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Наличие: </p>
                                    <p class="common"> >100 </p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Спрос: </p>
                                    <p class="common">13</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="bold black">99 900 руб.</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="blue-p bold">10</p>
                                    <svg class=" i-icon icon-basket-blue">
                                        <use xlink:href="#icon-basket-blue"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="price_table-level border">
                                <div class="price_table-level-unit w-12pr">
                                    <p class="bold blue w-65px">969108 Н</p>
                                    <div class="info-icons">
                                        <img src="./images/icons/product-circle-1.png" alt="circle" class="product-circle">
                                        <img src="./images/icons/product-circle-2.png" alt="circle" class="product-circle">
<!--                                        <img src="./images/icons/product-circle-3.png" alt="circle" class="product-circle">-->
                                    </div>
                                    <div class="hover-card-product-info ">
                                        <div class="flex">
                                            <div class="left-circle">
                                                <svg class=" i-icon big-circle">
                                                    <use xlink:href="#big-90"/>
                                                </svg>
                                                <div class="circle-into circle-product">
                                                    <p class="big-green">90%</p>
                                                    <span class="common">Надёжность</span>
                                                </div>
                                                <div class="left-circle_bottom flex">
                                                    <svg class=" i-icon shield">
                                                        <use xlink:href="#shield"/>
                                                    </svg>
                                                    <span class="shield-text">Без контрафакта</span>
                                                </div>
                                            </div>
                                            <div class="right-info">
                                                <span class="h3">969108 Н</span>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#time-modal"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Дата обновления прайс-листа</p>
                                                        <p class="common">07.09.2020</p>
                                                    </div>
                                                </div>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#time-modal"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Расписание доставки заказов</p>
                                                        <div>
                                                            <p class="common">Пн - Пт: 17:30</p>
                                                            <p class="common">Сб., Вс. - выходной</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#back"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Возврат</p>
                                                        <p class="common">Есть</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="price_table-level-unit w-11pr">
                                    <p class="grey-phone">Доставка: </p>
                                    <p class="common">12.05.2020</p>
                                    <svg class=" i-icon answer-grey">
                                        <use xlink:href="#attention-grey"/>
                                    </svg>
                                    <div class="hover-card-product-attention">
                                        <div class="flex">
                                            <span class="level-info">Товар будет готов к отгрузке: </span>
                                            <span class="bold level-info-product">в 11:00 15.07.20</span>
                                        </div>
                                        <div class="flex">
                                            <span class="level-info">По адресу: </span>
                                            <span class="bold level-info-product">108814, Москва, пос. Сосенское, д. Николо-Хованское</span>
                                        </div>
                                        <div class="flex">
                                            <span class="level-info">Время до заказа: </span>
                                            <span class="bold level-info-product">00:37</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Кратность: </p>
                                    <p class="common">2</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Наличие: </p>
                                    <p class="common"> >100 </p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Спрос: </p>
                                    <p class="common">13</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="bold black">99 900 руб.</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <a href="#cart" data-animation-duration="700" data-simple class="contents">
                                    <p class="blue-p bold"></p>
                                    <svg class=" i-icon icon-basket margin-auto">
                                        <use xlink:href="#icon-basket"/>
                                    </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="price_table-level border">
                                <div class="price_table-level-unit w-12pr">
                                    <p class="bold blue w-65px">969108 Н</p>
                                    <div class="info-icons">
                                        <img src="./images/icons/product-circle-1.png" alt="circle" class="product-circle">
                                        <img src="./images/icons/product-circle-2.png" alt="circle" class="product-circle">
                                        <!--                                        <img src="./images/icons/product-circle-3.png" alt="circle" class="product-circle">-->
                                    </div>
                                    <div class="hover-card-product-info">
                                        <div class="flex">
                                            <div class="left-circle">
                                                <svg class=" i-icon big-circle">
                                                    <use xlink:href="#big-90"/>
                                                </svg>
                                                <div class="circle-into circle-product">
                                                    <p class="big-green">90%</p>
                                                    <span class="common">Надёжность</span>
                                                </div>
                                                <div class="left-circle_bottom flex">
                                                    <svg class=" i-icon shield">
                                                        <use xlink:href="#shield"/>
                                                    </svg>
                                                    <span class="shield-text">Без контрафакта</span>
                                                </div>
                                            </div>
                                            <div class="right-info">
                                                <span class="h3">969108 Н</span>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#time-modal"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Дата обновления прайс-листа</p>
                                                        <p class="common">07.09.2020</p>
                                                    </div>
                                                </div>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#time-modal"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Расписание доставки заказов</p>
                                                        <div>
                                                            <p class="common">Пн - Пт: 17:30</p>
                                                            <p class="common">Сб., Вс. - выходной</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#back"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Возврат</p>
                                                        <p class="common">Есть</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="price_table-level-unit w-11pr">
                                    <p class="grey-phone">Доставка: </p>
                                    <p class="common">12.05.2020</p>
                                    <svg class=" i-icon answer-grey">
                                        <use xlink:href="#attention-grey"/>
                                    </svg>
                                    <div class="hover-card-product-attention">
                                        <div class="flex">
                                            <span class="level-info">Товар будет готов к отгрузке: </span>
                                            <span class="bold level-info-product">в 11:00 15.07.20</span>
                                        </div>
                                        <div class="flex">
                                            <span class="level-info">По адресу: </span>
                                            <span class="bold level-info-product">108814, Москва, пос. Сосенское, д. Николо-Хованское</span>
                                        </div>
                                        <div class="flex">
                                            <span class="level-info">Время до заказа: </span>
                                            <span class="bold level-info-product">00:37</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Кратность: </p>
                                    <p class="common">2</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Наличие: </p>
                                    <p class="common"> >100 </p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Спрос: </p>
                                    <p class="common">13</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="bold black">99 900 руб.</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <a href="#cart" data-animation-duration="700" data-simple class="contents">
                                    <p class="blue-p bold"></p>
                                    <svg class=" i-icon icon-basket margin-auto">
                                        <use xlink:href="#icon-basket"/>
                                    </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="price_table-level border">
                                <div class="price_table-level-unit w-12pr">
                                    <p class="bold blue w-65px">969108 Н</p>
                                    <div class="info-icons">
                                        <img src="./images/icons/product-circle-1.png" alt="circle" class="product-circle">
                                        <img src="./images/icons/product-circle-2.png" alt="circle" class="product-circle">
                                        <!--                                        <img src="./images/icons/product-circle-3.png" alt="circle" class="product-circle">-->
                                    </div>
                                    <div class="hover-card-product-info ">
                                        <div class="flex">
                                            <div class="left-circle">
                                                <svg class=" i-icon big-circle">
                                                    <use xlink:href="#big-90"/>
                                                </svg>
                                                <div class="circle-into circle-product">
                                                    <p class="big-green">90%</p>
                                                    <span class="common">Надёжность</span>
                                                </div>
                                                <div class="left-circle_bottom flex">
                                                    <svg class=" i-icon shield">
                                                        <use xlink:href="#shield"/>
                                                    </svg>
                                                    <span class="shield-text">Без контрафакта</span>
                                                </div>
                                            </div>
                                            <div class="right-info">
                                                <span class="h3">969108 Н</span>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#time-modal"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Дата обновления прайс-листа</p>
                                                        <p class="common">07.09.2020</p>
                                                    </div>
                                                </div>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#time-modal"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Расписание доставки заказов</p>
                                                        <div>
                                                            <p class="common">Пн - Пт: 17:30</p>
                                                            <p class="common">Сб., Вс. - выходной</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#back"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Возврат</p>
                                                        <p class="common">Есть</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="price_table-level-unit w-11pr">
                                    <p class="grey-phone">Доставка: </p>
                                    <p class="common">12.05.2020</p>
                                    <svg class=" i-icon answer-grey">
                                        <use xlink:href="#attention-grey"/>
                                    </svg>
                                    <div class="hover-card-product-attention">
                                        <div class="flex">
                                            <span class="level-info">Товар будет готов к отгрузке: </span>
                                            <span class="bold level-info-product">в 11:00 15.07.20</span>
                                        </div>
                                        <div class="flex">
                                            <span class="level-info">По адресу: </span>
                                            <span class="bold level-info-product">108814, Москва, пос. Сосенское, д. Николо-Хованское</span>
                                        </div>
                                        <div class="flex">
                                            <span class="level-info">Время до заказа: </span>
                                            <span class="bold level-info-product">00:37</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Кратность: </p>
                                    <p class="common">2</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Наличие: </p>
                                    <p class="common"> >100 </p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Спрос: </p>
                                    <p class="common">13</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="bold black">99 900 руб.</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <a href="#cart" data-animation-duration="700" data-simple class="contents">
                                    <p class="blue-p bold"></p>
                                    <svg class=" i-icon icon-basket margin-auto">
                                        <use xlink:href="#icon-basket"/>
                                    </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="price_table-level border">
                                <div class="price_table-level-unit w-12pr">
                                    <p class="bold blue w-65px">969108 Н</p>
                                    <div class="info-icons">
                                        <img src="./images/icons/product-circle-1.png" alt="circle" class="product-circle">
                                        <img src="./images/icons/product-circle-2.png" alt="circle" class="product-circle">
                                        <!--                                        <img src="./images/icons/product-circle-3.png" alt="circle" class="product-circle">-->
                                    </div>
                                    <div class="hover-card-product-info">
                                        <div class="flex">
                                            <div class="left-circle">
                                                <svg class=" i-icon big-circle">
                                                    <use xlink:href="#big-90"/>
                                                </svg>
                                                <div class="circle-into circle-product">
                                                    <p class="big-green">90%</p>
                                                    <span class="common">Надёжность</span>
                                                </div>
                                                <div class="left-circle_bottom flex">
                                                    <svg class=" i-icon shield">
                                                        <use xlink:href="#shield"/>
                                                    </svg>
                                                    <span class="shield-text">Без контрафакта</span>
                                                </div>
                                            </div>
                                            <div class="right-info">
                                                <span class="h3">969108 Н</span>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#time-modal"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Дата обновления прайс-листа</p>
                                                        <p class="common">07.09.2020</p>
                                                    </div>
                                                </div>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#time-modal"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Расписание доставки заказов</p>
                                                        <div>
                                                            <p class="common">Пн - Пт: 17:30</p>
                                                            <p class="common">Сб., Вс. - выходной</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex modal-unit">
                                                    <div class="icoon">
                                                        <svg class=" i-icon time-modal">
                                                            <use xlink:href="#back"/>
                                                        </svg>
                                                    </div>
                                                    <div class="right_info-data">
                                                        <p class="grey">Возврат</p>
                                                        <p class="common">Есть</p>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="price_table-level-unit w-11pr">
                                    <p class="grey-phone">Доставка: </p>
                                    <p class="common">12.05.2020</p>
                                    <svg class=" i-icon answer-grey">
                                        <use xlink:href="#attention-grey"/>
                                    </svg>
                                    <div class="hover-card-product-attention">
                                        <div class="flex">
                                            <span class="level-info">Товар будет готов к отгрузке: </span>
                                            <span class="bold level-info-product">в 11:00 15.07.20</span>
                                        </div>
                                        <div class="flex">
                                            <span class="level-info">По адресу: </span>
                                            <span class="bold level-info-product">108814, Москва, пос. Сосенское, д. Николо-Хованское</span>
                                        </div>
                                        <div class="flex">
                                            <span class="level-info">Время до заказа: </span>
                                            <span class="bold level-info-product">00:37</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Кратность: </p>
                                    <p class="common">2</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Наличие: </p>
                                    <p class="common"> >100 </p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="grey-phone">Спрос: </p>
                                    <p class="common">13</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <p class="bold black">99 900 руб.</p>
                                </div>
                                <div class="price_table-level-unit w-7pr">
                                    <a href="#cart" data-animation-duration="700" data-simple class="contents">
                                    <p class="blue-p bold"></p>
                                    <svg class=" i-icon icon-basket margin-auto">
                                        <use xlink:href="#icon-basket"/>
                                    </svg>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="watch-all analogs">
                        <a class="watch__all-p">Показать аналоги</a>
                        <svg class=" i-icon arrow ">
                            <use xlink:href="#arrow"/>
                        </svg>
                    </div>
                </div>
<!--                Применимость-->
                <div class="none " data-tabs-content-item>
                    <div class="delivery_use-table">
                        <div class="use_table-head flex ">
                            <div class="price_table-head-unit w-16pr border">
                                <p class="grey">Марка</p>
                            </div>
                            <div class="price_table-head-unit w-16pr border">
                                <p class="grey">Модель</p>
                            </div>
                            <div class="price_table-head-unit w-16pr border">
                                <p class="grey">Модификация</p>
                            </div>
                            <div class="price_table-head-unit w-16pr border">
                                <p class="grey">кВт</p>
                            </div>
                            <div class="price_table-head-unit w-16pr border">
                                <p class="grey">Л.С.</p>
                            </div>
                            <div class="price_table-head-unit w-16pr border">
                                <p class="grey">Год</p>
                            </div>
                        </div>
                        <div class="use_table-body">
                            <div class="use_table-level ">
                                <div class="use_table-level-unit-custom w-16pr">
                                    <p class="bold ">Hundai</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модель: </p>
                                    <p class="common">Solaris</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модификация: </p>
                                    <p class="common">1,4</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">кВт: </p>
                                    <p class="common">79</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">ЛС: </p>
                                    <p class="common">107</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Год: </p>
                                    <p class="common">2002-2011</p>
                                </div>
                            </div>
                            <div class="use_table-level ">
                                <div class="use_table-level-unit-custom w-16pr">
                                    <p class="bold phone">Hundai</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модель: </p>
                                    <p class="common">Solaris</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модификация: </p>
                                    <p class="common">1,4</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">кВт: </p>
                                    <p class="common">79</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">ЛС: </p>
                                    <p class="common">107</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Год: </p>
                                    <p class="common">2002-2011</p>
                                </div>
                            </div>
                            <div class="use_table-level ">
                                <div class="use_table-level-unit-custom w-16pr border-desktop">
                                    <p class="bold phone ">Hundai</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модель: </p>
                                    <p class="common">Solaris</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модификация: </p>
                                    <p class="common">1,4</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">кВт: </p>
                                    <p class="common">79</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">ЛС: </p>
                                    <p class="common">107</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Год: </p>
                                    <p class="common">2002-2011</p>
                                </div>
                            </div>

                            <div class="use_table-level ">
                                <div class="use_table-level-unit-custom w-16pr">
                                    <p class="bold ">Hundai</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модель: </p>
                                    <p class="common">Solaris</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модификация: </p>
                                    <p class="common">1,4</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">кВт: </p>
                                    <p class="common">79</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">ЛС: </p>
                                    <p class="common">107</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Год: </p>
                                    <p class="common">2002-2011</p>
                                </div>
                            </div>
                            <div class="use_table-level ">
                                <div class="use_table-level-unit-custom w-16pr">
                                    <p class="bold phone">Hundai</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модель: </p>
                                    <p class="common">Solaris</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модификация: </p>
                                    <p class="common">1,4</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">кВт: </p>
                                    <p class="common">79</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">ЛС: </p>
                                    <p class="common">107</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Год: </p>
                                    <p class="common">2002-2011</p>
                                </div>
                            </div>
                            <div class="use_table-level ">
                                <div class="use_table-level-unit-custom w-16pr border-desktop">
                                    <p class="bold phone ">Hundai</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модель: </p>
                                    <p class="common">Solaris</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Модификация: </p>
                                    <p class="common">1,4</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">кВт: </p>
                                    <p class="common">79</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">ЛС: </p>
                                    <p class="common">107</p>
                                </div>
                                <div class="use_table-level-unit w-16pr border-desktop">
                                    <p class="grey-phone">Год: </p>
                                    <p class="common">2002-2011</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
<!--                Доставка и оплата-->
                <div class="none" data-tabs-content-item>
                    <div class="tab-fourth flex">
                        <div class="tab-unit">
                            <div class="tab-unit-item">
                                <div class="deliveryy-big">
                                    <svg class=" i-icon deliveryy">
                                        <use xlink:href="#elipse-delivery"/>
                                    </svg>
                                    <svg class=" i-icon package">
                                        <use xlink:href="#package"/>
                                    </svg>
                                </div>
                            </div>
                            <!--                            <img src="./images/icons/delivery-1.png" alt="delivery">-->
                            <span class="big-orange">Самовывоз</span>
                            <p class="blue">Бесплатный самовывоз из пункта выдачи</p>
                            <div class="timetable">
                                <div class="flex">
                                    <svg class=" i-icon delivery-time">
                                        <use xlink:href="#delivery-time"/>
                                    </svg>
                                    <div class="text">
                                        <p>Пн - Пт с 9:00 до 18:00</p>
                                        <p>Cб., Вс. - выходной</p>
                                    </div>
                                </div>
                                <div class="flex margin-t-10">
                                    <svg class=" i-icon delivery-time">
                                        <use xlink:href="#delivery-location"/>
                                    </svg>
                                    <div class="text-2">
                                        <p>108814, Москва, поселение Сосенскоe</p>
                                        <p>д. Николо-Хованское</p>
                                        <p class="bold">GPS координаты:</p>
                                        <p class="bold">55.602671, 37.445729</p>
                                        <a href="">Как проехать?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-unit">
                            <div class="tab-unit-item">
                                <div class="deliveryy-big">
                                    <svg class=" i-icon deliveryy">
                                        <use xlink:href="#elipse-delivery"/>
                                    </svg>
                                    <svg class=" i-icon package">
                                        <use xlink:href="#package"/>
                                    </svg>
                                </div>
                            </div>
                            <!--                            <img src="./images/icons/delivery-1.png" alt="delivery">-->
                            <span class="big-orange">Доставка</span>
                            <p class="blue">Бесплатная курьерская доставка</p>
                            <div class="timetable">
                                <p class="special">Сроки доставки указаны в товаре</p>
                                <div class="flex">
                                    <svg class=" i-icon delivery-time">
                                        <use xlink:href="#delivery-time"/>
                                    </svg>
                                    <div class="text">
                                        <p>Пн - Пт с 9:00 до 18:00</p>
                                        <p>Cб., Вс. - выходной</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-unit">
                            <div class="tab-unit-item">
                                <div class="deliveryy-big">
                                    <svg class=" i-icon deliveryy">
                                        <use xlink:href="#elipse-delivery"/>
                                    </svg>
                                    <svg class=" i-icon package">
                                        <use xlink:href="#delivery-cajas"/>
                                    </svg>
                                </div>
                            </div>
                            <!--                            <img src="./images/icons/delivery-1.png" alt="delivery">-->
                            <span class="big-orange">Посылки по 10 кг</span>
                            <p class="blue">Доставляем до двери</p>
                            <div class="timetable">
                                <div class="text">
                                <p class="special">Заказчик встречается с курьером за дверным порогом, в местах общего
                                    пользования</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-unit">
                            <div class="tab-unit-item">
                                <div class="deliveryy-big">
                                    <svg class=" i-icon deliveryy">
                                        <use xlink:href="#elipse-delivery"/>
                                    </svg>
                                    <svg class=" i-icon package">
                                        <use xlink:href="#delivery-paleta"/>
                                    </svg>
                                </div>
                            </div>
                            <!--                            <img src="./images/icons/delivery-1.png" alt="delivery">-->
                            <span class="big-orange">Посылки более 10 кг</span>
                            <p class="blue">Доставляются до подъезда или дома</p>
                            <div class="timetable">
                                <div class="text">
                                <p class="special">При обязательном наличии подъездных путей, предназначенных для грузового транспорта. В данном случае, просим обеспечить беспрепятственное прибытие нашего автомобиля к месту разгрузки. Если проезд будет затруднен или невозможен, то товар будет передан в точке, максимально близкой к ранее согласованной, позволяющей выполнить остановку и передать автозапчасти без нарушения ПДД.</p>
                                </div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-custom">
        <div class="seo-text">
            <p class="h2">
                Оптовые продажи автокомпонентов для автомобилей иностранного производства
            </p>
            <p class="common-p">
                Основное направление деятельности нашей компании, это оптовая и розничная продажа запасных частей для
                автомобилей, мотоциклов, силовой и другой техники известных мировых производителей. Компания
                предоставляет весь спектр услуг, связанных с данным видом деятельности, - это подбор запасных частей по
                каталогам производителей, работа под заказ, отправка товара в любую точку России своими силами или при
                помощи транспортных компаний, оказание консультативной помощи нашим покупателям и многое другое.
            </p>
            <p class="common-p">
                Одной из приоритетных задач компании, стоит расширение ассортимента запасных частей для автомобилей и
                мото-силовой техники за счет прямого сотрудничества с производителями качественных запасных частей.
            </p>
            <p class="common-p">
                На нашем складе всегда в наличии широкий, постоянно увеличивающийся ассортимент запасных частей для
                автомобилей, мотоциклов и другой техники , представленной на нашем рынке. У нас поддерживаются в наличии
                товары, как для нового, так и для старого модельных рядов.
            </p>
        </div>
    </div>
</div>

