<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Каталог</a>
                -
                <a href="" class="crumbs-a">Каталог оригинальных запчастей</a>
                -
                <a href="" class="crumbs-a">Оригинальные запчасти для Hyundai Solaris седан 1.6</a>
            </p>
        </div>
    </div>
    <div class="container-custom catalog-details" >
        <span class="h1">Оригинальные запчасти для Hyundai Solaris седан 1.6</span>
        <div >
            <div class="chose__mark-toggle">
                <p class="tog-p current">
                    <a class="tog__p-tog__a">Категории</a>
                </p>
                <p class="tog-p">
                    <a class="tog__p-tog__a">Узлы</a>
                </p>
            </div>
        </div>
            <div class="current">
                <!--                Категориии!!!!-->
                <div class="flex-100 items-parts">
                    <div class="details_left-menu">
                        <div class="menu-item" data-change-arrow>
                            <label class="left-menu_toggle-title" for="left-toggle">
                                <svg class=" i-icon vector">
                                    <use xlink:href="#vector-reverse"/>
                                </svg>
                                <a class="my-link">Детали для ТО</a>
                            </label>
                            <!--            <label for="menu-toggle">Toggle menu</label>-->
                            <input type="checkbox" id="left-toggle" class="left-toggle"/>
                            <div class="left-toggle">
                                <a class="left-element">Что то интересное</a>
                                <a class="left-element">Ещё что то интересное</a>
                                <a class="left-element">А тут что то очень интересное</a>
                                <a class="left-element ">Тут не интересно</a>
                            </div>
                        </div>
                        <div class="menu-item" data-change-arrow>
                            <label class="left-menu_toggle-title" for="left-toggle1">
                                <svg class=" i-icon vector ">
                                    <use xlink:href="#vector-reverse"/>
                                </svg>
                                <a class="my-link">Двигатель</a>
                            </label>
                            <!--            <label for="menu-toggle">Toggle menu</label>-->
                            <input type="checkbox" id="left-toggle1" class="left-toggle"/>
                            <div class="left-toggle">
                                <a class="left-element">Что то интересное</a>
                                <a class="left-element ">Тут не интересно</a>
                            </div>
                        </div>
                        <div class="menu-item" data-change-arrow>
                            <label class="left-menu_toggle-title" for="left-toggle2">
                                <svg class=" i-icon vector ">
                                    <use xlink:href="#vector-reverse"/>
                                </svg>
                                <a class="my-link">Топливная система</a>
                            </label>
                            <!--            <label for="menu-toggle">Toggle menu</label>-->
                            <input type="checkbox" id="left-toggle2" class="left-toggle"/>
                            <div class="left-toggle">
                                <a class="left-element">Что то интересное</a>
                                <a class="left-element">Ещё что то интересное</a>
                                <a class="left-element">А тут что то очень интересное</a>
                                <a class="left-element ">Тут не интересно</a>
                            </div>
                        </div>
                        <div class="menu-item" data-change-arrow>
                            <label class="left-menu_toggle-title" for="left-toggle3">
                                <svg class=" i-icon vector ">
                                    <use xlink:href="#vector-reverse"/>
                                </svg>
                                <a class="my-link">Сисстема охлеждения</a>
                            </label>
                            <!--            <label for="menu-toggle">Toggle menu</label>-->
                            <input type="checkbox" id="left-toggle3" class="left-toggle"/>
                            <div class="left-toggle">
                                <a class="left-element ">Тут не интересно</a>
                            </div>
                        </div>
                    </div>


                    <div class="details_content">
                        <!--                        основная часть-->
                        <div class="custom-find">
                            <!--            <img src="./icons/lupa.svg" alt="" class="lupa">-->
                            <svg class=" i-icon lupa-find ">
                                <use xlink:href="#lupa"/>
                            </svg>
                            <input type="text" placeholder="Быстрый поиск по подразделам" class="custom_find-input-ts">
                        </div>

                        <div class="detail">
                            <div class="detail-head flex-100 flex-space border">
                                <span class="detail-name h3">Двигатель</span>
                                <div class="detail-where flex-100">
                                    <p class="where-p">В категории: </p>
                                    <a href="" class="where-a">Двигатель</a>
                                </div>
                            </div>
                            <div class="detail-body border flex-100">
                                <div class="detail_body-left">
                                    <span class="left-name h4">
                                        31-310: Топливная система
                                    </span>
                                    <img src="./images/content/motor.png" alt="motor">
                                </div>
                                <div class="detail_body-right">
                                    <div class="right-table">
                                        <div class="table-level border">
                                            <div class="level-grey w-25pr"><p>OEM</p></div>
                                            <div class="level-grey w-60pr"><p>Название детали</p></div>
                                            <div class="level-grey w-25pr answer"></div>
                                        </div>
                                        <div class="table-level border">
                                            <p class="level-number w-25pr">311101R200</p>
                                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                                            <div class="level-answer w-25pr answer">
                                                <svg class=" i-icon  answer">
                                                    <use xlink:href="#answer"/>
                                                </svg>
                                            </div>
                                            <div class="hover-card">
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                                    <div class="level-info w-65pr">09149R000</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                                    <div class="level-info w-65pr">
                                                        Кузов: s4 sedan - 4DR 5P АКП:
                                                        (5) manual t/m - 5 spedd 2WD
                                                    </div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                                    <div class="level-info w-65pr">1</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-level border">
                                            <p class="level-number w-25pr">311101R200</p>
                                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                                            <div class="level-answer w-25pr answer">
                                                <svg class=" i-icon  answer">
                                                    <use xlink:href="#answer"/>
                                                </svg>
                                            </div>
                                            <div class="hover-card">
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                                    <div class="level-info w-65pr">09149R000</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                                    <div class="level-info w-65pr">
                                                        Кузов: s4 sedan - 4DR 5P АКП:
                                                        (5) manual t/m - 5 spedd 2WD
                                                    </div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                                    <div class="level-info w-65pr">1</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-level border">
                                            <p class="level-number w-25pr">311101R200</p>
                                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                                            <div class="level-answer w-25pr answer">
                                                <svg class=" i-icon  answer">
                                                    <use xlink:href="#answer"/>
                                                </svg>
                                            </div>
                                            <div class="hover-card">
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                                    <div class="level-info w-65pr">09149R000</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                                    <div class="level-info w-65pr">
                                                        Кузов: s4 sedan - 4DR 5P АКП:
                                                        (5) manual t/m - 5 spedd 2WD
                                                    </div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                                    <div class="level-info w-65pr">1</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-level border">
                                            <p class="level-number w-25pr">311101R200</p>
                                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                                            <div class="level-answer w-25pr answer">
                                                <svg class=" i-icon  answer">
                                                    <use xlink:href="#answer"/>
                                                </svg>
                                            </div>
                                            <div class="hover-card">
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                                    <div class="level-info w-65pr">09149R000</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                                    <div class="level-info w-65pr">
                                                        Кузов: s4 sedan - 4DR 5P АКП:
                                                        (5) manual t/m - 5 spedd 2WD
                                                    </div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                                    <div class="level-info w-65pr">1</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-level border">
                                            <p class="level-number w-25pr">311101R200</p>
                                            <a href="" class="level-a w-60pr">Топливный насос в сборе</a>

                                            <div class="level-answer w-25pr answer">
                                                <svg class=" i-icon  answer">
                                                    <use xlink:href="#answer"/>
                                                </svg>
                                            </div>
                                            <div class="hover-card">
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>OEM:</p></div>
                                                    <div class="level-info w-65pr">09149R000</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Наименование:</p></div>
                                                    <div class="level-info w-65pr">Масляный фильтр</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Filter note:</p></div>
                                                    <div class="level-info w-65pr">
                                                        Кузов: s4 sedan - 4DR 5P АКП:
                                                        (5) manual t/m - 5 spedd 2WD
                                                    </div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Количество:</p></div>
                                                    <div class="level-info w-65pr">1</div>
                                                </div>
                                                <div class="flex-100">
                                                    <div class="level-grey-other w-35pr"><p>Range:</p></div>
                                                    <div class="level-info w-65pr">01.03.2011 - 26.10.2011</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-level ">
                                            <a class="level-a left">Остальные детали узла</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>


    <div class="container-custom">
        <div class="seo-text">
            <h1 class="h2">
                Каталог оригинальных запчастей
            </h1>
            <p class="common-p">
                Основное направление деятельности нашей компании, это оптовая и розничная продажа запасных частей для
                автомобилей, мотоциклов, силовой и другой техники известных мировых производителей. Компания
                предоставляет весь спектр услуг, связанных с данным видом деятельности, - это подбор запасных частей по
                каталогам производителей, работа под заказ, отправка товара в любую точку России своими силами или при
                помощи транспортных компаний, оказание консультативной помощи нашим покупателям и многое другое.
            </p>
            <p class="common-p">
                Одной из приоритетных задач компании, стоит расширение ассортимента запасных частей для автомобилей и
                мото-силовой техники за счет прямого сотрудничества с производителями качественных запасных частей.
            </p>
            <p class="common-p">
                На нашем складе всегда в наличии широкий, постоянно увеличивающийся ассортимент запасных частей для
                автомобилей, мотоциклов и другой техники , представленной на нашем рынке. У нас поддерживаются в наличии
                товары, как для нового, так и для старого модельных рядов.
            </p>
        </div>
    </div>
</div>

