<div class="main">
    <div class="container-custom ">
        <div class="crumbs">
            <p class="crumbs-p">
                <a href="" class="crumbs-a">Главная</a>
                -
                <a href="" class="crumbs-a">Новости и акции</a>
                -
                <a href="" class="crumbs-a">GreenCool</a>
                -
                <a href="" class="crumbs-a">Антифриз Европейского качества H1</a>
            </p>
        </div>
    </div>
    <div class="container-custom catalog-details ">
        <div class="text-page-limit">
            <span class="h1">GreenCool – Антифриз Европейского качества H1</span>
            <p class="advantage-common_p">
                В настоящее время Fortech Industries Inc. является производителем и поставщиком широкого
                ассортимента автомобильных фильтров, колодок и сцеплений под торговой маркой FORTECH как
                на внутренний рынок, так и на рынки Европы, Южной Америки и Юго-Восточной Азии. В 2010 году
                было открыто новое перспективное направление по производству автомобильной оптики.
            </p>
            <p class="advantage-common_p">
                Fortech Indusctries Inc. производит продукцию для автомобилей Hyundai, KIA, Daewoo, Toyota,
                Nissan, Mitsubishi, Mazda, Chevrolet, FORD, Renault, OPEL, как для легковых автомобилей,
                так и на коммерческий транспорт. Особое внимание уделяется продукции для автомобилей
                и ГАЗ, поставляемой на Российский рынок. Завод имеет международный сертификат
                ISO/TS 16949.
            </p>
            <p class="advantage-common_p">
                <a class="orange_selected">
                    ISO/TS 16949:2002 (ИСО/ТУ 16949:2002)
                </a>
                — это международный отраслевой стандарт, разработанный для автомобильной
                промышленности на основе стандартов ISO 9000 и американский стандарт QS — 9000,
                устанавливающий требования к системам качества поставщиков.
            </p>
        </div>
        <div class="text-page-limit">
            <span class="h2">Заголовок текста h2</span>
            <p class="advantage-common_p">
                В настоящее время Fortech Industries Inc. является производителем и поставщиком широкого
                ассортимента автомобильных фильтров, колодок и сцеплений под торговой маркой FORTECH как
                на внутренний рынок, так и на рынки Европы, Южной Америки и Юго-Восточной Азии. В 2010 году
                было открыто новое перспективное направление по производству автомобильной оптики.
            </p>
            <p class="advantage-common_p">
                Fortech Indusctries Inc. производит продукцию для автомобилей Hyundai, KIA, Daewoo, Toyota,
                Nissan, Mitsubishi, Mazda, Chevrolet, FORD, Renault, OPEL, как для легковых автомобилей,
                так и на коммерческий транспорт. Особое внимание уделяется продукции для автомобилей
                и ГАЗ, поставляемой на Российский рынок. Завод имеет международный сертификат
                ISO/TS 16949.
            </p>
            <p class="advantage-common_p">
                Особое внимание уделяется продукции для автомобилей ВАЗ и ГАЗ, поставляемой на
                Российский рынок. Завод имеет международный сертификат качества ISO/TS 16949.
                ISO/TS 16949:2002 (ИСО/ТУ 16949:2002) — это международный отраслевой стандарт,
                разработанный для автомобильной промышленности на основе стандартов ISO 9000 и
                американский стандарт QS — 9000, устанавливающий требования к системам качества поставщиков.
            </p>
        </div>
        <div class="text-page-limit">
            <span class="h3">Список h3</span>
            <ul class="advantage-ul">
                <li class="advantage-li">
                    <p>Fortech Indusctries Inc. производит продукцию для
                        автомобилей Hyundai, KIA, Daewoo, Toyota, Nissan,
                        Mitsubishi, Mazda, Chevrolet, FORD, Renault, OPEL,
                        как для легковых автомобилей, так и на коммерческий
                        транспорт.
                    </p>
                </li>
                <li class="advantage-li">
                    <p>
                        Особое внимание уделяется продукции для автомобилей ВАЗ и ГАЗ, поставляемой на
                        Российский рынок. Завод имеет международный сертификат качества ISO/TS 16949.
                    </p>
                </li>
                <li class="advantage-li">
                    <p>
                        ISO/TS 16949:2002 (ИСО/ТУ 16949:2002) — это международный отраслевой стандарт,
                        разработанный для автомобильной промышленности на основе стандартов ISO 9000
                        и американский стандарт QS — 9000, устанавливающий требования к системам
                        качества поставщиков.
                    </p>
                </li>
            </ul>
        </div>
        <div class="text-page-limit">
            <span class="h4">Заголовок h4</span>
            <p class="advantage-common_p">
                В настоящее время Fortech Industries Inc. является производителем и поставщиком широкого
                ассортимента автомобильных фильтров, колодок и сцеплений под торговой маркой FORTECH как
                на внутренний рынок, так и на рынки Европы, Южной Америки и Юго-Восточной Азии. В 2010 году
                было открыто новое перспективное направление по производству автомобильной оптики.
            </p>
            <p class="advantage-common_p">
                Fortech Indusctries Inc. производит продукцию для автомобилей Hyundai, KIA,
                Daewoo, Toyota, Nissan, Mitsubishi, Mazda, Chevrolet, FORD, Renault, OPEL,
                как для легковых автомобилей, так и на коммерческий транспорт.
            </p>
            <p class="advantage-common_p">
                Особое внимание уделяется продукции для автомобилей ВАЗ и ГАЗ, поставляемой на
                Российский рынок. Завод имеет международный сертификат качества ISO/TS 16949.
                ISO/TS 16949:2002 (ИСО/ТУ 16949:2002) — это международный отраслевой стандарт,
                разработанный для автомобильной промышленности на основе стандартов ISO 9000 и
                американский стандарт QS — 9000, устанавливающий требования к системам качества поставщиков.
            </p>
        </div>
    </div>


    <div class="space-small"></div>
</div>

