<div class="write-us">
    <div class="container-custom">
        <div class="write_us-inner">
            <div class="write_us-small">
                <span class="big-orange">Написать нам</span>
                <p class="common-white">У вас есть вопросы или предложения?
                Напишите нам и наш специалист свяжется с вами в ближайшее время</p>
            </div>
            <div class="write_us-big">
                <div class="write_us-level">
                    <div class="write_us-level-elem">
                    <label for="writeUs01" class="label-margin  flex-100 wrap m-0">
                        <input type="text" id="writeUs01"
                               class="w-100pr content__phone-input-white"
                               placeholder="Ваше имя"
                               data-inputmask data-input-required="name">
                        <svg class=" i-icon star-after">
                            <use xlink:href="#star-red"/>
                        </svg>
                    </label>
                    </div>
                    <div class="write_us-level-elem">
                    <label for="writeUs02" class="label-margin  flex-100 wrap m-0">
                        <input type="tel" id="writeUs02"
                               class="w-100pr content__phone-input-white"
                               placeholder="Телефон"
                               data-inputmask data-input-required="phone">
                        <svg class=" i-icon star-after">
                            <use xlink:href="#star-red"/>
                        </svg>
                    </label>
                    </div>
                    <div class="write_us-level-elem">
                    <label for="writeUs03" class="label-margin  flex-100 wrap m-0">
                        <input type="email" id="writeUs03"
                               class="w-100pr content__phone-input-white"
                               placeholder="E-mail"
                               data-inputmask data-input-required="email">
                        <svg class=" i-icon star-after">
                            <use xlink:href="#star-red"/>
                        </svg>
                    </label>
                    </div>
                </div>
                <div class="write_us-level">
                    <textarea name="" id=""  class="common-textarea-white"
                              placeholder="Ваше сообщение"></textarea>
                </div>
                <div class="write_us-level">
                    <div class="w-30pr">
                        <button class="content__phone-btn w-100pr">Отправить</button>
                    </div>
                    <div class="write_us-checkbox ">
                        <div class="checkbox__label">
                            <input type="checkbox" id="check-writeUs" class="checkbox__input "
                                   data-input-required="checkbox">
                            <div class="checkbox__emulator ">
                                <svg class=" i-icon fill-white">
                                    <use xlink:href="#checked"/>
                                </svg>
                            </div>
                            <div class="checkbox__text">
                                <label for="check-writeUs" class="subscription-white_label">Даю согласие на обработку персональных данные, согласен с
                                    <a href="" class="orange">политикой конфиденциальности</a></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>