<div class="write-us">
    <div class="container-custom">
        <div class="write_us-inner">
            <div class="write_us-small">
                <span class="big-orange">Отдел по работе с поставщиками</span>
<!--                <p class="common-white">У вас есть вопросы или предложения?-->
<!--                Напишите нам и наш специалист свяжется с вами в ближайшее время</p>-->
                <div class="flex-100 margin-t-30">
                    <svg class=" i-icon write-provider">
                        <use xlink:href="#write-provider-1"/>
                    </svg>
                    <a href="tel:+74992818180" class="normal-white bold provider-level">+7 (499) 281-81-80</a>
                </div>
                <div class="flex-100 margin-t-15">
                    <svg class=" i-icon write-provider">
                        <use xlink:href="#write-provider-2"/>
                    </svg>
                    <p class="common-white provider-level">Пн - Пт с 9:00 до 18:00</p>
                </div>
                <div class="flex-100 margin-t-15 margin-b-15">
                    <svg class=" i-icon write-provider">
                        <use xlink:href="#write-provider-3"/>
                    </svg>
                    <a href="mailto:info@v01.ru" class="common-white provider-level">info@v01.ru</a>
                </div>
            </div>
            <div class="write_us-big">
                <div class="write_us-level">
                    <div class="w-30pr">
                    <label for="writeUs01" class="label-margin  flex-100 wrap m-0">
                        <input type="text" id="writeUs01"
                               class="w-100pr content__phone-input-white necessarily"
                               placeholder="Ваше имя" data-input-required="name">
                        <svg class=" i-icon star-after">
                            <use xlink:href="#star-red"/>
                        </svg>
                    </label>
                    </div>
                    <div class="w-30pr">
                    <label for="writeUs02" class="label-margin  flex-100 wrap m-0">
                        <input type="tel" id="writeUs02"
                               class="w-100pr content__phone-input-white"
                               placeholder="Телефон"
                               data-inputmask data-input-required="phone">
                        <svg class=" i-icon star-after">
                            <use xlink:href="#star-red"/>
                        </svg>
                    </label>
                    </div>
                    <div class="w-30pr">
                    <label for="writeUs03" class="label-margin  flex-100 wrap m-0">
                        <input type="email" id="writeUs03"
                               class="w-100pr content__phone-input-white"
                               placeholder="E-mail" data-input-required="email">
                        <svg class=" i-icon star-after">
                            <use xlink:href="#star-red"/>
                        </svg>
                    </label>
                    </div>
                </div>
                <div class="write_us-level">
                    <textarea name="" id=""  class="common-textarea-white"
                              placeholder="Ваше сообщение"></textarea>
                </div>
                <div class="write_us-level">
                    <div class="w-30pr">
                        <button class="content__phone-btn w-100pr">Отправить</button>
                    </div>
                    <div class="write_us-checkbox ">
                        <div class="checkbox__label">
                            <input type="checkbox" id="check-writeUs" class="checkbox__input "
                                   data-input-required="checkbox">
                            <div class="checkbox__emulator white">
                                <svg class=" i-icon fill-white">
                                    <use xlink:href="#checked"/>
                                </svg>
                            </div>
                            <div class="checkbox__text">
                                <label for="check-writeUs" class="subscription-white_label">
                                    С договором поставки ознакомлен.
                                    <a href="" class="orange underscore-orange">Скачать договор доставки</a></label>
                            </div>
                        </div>
                        <div class="checkbox__label margin-t-6">
                            <input type="checkbox" id="check-writeUs" class="checkbox__input "
                                   data-input-required="checkbox">
                            <div class="checkbox__emulator white">
                                <svg class=" i-icon fill-white">
                                    <use xlink:href="#checked"/>
                                </svg>
                            </div>
                            <div class="checkbox__text">
                                <label for="check-writeUs" class="subscription-white_label">Даю согласие на обработку персональных данные, согласен с
                                    <a href="" class="orange underscore-orange">политикой конфиденциальности</a></label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>