<ul class="selected__header-link-brand ">
        <li class="car__item">
            <span class="car__item-letter">A</span>
            <div class="nameS">
                <span class="car__item-name--white ">Audi</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">B</span>
            <div class="nameS">
                <span class="car__item-name--white">Bmv</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">C</span>
            <div class="nameS">
                <span class="car__item-name--white">Chevrolet</span>
                <span class="car__item-name--white">Citroen</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">D</span>
            <div class="nameS">
                <span class="car__item-name--white">Dacia</span>
                <span class="car__item-name--white">Daewoo</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">A</span>
            <div class="nameS">
                <span class="car__item-name--white">Audi</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">B</span>
            <div class="nameS">
                <span class="car__item-name--white upper">Bmv</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">C</span>
            <div class="nameS">
                <span class="car__item-name--white">Chevrolet</span>
                <span class="car__item-name--white">Citroen</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">D</span>
            <div class="nameS">
                <span class="car__item-name--white">Dacia</span>
                <span class="car__item-name--white">Dacia</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">A</span>
            <div class="nameS">
                <span class="car__item-name--white">Audi</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">B</span>
            <div class="nameS">
                <span class="car__item-name--white upper">Bmv</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">C</span>
            <div class="nameS">
                <span class="car__item-name--white">Chevrolet</span>
                <span class="car__item-name--white">Citroen</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">D</span>
            <div class="nameS">
                <span class="car__item-name--white">Dacia</span>
                <span class="car__item-name--white">Dacia</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">A</span>
            <div class="nameS">
                <span class="car__item-name--white">Audi</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">B</span>
            <div class="nameS">
                <span class="car__item-name--white upper">Bmv</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">C</span>
            <div class="nameS">
                <span class="car__item-name--white">Chevrolet</span>
                <span class="car__item-name--white">Citroen</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">D</span>
            <div class="nameS">
                <span class="car__item-name--white">Dacia</span>
                <span class="car__item-name--white">Dacia</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">A</span>
            <div class="nameS">
                <span class="car__item-name--white">Audi</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">B</span>
            <div class="nameS">
                <span class="car__item-name--white upper">Bmv</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">C</span>
            <div class="nameS">
                <span class="car__item-name--white">Chevrolet</span>
                <span class="car__item-name--white">Citroen</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">D</span>
            <div class="nameS">
                <span class="car__item-name--white">Dacia</span>
                <span class="car__item-name--white">Dacia</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">A</span>
            <div class="nameS">
                <span class="car__item-name--white">Audi</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">B</span>
            <div class="nameS">
                <span class="car__item-name--white upper">Bmv</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">C</span>
            <div class="nameS">
                <span class="car__item-name--white">Chevrolet</span>
                <span class="car__item-name--white">Citroen</span>
            </div>
        </li>
        <li class="car__item">
            <span class="car__item-letter">D</span>
            <div class="nameS">
                <span class="car__item-name--white">Dacia</span>
                <span class="car__item-name--white">Dacia</span>
            </div>
        </li>
</ul>