<a class="logo">
    <img src="./images/icons/burger-menu.png" alt="" class="logo__img burger mobile">
    <img src="./images/icons/logo.png" alt="" class="logo__img desktop tables">
    <img src="./images/icons/phone-logo.png" alt="" class="logo__img mobile">
</a>