<div id="sliderBuy" class="main-slider">
    <div class="main-slider__container swiper-container">
        <div class="main-slider__wrapper swiper-wrapper">
            <% const list = [
                {},
                {
                    color: true
                }
            ] %>
            <% list.forEach(function (item) { %>
                <div class="main-slider__slide swiper-slide">
                    <a href="#" class="main-slider__link">
                        <picture class="main-slider__picture">
                            <img src="./images/content/banner.png" alt="" class="main-slider__img">
                            <img src="./images/content/banner.png" alt="" class="main-slider__img main-slider__img--mobile">
                        </picture>
                        <div class="main-slider__content">
                            <div class="main-slider__title">Комплект фильтров<br> для ТО ВАЗ 2110 <br>FT-101</div>
                            <div class="main-slider__btn <%= item.color ? 'main-slider__btn--blue' : null %>">
                                <span>Смотреть</span>
                                <svg class="i-icon">
                                    <use xlink:href="#i-link-arrow"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="main-slider__note">Выгодная цена</div>
                    </a>
                </div>
            <% }) %>
        </div>
        <div class="main-slider__nav main-slider__nav--prev">
            <svg class="i-icon">
                <use xlink:href="#i-swiper-button"/>
            </svg>
        </div>
        <div class="main-slider__nav main-slider__nav--next">
            <svg class="i-icon">
                <use xlink:href="#i-swiper-button"/>
            </svg>
        </div>
    </div>
</div>