

<div class="container">
    <h1>Список страниц верстки</h1>

    <ul>
        <li>
            <a href="main.html">Главная</a>
<!--            18/24.09-->
        </li>
        <li>
            <a href="general-catalog.html">Общий каталог</a>
        </li>
<!--            13.10-->
        <li>
            <a href="original-catalog.html">Оригинальный каталог</a>
<!--            14/15.10-->
        <li>
            <a href="universal-catalog.html">Универстальный каталог</a>
        </li>
        <li>
            <a href="selected-ts-category.html">Каталог оригиналов выбраного ТС - категории</a>
<!--            16.10-->
        </li>
        <li>
            <a href="selected-ts-nodes.html">Каталог оригиналов выбраного ТС - узлы</a>
            <!--            16.10-->
        </li>
        <li>
            <a href="card-ts.html">Карточка выбранного узла ТС</a>
        </li>
        <li>
            <a href="found-auto.html">Найденые автомобили</a>
        </li>
        <li>
            <a href="product.html">Товар</a>
        </li>
        <li>
            <a href="accessories.html">Поиск аксессуаров</a>
        </li>
        <li>
            <a href="find-details.html">Поиск делатей</a>
        </li>
        <li>
            <a href="find-details-end.html">Результаты поиска</a>
        </li>
        <li>
            <a href="bx-basket.html">Корзина</a>
        </li>
        <li>
            <a href="registration-order.html">Регистрация заказа</a>
        </li>
        <li>
            <a href="slider.html">Слайдер</a>
        </li>
        <li>
            Модальные окна
            <ul>
<!--              24/25/12-->
                <li>
                    <!-- data-modal-open - для открытия модального окна-->
                    <a href="#auth" data-modal-open>Авторизация</a>
                </li>
                <li>
                    <a href="#sms" data-modal-open>SMS</a>
                </li>
                <li>
                    <a href="#reg" data-modal-open>Регистрация</a>
                </li>
                <li>
                    <a href="#call1" data-modal-open>Референс</a>
                </li>
                <li>
                    <a href="#chose-town" data-modal-open>Смена города</a>
                </li>
                <li>
                    <a href="#recovery-pass" data-modal-open>Восстановление пароля</a>
                </li>
                <li>
                    <a href="#check-mail" data-modal-open>Проверьте email</a>
                </li>
                <li>
                    <a href="#fast-order" data-modal-open>Быстрый заказ</a>
                </li>
            </ul>
        </li>
        <li>
            Вспомогательные страницы
            <ul>
                <li>
                    <a href="news-promotions.html">Новости и акции</a>
                </li>
                <li>
                    <a href="brand-item.html">Страница продукта бренда</a>
                </li>
                <li>
                    <a href="brands.html">Бренды</a>
                </li>
                <li>
                    <a href="brand-presentation.html">Страница бренда</a>
                </li>
                <li>
                    <a href="page404.html">Страница 404</a>
                </li>
                <li>
                    <a href="contacts.html">Контакты</a>
                </li>
                <li>
                    <a href="about-company.html">О компании</a>
                </li>
                <li>
                    <a href="provider.html">Поставщикам</a>
                </li>
                <li>
                    <a href="api.html">Api</a>
                </li>
                <li>
                    <a href="pay-main.html">Оплата</a>
                </li>
                <li>
                    <a href="pay-delivery.html">Курьерская доставка</a>
                </li>
                <li>
                    <a href="pay-take.html">Пункт выдачи</a>
                </li>
                <li>
                    <a href="pay-transport.html">Транспортные компании</a>
                </li>
                <li>
                    <a href="town-delivery.html">Доставка в другие города</a>
                </li>
                <li>
                    <a href="text-page.html">Текстовая страница</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div id="call1" class="modal modal--big">
    <div class="modal__head">
        <div class="modal__title">Заказать звонок</div>
        <div class="modal__desc">Оставьте заявку и наш специалист свяжется с вами</div>
    </div>
    <div class="modal__body">
        <form class="modal__form" action="" data-form>
            <div class="form-row">
                <div class="form-col form-col--6">
                    <label class="label">
                        <input type="text" autocomplete="off" class="input input--required" value="" placeholder=""
                               data-input-required="name">
                        <span class="placeholder">
                            <span>Имя</span>
                            <span class="required">*</span>
                        </span>
                    </label>
                </div>
                <div class="form-col form-col--6">
                    <label class="label">
                        <input type="text" autocomplete="off" class="input" data-inputmask data-input-required="phone">
                        <span class="placeholder">
                            <span>Телефон</span>
                            <span class="required">*</span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="modal__bottom">
                <div class="modal__checkbox">
                    <div class="checkbox">
                        <label class="checkbox__label">
                            <input class="checkbox__input" type="checkbox" data-input-required="checkbox">
                            <div class="checkbox__emulator ">
                                <svg class="i-icon fill-white">
                                    <use xlink:href="#icon-checked"></use>
                                </svg>
                            </div>
                            <div class="checkbox__text">
                                <span>
                                    Нажимая кнопку “Отправить” я соглашаюсь на обработку моих персональных данных в соответствии с
                                </span>
                                <a href="">Условиями</a>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="modal__buttons">
                    <input type="submit" class="btn btn--orange" value="Отправить">
                </div>
            </div>
        </form>
    </div>
</div>

<div id="auth" class="modal">
    <div class="flex-100 h100">
        <div class="modal-left"></div>
        <div class="modal-right">
            <div class="modal__right-tabs">
                <span class="authorization-h1">Авторизация</span>
                <!--                Основная авторизация-->
                <div class="authorization-tabs" data-tabs>
                    <div data-tabs-nav>
                        <div class="chose__mark-toggle" data-tabs-nav-list="">
                            <p class="tog-p current" data-tabs-nav-item="">
                                <a class="tog__p-tog__a" data-tabs-nav-toggle="">Телефон</a></p>
                            <p class="tog-p" data-tabs-nav-item="">
                                <a class="tog__p-tog__a" data-tabs-nav-toggle="">E-mail</a>
                            </p>
                        </div>
                    </div>

                    <div class="modal__right-content" data-tabs-content="">
                        <div data-tabs-content-item="" class="none current">
                            <!--                            начало 1 шага-->
                            <form class="modal__form" action="" data-form>
                                <script>
                                    var d = 0;
                                    function completeNumber(root) {
                                        if (d == 0) {
                                            root.value = "+7";
                                            d = 1;
                                            console.log('d = ', d);
                                        }
                                    }
                                </script>
                                <!-- ШАГ 1 (чекбоксы и инпут с телефоном)   -->
                                <div class="modal__right__content-phone">
                                    <div class="flex-100 flex-space">
                                        <label for="phone" class="label-margin w-45pr flex-100 wrap m-0">
                                            <input type="tel" id="phone" class="content__phone-input w-100pr"
                                                   placeholder="+7 (000) 000-00-00"
                                                   data-inputmask data-input-required="phone" autocomplete="off"
                                                   onclick="completeNumber(this)">
                                        </label>

                                        <button class="content__phone-btn w-45pr" type="submit">Войти</button>

                                    </div>
                                    <div class="checkers">
                                        <div class="checkbox">
                                            <label for="check" class="checkbox__label">
                                                <input type="checkbox" id="check" class="checkbox__input">
                                                <div class="checkbox__emulator ">
                                                    <svg class=" i-icon fill-white">
                                                        <use xlink:href="#checked"/>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span class="black">Чужой компьютер</span>
                                                </div>
                                                <!--                                        <label for="ch-1" class="label"></label>-->
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <div class="checkbox__label">
                                                <input type="checkbox" id="check1" class="checkbox__input"
                                                       data-input-required="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class=" i-icon fill-white">
                                                        <use xlink:href="#checked"/>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text black">
                                                    <label for="check1" class=" normal">Нажимая кнопку “Войти” я даю свое
                                                        согласие с
                                                        <a class="orange">политикой конфиденциальности</a></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Конец 1 шага                           -->

                            <!-- ШАГ 2 (Подтверждение по смс)           -->
                            <!--                                                        <div class="modal__right__content-phone">-->
                            <!--                                                            <div class="flex-100">-->
                            <!--                                                                <input type="tel" class="content__phone-input" placeholder="Код из sms">-->
                            <!--                                                                <button class="content__phone-btn">Войти</button>-->
                            <!--                                                            </div>-->
                            <!--                                                            <div class="check-sms">-->
                            <!--                                                либо-->
<!--                                                                                            <p class="orange border-orange fit-content">Получить код</p>-->
                            <!--                                                                либо-->
                            <!--                                                                <p class="black inline">Получить код повторно через <a class="orange"> 00:55 сек</a></p>-->
                            <!--                                                            </div>-->
                            <!--                                                        </div>-->
                            <!-- Конец 2 шага                           -->
                        </div>

                        <div data-tabs-content-item="" class="none">
                            <form class="modal__form" action="" data-form>
                                <div class="modal__right__content-email">
                                    <label for="email" class="label-margin flex-100 wrap">
                                        <input type="email" id="email" class="content__email-input"
                                               placeholder="Введите email"
                                               data-input-required="email" autocomplete="off">
                                    </label>
                                    <div  class="label-margin flex-100 wrap">
                                        <input type="password" id="password" class="content__email-input"
                                               placeholder="Введите  или придумайте пароль"
                                               data-input-required="default">
                                        <div class="hover-special">
                                            <svg class=" i-icon answer-grey ">
                                                <use xlink:href="#answer-grey"/>
                                            </svg>
                                            <div class="hover-card-auth w-365 margin-l-m-320">
                                                <span class="level-info">Если вы на сайте впервые, то придумайте пароль</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex-100 forget">
                                        <a class="forget__pass">Забыли пароль?</a>
                                        <p class="forget__pass-grey">Вышлем новый на почту</p>
                                    </div>
                                    <div class="checkers">
                                        <div class="checkbox">
                                            <label for="check2" class="checkbox__label">
                                                <input type="checkbox" id="check2" class="checkbox__input">
                                                <div class="checkbox__emulator">
                                                    <svg class=" i-icon fill-white">
                                                        <use xlink:href="#checked"/>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text black">
                                                    <span class="normal">Чужой компьютер</span>
                                                </div>
                                                <!--                                        <label for="ch-1" class="label"></label>-->
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <div class="checkbox__label">
                                                <input type="checkbox" id="check3" class="checkbox__input"
                                                       data-input-required="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class=" i-icon fill-white">
                                                        <use xlink:href="#checked"/>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text black">
                                                    <label for="check3" class="normal">Нажимая кнопку “Войти” я даю свое
                                                        согласие с
                                                        <a class="orange">политикой конфиденциальности</a></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="content__phone-btn">Войти</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--                Конец основной авторизации-->
            </div>
        </div>
    </div>
</div>

<!--SMS!-->
<div id="sms" class="modal">
    <div class="flex-100 h100">
        <div class="modal-left"></div>
        <div class="modal-right">
            <div class="modal__right-tabs">
                <span class="authorization-h1">Авторизация</span>
                <!--                Основная авторизация-->
                <div class="authorization-tabs" data-tabs>
                    <div data-tabs-nav>
                        <div class="chose__mark-toggle" data-tabs-nav-list="">
                            <p class="tog-p current" data-tabs-nav-item="">
                                <a class="tog__p-tog__a" data-tabs-nav-toggle="">Телефон</a></p>
                            <p class="tog-p" data-tabs-nav-item="">
                                <a class="tog__p-tog__a" data-tabs-nav-toggle="">E-mail</a>
                            </p>
                        </div>
                    </div>

                    <div class="modal__right-content" data-tabs-content="">
                        <div data-tabs-content-item="" class="none current">
                            <form class="modal__form" action="" data-form>

                                <!--                             ШАГ 2 (Подтверждение по смс)           -->
                                <div class="modal__right__content-phone">
                                    <div class="flex-100 flex-space">
                                        <label for="phone" class="label-margin w-45pr flex-100 wrap m-0">
                                            <input type="tel" class="content__phone-input w-100pr"
                                                   placeholder="Код из sms" minlength="3" data-input-required="default">
                                        </label>
                                        <button class="content__phone-btn">Войти</button>
                                    </div>
                                    <div class="check-sms">
                                        <!--                                                                            либо-->
                                        <p class="orange border-orange fit-content pointer">Получить код</p>
                                        <!--                                        &lt;!&ndash;                                                                                            либо&ndash;&gt;-->
                                        <!--                                        <p class="black inline">Получить код повторно через <a class="orange"> 00:55-->
                                        <!--                                                сек</a></p>-->
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div data-tabs-content-item="" class="none">
                            <form class="modal__form" action="" data-form>
                                <div class="modal__right__content-email">
                                    <label for="email" class="label-margin flex-100 wrap">
                                        <input type="email" id="email1" class="content__email-input"
                                               placeholder="Введите email"
                                               data-input-required="email">
                                    </label>
                                    <label for="password" class="label-margin flex-100 wrap">
                                        <input type="password" id="password1" class="content__email-input"
                                               placeholder="Введите пароль"
                                               data-input-required="default">
                                    </label>
                                    <div class="flex-100 forget">
                                        <a class="forget__pass">Забыли пароль?</a>
                                        <p class="forget__pass-grey">Вышлем новый на почту</p>
                                    </div>
                                    <div class="checkers">
                                        <div class="checkbox">
                                            <label for="check22" class="checkbox__label">
                                                <input type="checkbox" id="check22" class="checkbox__input">
                                                <div class="checkbox__emulator">
                                                    <svg class=" i-icon fill-white">
                                                        <use xlink:href="#checked"/>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text">
                                                    <span class="black">Чужой компьютер</span>
                                                </div>
                                                <!--                                        <label for="ch-1" class="label"></label>-->
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <div class="checkbox__label">
                                                <input type="checkbox" id="check33" class="checkbox__input"
                                                       data-input-required="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class=" i-icon fill-white">
                                                        <use xlink:href="#checked"/>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text black">
                                                    <label for="check33" class="normal">Нажимая кнопку “Войти” я даю свое
                                                        согласие с
                                                        <a class="orange">политикой конфиденциальности</a></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="content__phone-btn">Войти</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--                Конец основной авторизации-->

            </div>
        </div>
    </div>
</div>
<!--SMS-END-->

<div id="chose-town" class="modal">
    <div class="flex-100 h100">
        <div class="modal-left"></div>
        <div class="modal-right">
            <div class="modal__right-tabs-town">
                <span class="authorization-h1">Изменить город</span>
                <div class="authorization-tabs">
                    <div class="modal__right__content-email">
                        <div class="search">
                            <input type="search" class="search__input-town" placeholder="Ваш город">
                            <button class="search__button">
                                <svg class=" i-icon icon lupa">
                                    <use xlink:href="#lupa"/>
                                </svg>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="towns">
                    <div class="towns-item ">
                        <svg class=" i-icon town">
                            <use xlink:href="#i-town"/>
                            <p class="towns__item-p-big">Москва</p>
                        </svg>
                    </div>
                    <div class="towns-item">
                        <svg class=" i-icon town">
                            <use xlink:href="#i-town"/>
                            <p class="towns__item-p-big">Санкт-Петербург</p>
                        </svg>
                    </div>
                    <div class="towns-item">
                        <svg class=" i-icon town">
                            <use xlink:href="#i-town"/>
                            <p class="towns__item-p-small">Екатеринбург</p>
                        </svg>
                    </div>
                    <div class="towns-item">
                        <svg class=" i-icon town">
                            <use xlink:href="#i-town"/>
                            <p class="towns__item-p-small">Казань</p>
                        </svg>
                    </div>
                    <div class="towns-item">
                        <svg class=" i-icon town">
                            <use xlink:href="#i-town"/>
                            <p class="towns__item-p-small">Нижний новгород</p>
                        </svg>
                    </div>
                    <div class="towns-item">
                        <svg class=" i-icon town">
                            <use xlink:href="#i-town"/>
                            <p class="towns__item-p-small">Самара</p>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="reg" class="modal">
    <div class="flex-100 h100">
        <div class="modal-left"></div>
        <div class="modal-right">
            <div class="modal__right-tabs">
                <span class="authorization-h1">Регистрация</span>
                <div class="authorization-tabs" data-tabs>
                    <div data-tabs-nav>
                        <div class="chose__mark-toggle" data-tabs-nav-list="">
                            <p class="tog-p current" data-tabs-nav-item="">
                                <a class="tog__p-tog__a" data-tabs-nav-toggle="">Частное лицо</a></p>
                            <p class="tog-p" data-tabs-nav-item="">
                                <a class="tog__p-tog__a" data-tabs-nav-toggle="">Компания</a>
                            </p>
                        </div>
                    </div>

                    <div class="modal__right-content" data-tabs-content="">
                        <div data-tabs-content-item="" class="none current">
                            <form class="modal__form" action="" data-form>
                                <div class="modal__right__content-email flex-100 wrap">
                                    <label for="name1" class="label-margin flex-100 wrap">
                                        <input type="text" autocomplete="off" id="name1" class="content__email-input"
                                               placeholder="Ваше имя"
                                               data-input-required="name">
                                    </label>
                                    <label for="surname1" class="label-margin flex-100 wrap">
                                        <input type="text" autocomplete="off" id="surname1" class="content__email-input"
                                               placeholder="Ваша фамилия"
                                               data-input-required="surname">
                                    </label>
                                    <label for="middle-name1" class="label-margin flex-100 wrap">
                                        <input type="text" autocomplete="off" id="middle-name1"
                                               class="content__email-input"
                                               placeholder="Ваше отчество">
                                    </label>
                                    <div class="flex-100 flex-space">
                                        <label for="email-reg1" class="label-margin w-45pr flex-100 wrap m-0">
                                            <input type="email" id="email-reg1" class="content__phone-input w-100pr"
                                                   placeholder="Ваш e-mail" data-input-required="email">
                                        </label>
                                        <label for="phone-reg1" class="label-margin w-45pr flex-100 wrap m-0">
                                            <input type="tel" id="phone-reg1"
                                                   class="w-100pr content__phone-input-white "
                                                   placeholder="8 (768) 123-45-67"
                                                   data-inputmask data-input-required="phone">
                                        </label>
                                    </div>

                                    <div class="checkers">
                                        <div class="checkbox">
                                            <div class="checkbox__label">
                                                <input type="checkbox" id="check4" class="checkbox__input"
                                                       data-input-required="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class=" i-icon fill-white">
                                                        <use xlink:href="#checked"/>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text black">
                                                    <label for="check4" class="normal">Нажимая кнопку “Войти” я даю свое
                                                        согласие с
                                                        <a class="orange">политикой конфиденциальности</a></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkbox">
                                            <div class="checkbox__label">
                                                <input type="checkbox" id="check5" class="checkbox__input"
                                                       data-input-required="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class=" i-icon fill-white">
                                                        <use xlink:href="#checked"/>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text black">
                                                    <label for="check5" class="normal">Согласен с
                                                        <a class="orange">условиям оферты</a></label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <button class="content__phone-btn">Регистрация</button>
                                </div>
                            </form>
                        </div>

                        <div data-tabs-content-item="" class="none">
                            <form class="modal__form" action="" data-form>
                                <span class="authorization-h3">
                                    Информация о компании
                                </span>
                                <div class="company__info-height">
                                    <label for="modal-select" class="f-30 label-comp label-margin">
                                        <input type="text" autocomplete="off" id="modal-select"
                                               class="modal__universal-input"
                                               placeholder="SELECT">
                                    </label>
                                    <label for="name-comp" class="f-65 label-comp label-margin">
                                        <input type="text" autocomplete="off" id="name_comp"
                                               class="modal__universal-input"
                                               placeholder="Название компании"
                                               data-input-required="name_comp">
                                    </label>
                                    <label for="modal-inn" class="f-48  label-comp label-margin">
                                        <input type="text" autocomplete="off" id="modal-inn"
                                               class="modal__universal-input "
                                               placeholder="ИНН"
                                               data-input-required="UF_INN">
                                    </label>
                                    <label for="email-comp" class=" f-48 label-comp label-margin">
                                        <input type="text" autocomplete="off" id="email-comp"
                                               class="modal__universal-input"
                                               placeholder="E-mail"
                                               data-input-required="email">
                                    </label>
                                </div>
                                <span class="authorization-h3">
                                    Вид деятельности
                                </span>
                                <div class="company__info-med flex-100">
                                    <label class="container-radio modal-radio-left">Закупка для себя
                                        <input type="radio" checked="checked" name="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container-radio modal-radio-right">Закупка для продажи
                                        <input type="radio" name="radio">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <span class="authorization-h3">
                                    Контактное лицо компании
                                </span>
                                <div class="company__info-low">
                                    <label for="name2" class="label-margin flex-100 wrap">
                                        <input type="text" autocomplete="off" id="name2" class="content__email-input"
                                               placeholder="Ваше имя"
                                               data-input-required="name">
                                    </label>
                                    <label for="surname2" class="label-margin flex-100 wrap">
                                        <input type="text" autocomplete="off" id="surname2" class="content__email-input"
                                               placeholder="Ваша фамилия"
                                               data-input-required="surname">
                                    </label>
                                    <label for="middle-name2" class="label-margin flex-100 wrap">
                                        <input type="text" autocomplete="off" id="middle-name2"
                                               class="content__email-input"
                                               placeholder="Ваше отчество">
                                    </label>
                                    <div class="flex-100 flex-space">
                                        <div for="email-reg2" class="label-margin w-45pr flex-100 wrap m-0">
                                            <input type="email" id="email-reg2" class="w-100pr content__phone-input"
                                                   placeholder="Ваш e-mail" data-input-required="email">
                                            <div class="hover-special">
                                                <svg class=" i-icon answer-grey ">
                                                    <use xlink:href="#answer-grey"/>
                                                </svg>
                                                <div class="hover-card-auth w-320 margin-l-m-200">
                                                    <span class="level-info">Эта почта будет использована для входа</span>
                                                </div>
                                            </div>
                                        </div>
                                        <label for="phone-reg2" class="label-margin w-45pr flex-100 wrap m-0">
                                            <input type="tel" id="phone-reg2" class="w-100pr content__phone-input-white"
                                                   placeholder="8 (768) 123-45-67"
                                                   data-inputmask data-input-required="phone">
                                        </label>
                                    </div>
                                </div>

                                <div class="checkers">
                                    <div class="checkbox">
                                        <div class="checkbox__label">
                                            <input type="checkbox" id="check6" class="checkbox__input"
                                                   data-input-required="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class=" i-icon fill-white">
                                                    <use xlink:href="#checked"/>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text black">
                                                <label for="check6" class="normal">Нажимая кнопку “Войти” я даю свое
                                                    согласие с
                                                    <a class="orange">политикой конфиденциальности</a></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkbox">
                                        <div class="checkbox__label">
                                            <input type="checkbox" id="check7" class="checkbox__input"
                                                   data-input-required="checkbox">
                                            <div class="checkbox__emulator">
                                                <svg class=" i-icon fill-white">
                                                    <use xlink:href="#checked"/>
                                                </svg>
                                            </div>
                                            <div class="checkbox__text black">
                                                <label for="check7" class="normal">Согласен с
                                                    <a class="orange">условиям оферты</a></label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <button class="content__phone-btn">Регистрация</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="recovery-pass" class="modal">
    <div class="flex-100 h100">
        <div class="modal-left"></div>
        <div class="modal-right">
            <div class="modal__right-tabs">
                <span class="authorization-h1">Авторизация</span>
                <div class="authorization-tabs" data-tabs>
                    <div data-tabs-nav>
                        <div class="chose__mark-toggle" data-tabs-nav-list="">
                            <p class="tog-p current" data-tabs-nav-item="">
                                <a class="tog__p-tog__a" data-tabs-nav-toggle="">Восстановить пароль</a></p>
                        </div>
                    </div>

                    <div class="modal__right-content" data-tabs-content="">
                        <div data-tabs-content-item="" class="none current">
                            <form class="modal__form" action="" data-form>
                                <div class="modal__right__content-email flex-100 wrap">
                                    <label for="email-recovery" class="label-margin flex-100 wrap">
                                        <input type="text" autocomplete="off" id="email-recovery"
                                               class="content__email-input"
                                               placeholder="Введите e-mail"
                                               data-input-required="email">
                                    </label>
                                </div>
                                <button class="content__phone-btn">Отправить</button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="check-mail" class="modal">
    <div class="flex-100 h100">
        <div class="modal-left"></div>
        <div class="modal-right">
            <div class="modal__right-tabs">
                <span class="authorization-h1">А теперь... проверьте почту</span>
                <div class="authorization-tabs">

                    <div class="modal__right-content">
                        <div class="none current">
                            <div class="">
                                <p class="common-p">Мы отправили новый пароль на почту test@test.ru</p>
                                <p class="common-p margin-b-0">Пожалуйста, дождитесь письма и не восстанавливайте пароль заново.</p>
                                <p class="common-p margin-t-0">Это займёт не более 10 минут.</p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="all" class="modal">
    <div class="flex-100 h100">
        <div class="modal-left"></div>
        <div class="modal-right">
            <span class="authorization-h1">Модальные окна</span>
            <ul>
                <li>
                    <!-- data-modal-open - для открытия модального окна-->
                    <a href="#auth" data-modal-open class="authorization-h3">Авторизация</a>
                </li>
                <li>
                    <a href="#sms" data-modal-open class="authorization-h3">SMS</a>
                </li>
                <li>
                    <a href="#reg" data-modal-open class="authorization-h3">Регистрация</a>
                </li>
                <li>
                    <a href="#call1" data-modal-open class="authorization-h3">Референс</a>
                </li>
                <li>
                    <a href="#chose-town" data-modal-open class="authorization-h3">Смена города</a>
                </li>
                <li>
                    <a href="#recovery-pass" data-modal-open class="authorization-h3">Восстановление пароля</a>
                </li>
                <li>
                    <a href="#check-mail" data-modal-open class="authorization-h3">Проверьте email</a>
                </li>
                <li>
                    <a href="#mobile-menu" data-modal-open class="authorization-h3">Мобильное меню</a>
                </li>
                <li>
                    <a href="#cart" data-simple class="authorization-h3">Корзина</a>
                </li>
                <li>
                    <a href="#fast-order" data-simple class="authorization-h3">Быстрый заказ</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="mobile-menu" class="modal">
    <div class="flex-100 h100">
        <div class="modal-all">
            <div class="mobile-logo">
                <img src="./images/icons/logo.png" alt="" class="">
            </div>
            <div class="mobile-main container-custom">
                <label for="mobile-menu-toggle" class="mobile-title" data-change-arrowFooter>
                    <a class="my-link">Каталоги</a>
                    <svg class="i-icon vector-filter-modal phone-big reverse-h">
                        <use xlink:href="#vector-big"></use>
                    </svg>
                </label>
                <input type="checkbox" id="mobile-menu-toggle"/>
                <div class="toggle mobile-toggles">
                    <a class="mobile-element">Оригинальный каталог</a>
                    <a class="mobile-element">Каталог заменителей</a>
                    <a class="mobile-element">Каталог акксесуаров</a>
                    <a class="mobile-element">Универсальный каталог</a>
                </div>

                <label for="mobile-menu-toggle1" class="mobile-title" data-change-arrowFooter>
                    <a class="my-link">Масла и автохимия</a>
                    <svg class="i-icon vector-filter-modal phone-big reverse-h">
                        <use xlink:href="#vector-big"></use>
                    </svg>
                </label>
                <input type="checkbox" id="mobile-menu-toggle1"/>
                <div class="toggle mobile-toggles">
                    <a class="mobile-element">Все товары</a>
                    <a class="mobile-element">Смазки</a>
                    <a class="mobile-element">Присадки</a>
                    <a class="mobile-element">Ароматизаторы</a>
                    <a class="mobile-element">Моторные масла</a>
                    <a class="mobile-element">Трансмиссионные масла и ГУР</a>
                </div>

                <a class="mobile-title">Шины и диски</a>
                <a class="mobile-title">Автоэлектрика</a>

                <div class="footer-elems">
                    <label for="comp01" class="mobile-title" data-change-arrowFooter>
                        <a class="footer-element margin-b-0">О компании</a>
                        <svg class="i-icon vector-filter-mobile phone-big reverse-h">
                            <use xlink:href="#vector-big"></use>
                        </svg>
                    </label>
                    <input type="checkbox" id="comp01" class="checker"/>
                    <div class="toggle mobile-toggles">
                        <a class="mobile-element">Все товары</a>
                        <a class="mobile-element">Смазки</a>
                        <a class="mobile-element">Присадки</a>
                        <a class="mobile-element">Ароматизаторы</a>
                        <a class="mobile-element">Моторные масла</a>
                        <a class="mobile-element">Трансмиссионные масла и ГУР</a>
                    </div>
                    <a class="footer-element">Оплата и доставка</a>
                    <a class="footer-element">Как купить</a>
                    <a class="footer-element">Новости</a>
                    <a class="footer-element">Контакты</a>
                </div>
            </div>
            <div class="mobile-low">
                <div class="menu_phone container-custom">
                    <a class="menu-phone_a" href="tel:+78124674347">+7 (812) 467-43-47</a>
                </div>
                <div class="menu_location container-custom">
                    <img src="./images/icons/icon-location.svg" alt="icon" class="header-location__img">
                    <a class="menu-location__p" data-fancybox data-animation-duration="700" data-src="#chose-town">Санкт-Петербург</a>
                </div>
                <div class="mobile_help">
                    <button class="mobile-help__button" data-fancybox data-animation-duration="700" data-src="#all">
                        <img src="./images/icons/face.png" alt="face" class="menu-help__img">
                        <!--                            <svg class="header-help__img i-icon">-->
                        <!--                                <use xlink:href="#face"/>-->
                        <!--                            </svg>-->
                        <span class="mobile-help__span">Помощь менеджера</span>

                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cart" class="cart-modal">
    <span class="cart-title">Добавить в корзину</span>
    <p class="common">Аккумулятор Delta Battery AGM VRLA, 12 V 7 ah</p>
    <div class="flex">
        <div class="inp">
            <div class="custom-value-checker">
                <div class="number">
                    <button class="number-minus" type="button"  value-check-minus>
                        <svg class="i-icon plus">
                            <use xlink:href="#minus"></use>
                        </svg>
                    </button>
                    <input type="number" min="1" value="1" >
                    <button class="number-plus" type="button" value-check-plus >
                        <svg class="i-icon plus">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <p class="small-grey">из 10 657 шт</p>
        </div>
        <svg class=" i-icon orange-basket">
            <use xlink:href="#orange-basket"/>
        </svg>
    </div>
    <textarea name="" id="" cols="30" rows="10" class="common-textarea"
              placeholder="Ваш комментарий к заказу"></textarea>
</div>

<div id="fast-order" class="modal">
    <div class="flex-100 h100">
        <div class="modal-left"></div>
        <div class="modal-right">
            <div class="modal__right-tabs">
                <span class="authorization-h1">Быстрый заказ</span>

                <!--                Основная авторизация-->
                <div class="authorization-tabs">
                    <p class="common-p bold">Отправьте заявку и наш менеджер предложит вам оптимальный вариант
                        доставки</p>


                    <div class="modal__right-content-small">
                        <div class="none current">

                            <form class="modal__form" action="">
                                <script>
                                    var d = 0;
                                    function completeNumber(root) {
                                        if (d == 0) {
                                            root.value = "+7";
                                            d = 1;
                                            console.log('d = ', d);
                                        }
                                    }
                                </script>
                                <!-- ШАГ 1 (чекбоксы и инпут с телефоном)   -->
                                <div class="modal__right__content-phone ">
                                    <div class="flex-100 flex-space">
                                        <label for="name-fast_order" class="label-margin w-45pr flex-100 wrap m-0">
                                            <input type="text" autocomplete="off" id="name-fast_order"
                                                   class="content__phone-input w-100pr"
                                                   placeholder="Ваше имя"
                                                   data-input-required="name">
                                        </label>

                                        <label for="phone-fast_order" class="label-margin w-45pr flex-100 wrap m-0">
                                            <input type="tel" id="phone-fast_order" class="content__phone-input w-100pr"
                                                   placeholder="+7 (000) 000-00-00"
                                                   data-inputmask data-input-required="phone" autocomplete="off"
                                                   onclick="completeNumber(this)">
                                        </label>
                                    </div>
                                    <div class="flex-100 flex-space margin-t-30">
                                        <label for="hidden" class="label-margin w-45pr flex-100 wrap m-0 opacity-0">
                                            <input type="text" id="hidden" class="content__phone-input w-100pr">
                                        </label>
<!--                                        Вариант 1-->
<!--                                        <div>-->
<!--                                            <button class="white-btn-basket w-45pr"><a>Получить код</a></button>-->
<!--                                        </div>-->
                                        <!--                                        Вариант 2-->
                                        <div class="label-margin w-45pr flex-100 wrap m-0">
                                            <label for="number-fast_order" class="w-100pr">
                                                <input type="text" autocomplete="off" id="number-fast_order"
                                                       class="content__phone-input w-100pr"
                                                       placeholder="Код из смс"
                                                       data-input-required="">
                                            </label>
                                            <p class="black inline">Получить код повторно через <a class="orange"> 00:55 сек</a></p>
<!--                                            <p class="blue-code fit-content">Получить код повторно</p>-->

                                        </div>
                                    </div>
                                    <div class="checkers">
                                        <div class="checkbox">
                                            <div class="checkbox__label">
                                                <input type="checkbox" id="check-fast_order2" class="checkbox__input"
                                                       data-input-required="checkbox">
                                                <div class="checkbox__emulator">
                                                    <svg class=" i-icon fill-white">
                                                        <use xlink:href="#checked"/>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text black">
                                                    <label for="check-fast_order2" class="normal pointer">Нажимая кнопку
                                                        Отправить я даю свое
                                                        согласие с
                                                        <a class="orange">политикой конфиденциальности</a></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkbox">
                                            <label for="check-fast_order" class="checkbox__label">
                                                <input type="checkbox" id="check-fast_order" class="checkbox__input">
                                                <div class="checkbox__emulator ">
                                                    <svg class=" i-icon fill-white">
                                                        <use xlink:href="#checked"/>
                                                    </svg>
                                                </div>
                                                <div class="checkbox__text black">
                                                    <span class="normal">Я представитель юредического лица</span>
                                                </div>
                                                <!--                                        <label for="ch-1" class="label"></label>-->
                                            </label>
                                        </div>
                                    </div>
                                    <button class="content__phone-btn opacity-03">Отправить заказ</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--                Конец основной авторизации-->
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="bundle.js"></script>