@import 'media.css';
@import "variables.css";

.filter-wrapper {
/*@media(--tablet-above) {*/
/*    display: none;*/
/*}*/
}
.bx-filter-parameters-box {
    margin-bottom: 18px;
    padding-bottom: 0;
    border-bottom: 1px solid #EDEDED;
}
.bx-filter-parameters-box-title {
    /*margin-bottom: 15px;*/
    /*font-family: 'Playfair Display';*/
    /*font-size: 24px;*/

    cursor: pointer;
    margin-bottom: 14px;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #F57E20;

}
.bx-filter-block__row {
&[data-bx-filter-row] {
     display: none;
     margin-top: 7px;
 }
}
.bx-filter-parameters-box-container {
&--flex {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: 0 -20px;
     padding-bottom: 32px;
 }
&:not(:last-child) {
     margin-bottom: 7px;
 }
}
.bx-filter-parameters-box-container-block {
    width: 50%;
    min-width: 50%;
    padding: 0 20px;
&:first-child {
     position: relative;
&:before {
     transform: rotate(-70deg);
     content: '';
     position: absolute;
     top: 20px;
     right: -12px;
     width: 20px;
     height: 1px;
     background-color: var(--c-black);
 }
}
.input {
    height: 45px;
    line-height: 27px;
    padding: 0 20px;
    font-weight: 500;
    font-size: 14px;
    background-color: #EDEDED;
    border-bottom: none;
}
}
.bx-ui-slider-track-container {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}
.bx-ui-slider-part {
    display: none;
}
.bx-filter .bx-ui-slider-track-container {
    padding-top: 65px;
    /*padding-bottom: 25px;*/
}
.bx-filter .bx-ui-slider-track {
    height: 3px;
}
.bx-filter .bx-ui-slider-range {
    z-index: 100;
}
.bx-filter .bx-ui-slider-handle {
    top: 97%;
    transform: translateY(-50%);
    width: 12px;
    min-width: 12px;
    height: 12px;
    margin: 0!important;
    background-color: #F57E20;

    /*border: 1px solid var(--c-black);*/
    border-radius: 100%;

    position: absolute;
    /*top: 100%;*/
    /*width: 22px;*/
    /*height: 22px;*/
    border-bottom: none;
}
.bx-ui-slider-pricebar-vd {
    background-color:#F57E20;
    /*height: 3px;*/
    /*height: 3px*/
}
.bx-ui-slider-pricebar-vn {
    height: 3px;
    margin: auto;
    background-color: #F57E20;
    z-index: 50!important;
}
.bx-ui-slider-pricebar-v {
    /*background-color: var(--c-orangee);*/
}

.bx-filter-block-toggle {
    margin-top: 16px;
}
.bx-filter-block-toggle__link {
    /*text-transform: uppercase;*/
    /*letter-spacing: 0.2em;*/
    /*font-size: 10px;*/
    /*font-weight: 600;*/
    color: #224089;
    cursor: pointer;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
.bx-filter-button-box {
    padding-top: 30px;
    border-top: 1px solid var(--c-black);
@media(max-width: 1200px) {
    padding-top: 0;
    .btn {
        margin-bottom: 20px;
    }
}
}
.bx-filter-reset {
    display: flex;
    align-items: center;
    padding: 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: var(--c-black);
    background-color: transparent;
    border: none;
    cursor: pointer;
span {
    transition: .3s;
}
&:hover {
     color: var(--c-orangee);
.bx-filter-reset__icon {
    background-color: var(--c-orangee);
    border-color: var(--c-orangee);
.i-icon {
    fill: white;
}
}
}
}
.bx-filter-reset__icon {
    position: relative;
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    border: 1px solid var(--c-black);
    border-radius: 100%;
    transition: .3s;
.i-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 12px;
    fill: var(--c-black);
    transition: .3s;
}
}

.bx-filter-block{
    padding-bottom: 14px;
    display: block;
}

.toggle-catalog{
    display: none;
}

.toggle-catalog:checked + .bx-filter-block{
    display: none!important;
}