@import "media.css";
@import "variables.css";


.fancybox-slide{
    padding:0;
}

.fancybox-content, .fancybox-can-swipe, .fancybox-can-pan, .fancybox-slide, .fancybox-slide--html, .fancybox-slide--current, .fancybox-slide--complete{
    cursor: initial;
}

.fancybox-navigation{
    display: none;
}

.fancybox-is-open .fancybox-bg {
    opacity: 0;
    transition-timing-function: cubic-bezier(.22, .61, .36, 1);
}

.fancybox-button{
    color: #F57E20!important;
    svg{
        height: 28px!important;
        width: 28px!important;
    }
}

/**/
/*

   Styles for animated modal
   =========================

*/

/* Start state */
.modal-right {
    /*max-width: 550px;*/
    /*border-radius: 4px;*/
    overflow: hidden;

    transform: translateX(500px);
    transition: all .7s;
}

.modal-right h2,
.modal-right p {
    transform: translateX(500px);
    opacity: 0;

    transition-property: transform, opacity;
    transition-duration: .4s;
}

/* Final state */
.fancybox-slide--current .modal-right,
.fancybox-slide--current .modal-right h2,
.fancybox-slide--current .modal-right p {
    transform: translateX(0);
    opacity: 1;
}

/* Reveal content with different delays */
.fancybox-slide--current .modal-right h2 {
    transition-delay: .1s;
}

.fancybox-slide--current .modal-right p {
    transition-delay: .3s;
}

